<section class="flex flex-col max-w-screen-lg m-auto h-full">
    <div class="grid grid-cols-3 grid-flow-dense">
        <div hx-get="/h/dashboard/net-worth" hx-trigger="load">
            <div class="text-center">{% include "shared/spinner.jinja" %}</div>
        </div>
        {#<div hx-get="/h/dashboard/budget" hx-trigger="load">
            <div class="text-center">{% include "shared/spinner.jinja" %}</div>
        </div>#}
        {#<div hx-get="/h/dashboard/cash-flow" hx-trigger="load">
            <div class="text-center">{% include "shared/spinner.jinja" %}</div>
        </div>#}
        {#<div hx-get="/h/dashboard/retirement" hx-trigger="load">
            <div class="text-center">{% include "shared/spinner.jinja" %}</div>
        </div>#}
        {#<div hx-get="/h/dashboard/emergency-savings" hx-trigger="load">
            <div class="text-center">{% include "shared/spinner.jinja" %}</div>
        </div>#}
        {#<div hx-get="/h/dashboard/debt-paydown" hx-trigger="load">
            <div class="text-center">{% include "shared/spinner.jinja" %}</div>
        </div>#}
        {#<div hx-get="/h/dashboard/performance" hx-trigger="load">
            <div class="text-center">{% include "shared/spinner.jinja" %}</div>
        </div>#}
    </div>
</section>
