<section class="flex flex-col max-w-screen-lg m-auto h-full">
    <div class="grid grid-cols-3 grid-flow-dense gap-2">
        <div hx-get="{{ url_for("net_worth.dashboard") }}?no-defer"
             hx-trigger="load">
            <div class="text-center">{% include "shared/spinner.jinja" %}</div>
        </div>
        {#<div hx-get="/h/dashboard/budget" hx-trigger="load">
            <div class="text-center">{% include "shared/spinner.jinja" %}</div>
        </div>#}
        <div hx-get="{{ url_for("cash_flow.dashboard", period="8-months") }}&no-defer"
             hx-trigger="load">
            <div class="text-center">{% include "shared/spinner.jinja" %}</div>
        </div>
        {#<div hx-get="/h/dashboard/retirement" hx-trigger="load">
            <div class="text-center">{% include "shared/spinner.jinja" %}</div>
        </div>#}
        <div hx-get="{{ url_for("emergency_fund.dashboard") }}?no-defer"
             hx-trigger="load">
            <div class="text-center">{% include "shared/spinner.jinja" %}</div>
        </div>
        {#<div hx-get="/h/dashboard/debt-paydown" hx-trigger="load">
            <div class="text-center">{% include "shared/spinner.jinja" %}</div>
        </div>#}
        {#<div hx-get="/h/dashboard/performance" hx-trigger="load">
            <div class="text-center">{% include "shared/spinner.jinja" %}</div>
        </div>#}
    </div>
</section>
