<div id="accounts"
     class="w-full flex flex-col max-h-[25vh] overflow-y-auto"
     hx-swap-oob="{{ oob }}">
    <div class="header w-full flex justify-between font-bold border-b border-b-grey-200 sticky top-0 bg-white">
        <div class="w-[15rem] min-w-[15rem] p-1 truncate grow">Name</div>
        <div class="w-[8rem] min-w-[8rem] p-1 truncate text-right">Initial Balance</div>
        <div class="w-[8rem] min-w-[8rem] p-1 truncate text-right">Cash Flow</div>
        <div class="w-[8rem] min-w-[8rem] p-1 truncate text-right">End Balance</div>
        <div class="w-[8rem] min-w-[8rem] p-1 truncate text-right">Profit &amp; Loss</div>
        <div class="w-[8rem] min-w-[8rem] p-1 truncate text-right">MWRR p.a.</div>
    </div>
    {% if not defer %}
        {% for account in accounts["accounts"] %}
            {% include "performance/account-view.jinja" %}
        {% endfor %}
    {% endif %}
    <div id="accounts-total"
         class="w-full flex justify-between font-bold border-t border-t-grey-200 sticky bottom-0 bg-white">
        <div class="p-1 grow">Total</div>
        {% if not defer %}
            <div class="w-[8rem] min-w-[8rem] p-1 truncate text-right">{{ accounts["initial"] | money }}</div>
            <div class="w-[8rem] min-w-[8rem] p-1 truncate text-right">{{ accounts["cash_flow"] | money }}</div>
            <div class="w-[8rem] min-w-[8rem] p-1 truncate text-right">{{ accounts["end"] | money }}</div>
            <div class="w-[8rem] min-w-[8rem] p-1 truncate text-right">{{ accounts["profit"] | money }}</div>
            <div class="w-[8rem] min-w-[8rem] p-1 truncate text-right">{{ accounts["mwrr"] | percent }}</div>
        {% endif %}
    </div>
</div>
