<a id="account-{{ account["uri"] }}"
   class="w-full flex justify-between even:bg-grey-50 hover:bg-grey-100 cursor-pointer"
   href="{{ url_for('accounts.page', uri=account['uri']) }}"
   hx-get="{{ url_for('accounts.page', uri=account['uri']) }}"
   hx-target="#main"
   hx-swap="innerHTML"
   hx-push-url="true">
    <div class="w-[15rem] min-w-[15rem] p-1 truncate grow">{{ account["name"] }}</div>
    <div class="w-[8rem] min-w-[8rem] p-1 truncate text-right">{{ account["initial"] | money }}</div>
    <div class="w-[8rem] min-w-[8rem] p-1 truncate text-right">{{ account["cash_flow"] | money }}</div>
    <div class="w-[8rem] min-w-[8rem] p-1 truncate text-right">{{ account["end"] | money }}</div>
    <div class="w-[8rem] min-w-[8rem] p-1 truncate text-right text-{{ account["profit"] | pnl_color }}">
        {{ account["profit"] | money }}
    </div>
    <div class="w-[8rem] min-w-[8rem] p-1 truncate text-right text-{{ account["mwrr"] | pnl_color }}">
        {{ account["mwrr"] | percent }}
    </div>
</a>
