<div
  id="performance-config"
  class="flex justify-around gap-2"
  hx-swap-oob="{{ oob }}"
  hx-indicator="#performance-indicator"
  hx-target="#performance-chart-data"
>
  {% for value, label in chart.period_options.items() %}
    {% set btn_class = "btn-tonal" if value == chart.period else "btn-text" %}
    <button
      class="{{ btn_class }}"
      hx-get="{{ url_for('performance.chart', period=value) }}"
    >
      {{ label }}
    </button>
  {% endfor %}
</div>

{# TODO (WattsUp): Add index select & description
  <div class="flex items-center justify-center gap-1">
    Selected index
    <select
      name="index"
      autocomplete="off"
      hx-get="{{ url_for('performance.chart') }}"
    >
      {% for index, selected in chart["indices"].items() %}
        <option value="{{ index }}" {% if selected %}selected{% endif %}>
          {{ index }}
        </option>
      {% endfor %}
    </select>
    <div class="tooltip max-md:hidden">
      {% with class = "w-6 h-6 inline-block align-bottom" %}
        {% include "svg/help.svg" %}
      {% endwith %}
      <div
        class="tooltip-text after:border-b-grey-800 left-1/2 mt-1 -translate-x-1/2 font-sans after:bottom-full after:left-1/2 after:top-[unset] after:-ml-[4px]"
      >
        {{ chart["index_description"] }}
      </div>
    </div>
  </div>
#}
