<a class="bg-white p-2 cursor-pointer group flex flex-col min-h-[20rem] h-[20rem]"
   href="{{ url_for("performance.page") }}"
   hx-get="{{ url_for("performance.page") }}"
   hx-target="#main"
   hx-swap="innerHTML"
   hx-push-url="true">
    <div class="w-full flex space-between">
        <h1 class="text-xl align-left grow font-serif text-green-600 group-hover:underline group-hover:after:content-['»']">
            90-Day Performance
        </h1>
        <h1 class="text-lg">{{ data["profit"] | money }}</h1>
    </div>
    <div class="flex relative pl-1 border-l-4 border-blue group/row">
        <div class="truncate grow">Portfolio</div>
        <div class="min-w-[4rem] text-right text-{{ data["twrr"] | pnl_color }}">{{ data["twrr"] | percent }}</div>
        <div class="absolute left-0 bottom-0 h-0.5 bg-blue transition-[width] duration-500 w-0 group-hover/row:w-full"></div>
    </div>
    <div class="w-full grow overflow-y-auto">
        {% for index, twrr in data["indices"].items() %}
            <div class="flex relative pl-1 border-l-4 border-yellow group/row">
                <div class="truncate grow">{{ index }}</div>
                <div class="min-w-[4rem] text-right text-{{ twrr | pnl_color }}">{{ twrr | percent }}</div>
                <div class="absolute left-0 bottom-0 h-0.5 bg-yellow transition-[width] duration-500 w-0 group-hover/row:w-full"></div>
            </div>
        {% endfor %}
    </div>
</a>
