<div class="h-full overflow-y-auto">
  <a class="block m-2" href="/#todo">
    <div class="bg-green-800">
      <h1 class="text-white p-1 text-2xl flex justify-between">
        <span>Net Worth</span>
      </h1>
    </div>
    <div class="bg-white p-1">
      <h1 class="text-3xl ml-auto text-right">{{ context["net-worth"] | money }}</h1>
      <h2 class="flex justify-between pt-2">
        <span>Assets</span><span>{{ context["assets"] | money }}</span>
      </h2>
      <div class="h-1 bg-grey-400">
        <div class="bg-green h-full" style="width: {{ context['assets-w'] }}%"></div>
      </div>
      <h2 class="flex justify-between">
        <span>Liabilities</span><span>{{ context["liabilities"] | money }}</span>
      </h2>
      <div class="h-1 bg-grey-400">
        <div class="bg-blue h-full" style="width: {{ context['liabilities-w'] }}%"></div>
      </div>
    </div>
  </a>
  {% for cat, item in context["categories"].items() %}
    <div class="m-2">
      <a class="block bg-green-800" href="/#todo">
        <h1 class="text-white p-1 text-xl flex justify-between">
          <span>{{ cat.name | capitalize }}</span><span>{{ item[0] | money}}</span>
        </h1>
      </a>
      <div class="bg-white p-1">
        {% for acct in item[1] %}
          <a class="block nav-account" href="/#todo">
            <h1>
              <span>{{ acct["name"] }}</span><span>{{ acct["value"] | money }}</span>
            </h1>
            <h2>
              <span>{{ acct["institution"] }}</span>
              <span>updated
                {{ acct["updated_days_ago"] | days }}
                ago</span>
            </h2>
          </a>
          {% endfor%}
        </div>
      </div>
    {% endfor %}
  </div>
