<!DOCTYPE html>
{# djlint: off #}
{# ignore missing <head> #}
<html lang="en-US">
{# djlint: on #}
{% include "/shared/head.jinja" %}
<body hx-on::send-error="nummusSendError(event)"
      hx-on::response-error="nummusResponseError(event)"
      hx-target="#main">
    {% include "/shared/hx-error.jinja" %}
    {% include "/shared/nav-header.jinja" %}
    {% include "/shared/nav-rail.jinja" %}
    {% include "/shared/nav-drawer.jinja" %}
    <div id="main-wrapper">
        <main id="main">
            {% block content required %}
            {% endblock content %}
        </main>
        <div id="main-footer">
            <p>Copyright © {{ current_year }} nummus</p>
            <p>Version: {{ version }}</p>
        </div>
    </div>
    {% include "/shared/nav-bar.jinja" %}
    {% include "/shared/dialog.jinja" %}
    <div id="scrim"
         class="scrim z-47"
         onclick="dialog.close();nav.closeDrawer()"></div>
    <div id="confirm-dialog" class="dialog z-50 max-w-80"></div>
    <div id="confirm-scrim"
         class="scrim z-49"
         onclick="dialog.close('confirm-dialog')"></div>
</body>
</html>
