<!DOCTYPE html>
{# djlint: off #}
{# ignore missing <head> #}
<html lang="en-US">
{# djlint: on #}
{% include "/shared/head.jinja" %}
<body hx-swap="outerHTML"
      hx-on::send-error="nummusSendError(event)"
      hx-on::response-error="nummusResponseError(event)">
    {% include "/shared/hx-error.jinja" %}
    {% include "/shared/nav-header.jinja" %}
    {% include "/shared/nav-rail.jinja" %}
    {% include "/shared/nav-drawer.jinja" %}
    <main id="main">
        First line
        <br>
        {% for _ in range(100) %}
            Main content
            <br>
        {% endfor %}
        Last line
    </main>
    {% include "/shared/nav-bar.jinja" %}
</body>
</html>
