<!DOCTYPE html>
{# djlint: off #}
{# ignore missing <head> #}
<html lang="en-US">
{# djlint: on #}
{% include "/shared/head.jinja" %}
<body hx-on::send-error="nummusSendError(event)"
      hx-on::response-error="nummusResponseError(event)">
    {% include "/shared/hx-error.jinja" %}
    {% include "/shared/nav-header.jinja" %}
    {% include "/shared/nav-rail.jinja" %}
    {% include "/shared/nav-drawer.jinja" %}
    <div id="main-sizer">
        <main id="main">
            {% block content %}
                Nothing to see here
            {% endblock content %}
        </main>
    </div>
    {% include "/shared/nav-bar.jinja" %}
    {% include "/shared/dialog.jinja" %}
    <div id="scrim" class="scrim" onclick="dialog.close();nav.closeDrawer()"></div>
</body>
</html>
