<div id="{{ name }}-chart" class="w-full grow" hx-swap-oob="{{ oob }}">
    <div class="w-full h-full flex flex-col">
        <div id="{{ name }}-chart-bar"
             class="w-full flex opacity-0 transition-opacity text-sm">
            <div class="min-w-[50%] flex justify-end gap-4">
                <div id="{{ name }}-chart-date" class="w-28 text-right"></div>
                <div id="{{ name }}-chart-value" class="w-28 text-right">$</div>
            </div>
            <div class="min-w-[50%] flex justify-end gap-4 {% if no_change %}hidden{% endif %}">
                <div id="{{ name }}-chart-change-label">1-Day Change</div>
                <div id="{{ name }}-chart-change" class="mr-12 w-28 text-right"></div>
            </div>
        </div>
        <div class="w-full grow">
            <canvas id="{{ name }}-chart-canvas"></canvas>
        </div>
    </div>
</div>
