<div>
    <button class="btn-sq" onclick="dialog.close()">
        <icon>close</icon>
    </button>
    <h1>{{ headline }}</h1>
    {# TODO (WattsUp): Enable when all required fields are filled #}
    <button disabled>Save</button>
</div>
