<footer id="footer"
        class="bg-green-300 mt-auto border-t-green-800 border-t-4 text-center text-sm md:text-base shrink-0">
    <p class="pt-2">Copyright © {{ current_year }} nummus</p>
    <p class="pb-2">
        Version:
        {{ version }}
    </p>
</footer>
