<footer class="bg-green-300 mt-auto border-t-green-800 border-t-4">
    <p class="text-center text-black pt-5">Copyright © 2023 nummus</p>
    <p class="text-center text-black pb-5">
        Version:
        {{ version }}
    </p>
</footer>
