<header class="bg-green text-white fixed top-0 left-0 right-0 h-8 lg:h-12 z-40">
  <div class="max-w-7xl flex items-center h-full mx-auto">
    <div class="overflow-hidden h-full">
      <a href="/" class="block hover:text-green-900 transition-colors px-2 mt-[-6px]">
        <h1 class="font-title text-4xl lg:text-6xl">nummus</h1>
      </a>
    </div>
    <div class="ml-auto items-center h-full hidden lg:flex">
      <ul class="flex h-full">
        <li class="nav-list nav-list-text nav-list-l">
          Overview
          <ul>
            <li>
              <a href="/#todo">Dashboard</a>
            </li>
            <li>
              <a href="/#todo">Net Worth</a>
            </li>
            <li>
              <a href="/transactions">Transactions</a>
            </li>
            <li>
              <a href="/#todo">Instrument Transactions</a>
            </li>
          </ul>
        </li>
        <li class="nav-list nav-list-text nav-list-l">
          Banking
          <ul>
            <li>
              <a href="/#todo">Cash Flow</a>
            </li>
            <li>
              <a href="/#todo">Budgeting</a>
            </li>
          </ul>
        </li>
        <li class="nav-list nav-list-text nav-list-l">
          Investing
          <ul>
            <li>
              <a href="/#todo">Holdings</a>
            </li>
            <li>
              <a href="/#todo">Instrument Transactions</a>
            </li>
            <li>
              <a href="/#todo">Balances</a>
            </li>
            <li>
              <a href="/#todo">Performance</a>
            </li>
            <li>
              <a href="/#todo">Allocation</a>
            </li>
            <li>
              <a href="/#todo">US Sectors</a>
            </li>
          </ul>
        </li>
        <li class="nav-list nav-list-text nav-list-l">
          Planning
          <ul>
            <li>
              <a href="/#todo">Future Net Worth</a>
            </li>
            <li>
              <a href="/#todo">Retirement</a>
            </li>
            <li>
              <a href="/#todo">Emergency Fund</a>
            </li>
            <li>
              <a href="/#todo">Investment</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="bg-white w-px h-8 ml-1"></div>
      <div class="nav-list nav-list-icon nav-list-r">
        {% include "svg/menu.svg" %}
        <ul>
          <li>
            <a href="/#todo">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
