<header class="bg-green text-white fixed top-0 left-0 right-0 h-8 md:h-12 z-40">
    <div class="max-w-7xl flex items-center h-full mx-auto"
         hx-target="#main"
         hx-swap="innerHTML"
         hx-push-url="true">
        <div class="overflow-hidden h-full">
            <a href="{{ url_for('dashboard.page') }}"
               hx-get="{{ url_for('dashboard.page') }}"
               class="block cursor-pointer hover:text-green-900 transition-colors px-2 mt-[-5px] md:mt-[-1px] lg:mt-[-6px]">
                <h1 class="font-title text-4xl md:text-5xl lg:text-6xl">nummus</h1>
            </a>
        </div>
        <div class="ml-auto items-center h-full flex">
            <div class="h-full hidden md:flex">
                {% for section, subpages in base["pages"].items() %}
                    <div class="nav-folder mx-1 relative">
                        <div class="nav-button hover:bg-green-800 py-1.5 px-1 lg:px-2 transition-colors text-3xl font-title cursor-pointer"
                             onclick="navigation.openDropdown(this)">{{ section }}</div>
                        <div class="nav-dropdown absolute min-w-full text-black font-serif bg-green-300">
                            {% for title, item in subpages.items() %}
                                <div class="border-l-green-800 border-l-4 text-xl whitespace-nowrap hover:bg-green-800 hover:text-white"
                                     onclick="navigation.closeDropdown()">
                                    {% if item[1] %}
                                        <div class="inset-0 px-2 py-1 block cursor-pointer"
                                             hx-get="{{ url_for(item[0]) }}"
                                             hx-target="#overlay"
                                             hx-push-url="false">{{ title }}</div>
                                    {% else %}
                                        <a class="inset-0 px-2 py-1 block cursor-pointer"
                                           href="{{ url_for(item[0]) }}"
                                           hx-get="{{ url_for(item[0]) }}">{{ title }}</a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="bg-white w-px h-8 ml-1 hidden md:block"></div>
            <div class="nav-folder h-12 w-12 relative">
                <div class="nav-button hover:bg-green-800 h-full transition-colors text-3xl font-title cursor-pointer"
                     onclick="navigation.openDropdown(this)">
                    <div class="nav-hamburger"></div>
                    <div class="nav-hamburger"></div>
                    <div class="nav-hamburger"></div>
                </div>
                <div class="nav-dropdown absolute min-w-full text-black font-serif bg-green-300 right-0">
                    {% for title, item in base["menu"].items() %}
                        <div class="border-r-green-800 border-r-4 text-xl whitespace-nowrap hover:bg-green-800 hover:text-white"
                             onclick="navigation.closeDropdown()">
                            {% if item[1] %}
                                <div class="inset-0 px-2 py-1 block cursor-pointer"
                                     hx-get="{{ url_for(item[0]) }}"
                                     hx-target="#overlay"
                                     hx-push-url="false">{{ title }}</div>
                            {% else %}
                                <a class="inset-0 px-2 py-1 block cursor-pointer"
                                   href="{{ url_for(item[0]) }}"
                                   hx-get="{{ url_for(item[0]) }}">{{ title }}</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                {# TODO (WattsUp): On sm: have full screen nav tree #}
            </div>
        </div>
    </div>
</header>
