<header class="bg-green text-white fixed top-0 left-0 right-0 h-8 lg:h-12 z-40">
    <div class="max-w-7xl flex items-center h-full mx-auto">
        <div class="overflow-hidden h-full">
            <a href="{{ url_for("dashboard.page_home") }}"
               class="block hover:text-green-900 transition-colors px-2 mt-[-6px]">
                <h1 class="font-title text-4xl lg:text-6xl">nummus</h1>
            </a>
        </div>
        <div class="ml-auto items-center h-full hidden lg:flex">
            <ul class="flex h-full">
                {% for section, subpages in base["pages"].items() %}
                    <li class="hover:bg-green-800 transition-colors p-2 mx-1 cursor-default text-3xl relative font-title h-full group">
                        {{ section }}
                        <ul class="invisible absolute bg-green-300 text-black font-serif top-12 min-w-full transition-transform scale-y-0 origin-top group-hover:visible group-hover:scale-y-100 left-0">
                            {% for title, url in subpages.items() %}
                                <li class="border-l-green-800 border-l-4 text-xl whitespace-nowrap hover:bg-green-800 hover:text-white">
                                    <a href="{{ url_for(url) }}" class="inset-0 px-2 py-1 block">{{ title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            <div class="bg-white w-px h-8 ml-1"></div>
            <div class="h-12 w-12 relative p-2 group">
                {% with class="fill-white transition-colors w-[32px] h-[32px] group-hover:fill-green-900" %}
                    {% include "svg/menu.svg" %}
                {% endwith %}
                <ul class="invisible absolute bg-green-300 text-black font-serif top-12 min-w-full transition-transform scale-y-0 origin-top group-hover:visible group-hover:scale-y-100 right-0">
                    {% for title, url in base["menu"].items() %}
                        <li class="border-r-green-800 border-r-4 text-xl whitespace-nowrap hover:bg-green-800 hover:text-white">
                            <a href="{{ url_for(url) }}" class="inset-0 px-2 py-1 block">{{ title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</header>
