<div id="hx-error"
     class="fixed top-0 w-full z-50 bg-red-500 flex items-center justify-center text-black p-2 hidden">
    <icon>error</icon>
    {# djlint: off #}
        <span></span>
    {# djlint: on #}
</div>
