<header
  id="nav-header"
  hx-target="#main"
  hx-push-url="true"
  hx-swap="innerHTML show:window:top"
>
  <icon class="nav-opener" onclick="nav.openDrawer()">menu</icon>
  <a
    href="{{ url_for('common.page_dashboard') }}"
    hx-disabled-elt="this"
    hx-get="{{ url_for('common.page_dashboard') }}"
    >nummus</a
  >
</header>
