<header id="nav-header">
    <icon class="nav-opener" onclick="nav.openDrawer()">menu</icon>
    <a href="{{ url_for('dashboard.page') }}"
       hx-target="#main"
       hx-swap="innerHTML"
       hx-push-url="true"
       hx-disabled-elt="this"
       hx-get="{{ url_for('dashboard.page') }}">nummus</a>
</header>
