<div id="nav-drawer">
    <a href="{{ url_for('dashboard.page') }}"
       hx-target="#main"
       hx-swap="innerHTML"
       hx-push-url="true"
       hx-get="{{ url_for('dashboard.page') }}">nummus</a>
    <section class="w-min">
        <label>
            <button class="fab-green">
                <icon>add</icon>
                <div>Transaction</div>
            </button>
        </label>
    </section>
    {% for group_label, group in nav_items %}
        {% if not loop.first %}<div class="h-px bg-grey-900 dark:bg-white"></div>{% endif %}
        <section>
            {% if group_label %}<h1>{{ group_label }}</h1>{% endif %}
            {% for label, (icon, endpoint, link, is_active) in group.items() %}
                {% set btn = "btn-tonal-green" if is_active else "btn-text-green" %}
                <label class="{{ 'font-bold' if is_active }}">
                    <button class="{{ btn }} {{ 'text-grey-900 dark:text-white' if not is_active }}">
                        <icon class="{{ 'filled' if is_active }}">{{ icon }}</icon>
                        <div>{{ label }}</div>
                    </button>
                </label>
            {% endfor %}
        </section>
    {% endfor %}
    <div class="text-sm text-center">
        <p>Copyright © {{ current_year }} nummus</p>
        <p class="truncate">
            Version:
            {{ version }}
        </p>
        {% include "/shared/theme-selector.jinja" %}
        {# Set radio buttons once buttons load #}
        <script>updateTheme();</script>
    </div>
</div>
<div id="nav-scrim"></div>
