<div id="overlay"
     class="absolute inset-0 z-50 flex empty:hidden"
     hx-swap-oob="{{ oob }}"
     hx-target="#overlay"
     hx-on::oob-before-swap="overlayEditor.anyPendingChanges = false">{{ content | safe }}</div>
{# TODO (WattsUp): On sm: have all edit dialogs use full screen size #}
{# TODO (WattsUp): On md: investigae edit dialogs sizing #}
