<div id="overlay"
     class="absolute inset-0 z-50 flex empty:hidden"
     hx-swap-oob="{{ oob }}"
     hx-target="#overlay"
     hx-on::oob-before-swap="transactionEditor.anyPendingChanges = false">{{ content | safe }}</div>
