<div id="sidebar"
     class="sidebar-container"
     hx-get="{{ url_for("common.sidebar") }}"
     hx-trigger="update-account from:body"
     hx-target="#sidebar">
    <nav class="sidebar">
        <a class="block m-2" todo="/#todo">
            <div class="bg-green-800">
                <h1 class="text-white p-1 text-2xl flex justify-between">
                    <span>Net Worth</span>
                </h1>
            </div>
            <div class="bg-white p-1">
                <h1 class="text-3xl ml-auto text-right">{{ sidebar["net-worth"] | money }}</h1>
                <h2 class="flex justify-between pt-2">
                    <span>Assets</span><span>{{ sidebar["assets"] | money }}</span>
                </h2>
                <div class="h-1 bg-grey-400">
                    <div class="bg-green h-full" style="width: {{ sidebar['assets-w'] }}%"></div>
                </div>
                <h2 class="flex justify-between">
                    <span>Liabilities</span><span>{{ sidebar["liabilities"] | money }}</span>
                </h2>
                <div class="h-1 bg-grey-400">
                    <div class="bg-blue h-full" style="width: {{ sidebar['liabilities-w'] }}%"></div>
                </div>
            </div>
        </a>
        {% if sidebar["include_closed"] %}
            <a class="m-2 bg-white border-red border-2 p-1 text-center block transition-colors hover:bg-green-900 hover:text-white hover:border-green-900"
               hx-get="{{ url_for("common.sidebar") }}?closed=excluded">
                Closed accounts marked with red borders. Click to hide.
            </a>
        {% endif %}
        {% for cat, item in sidebar["categories"].items() %}
            <div class="m-2">
                <a class="block bg-green-800" todo="/#todo">
                    <h1 class="text-white p-1 text-xl flex justify-between">
                        <span>{{ cat.name | capitalize }}</span><span>{{ item[0] | money }}</span>
                    </h1>
                </a>
                <div class="bg-white">
                    {% for acct in item[1] %}
                        <a class="block nav-account {{ 'closed' if acct['closed'] }}">
                            <object>
                                <a hx-get="{{ url_for('account.edit', uri=acct['uri']) }}"
                                   hx-target="#overlay"
                                   hx-swap="innerHTML">{% include "svg/pencil.svg" %}</a>
                            </object>
                            <h1>
                                <span>{{ acct["institution"] }}</span><span>{{ acct["value"] | money }}</span>
                            </h1>
                            <h2>
                                <span>{{ acct["name"] }}</span>
                                <span>txn
                                    {{ acct["updated_days_ago"] | days }}
                                ago</span>
                            </h2>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div class="flex flex-col items-center mb-2">
            {% if sidebar["include_closed"] %}
                <span>Included
                    {{ sidebar["n_closed"] }}
                    closed accounts
                </span>
                <a class="button bg-white"
                   hx-get="{{ url_for("common.sidebar") }}?closed=excluded">Click to hide</a>
            {% else %}
                <span>Excluded
                    {{ sidebar["n_closed"] }}
                    closed accounts
                </span>
                <a class="button bg-white"
                   hx-get="{{ url_for("common.sidebar") }}?closed=included">Click to show</a>
            {% endif %}
        </div>
    </nav>
</div>
