<nav class="h-full overflow-y-auto bg-green-300 w-72 font-serif h-full">
  <a class="block m-2" href="/#todo">
    <div class="bg-green-800">
      <h1 class="text-white p-1 text-2xl flex justify-between">
        <span>Net Worth</span>
      </h1>
    </div>
    <div class="bg-white p-1">
      <h1 class="text-3xl ml-auto text-right">{{ sidebar["net-worth"] | money }}</h1>
      <h2 class="flex justify-between pt-2">
        <span>Assets</span><span>{{ sidebar["assets"] | money }}</span>
      </h2>
      <div class="h-1 bg-grey-400">
        <div class="bg-green h-full" style="width: {{ sidebar['assets-w'] }}%"></div>
      </div>
      <h2 class="flex justify-between">
        <span>Liabilities</span><span>{{ sidebar["liabilities"] | money }}</span>
      </h2>
      <div class="h-1 bg-grey-400">
        <div class="bg-blue h-full" style="width: {{ sidebar['liabilities-w'] }}%"></div>
      </div>
    </div>
  </a>
  {% for cat, item in sidebar["categories"].items() %}
    <div class="m-2">
      <a class="block bg-green-800" href="/#todo">
        <h1 class="text-white p-1 text-xl flex justify-between">
          <span>{{ cat.name | capitalize }}</span><span>{{ item[0] | money}}</span>
        </h1>
      </a>
      <div class="bg-white p-1">
        {% for acct in item[1] %}
          <a class="block nav-account">
            <object>
              <a hx-get="/h/accounts/{{ acct['uuid'] }}/edit" hx-target="#overlay" hx-swap="outerHTML">
                <svg viewbox="0 0 24 24">
                  <path d="M4 21a1 1 0 0 0 .24 0l4-1a1 1 0 0 0 .47-.26L21 7.41a2 2 0 0 0 0-2.82L19.42 3a2 2 0 0 0-2.83 0L4.3 15.29a1.06 1.06 0 0 0-.27.47l-1 4A1 1 0 0 0 3.76 21 1 1 0 0 0 4 21zM18 4.41 19.59 6 18 7.59 16.42 6zM5.91 16.51 15 7.41 16.59 9l-9.1 9.1-2.11.52z"/>
                </svg>
              </a>
            </object>
            <h1>
              <span>{{ acct["institution"] }}</span><span>{{ acct["value"] | money }}</span>
            </h1>
            <h2>
              <span>{{ acct["name"] }}</span>
              <span>txn
                {{ acct["updated_days_ago"] | days }}
                ago</span>
            </h2>
          </a>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</nav>
