<div class="spinner">
    <div class="m-auto lds-roller">
        {# djlint: off #}
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        {# djlint: on #}
    </div>
</div>
