<div class="spinner">
    <div class="m-auto lds-roller">
        {# djlint: off H020b #}
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        {# djlint: on #}
    </div>
</div>
