<div class="lds-roller">
    {# djlint: off #}
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    {# djlint: on #}
</div>
