<div id="txn-splits" class="grow overflow-y-scroll">
    {% for txn in splits %}
        <div class="w-full flex justify-between mt-1">
            <input name="payee"
                   value="{{ txn["payee"] or "" }}"
                   placeholder="Payee"
                   list="payees"
                   class="w-[12rem] min-w-[12rem] p-1 truncate"
                   autocomplete="off">
            <input name="description"
                   value="{{ txn["description"] or "" }}"
                   placeholder="Description"
                   class="w-[10rem] min-w-[10rem] p-1 truncate"
                   autocomplete="off">
            <select name="category"
                    class="w-[9rem] min-w-[9rem] p-1 truncate"
                    autocomplete="off">
                {% for item in categories %}
                    <option value="{{ item }}"
                            {% if item == txn["category"] %}selected{% endif %}>{{ item }}</option>
                {% endfor %}
            </select>
            <input name="tag"
                   value="{{ txn["tag"] or "" }}"
                   placeholder="Tag"
                   list="tags"
                   class="w-[11rem] min-w-[11rem] p-1 truncate"
                   autocomplete="off">
            <input name="amount"
                   value="{{ "%.2f" % txn["amount"] if txn["amount"] }}"
                   placeholder="Amount"
                   class="w-[7rem] min-w-[7rem] text-right p-1 truncate"
                   hx-post="{{ url_for("transactions.remaining", uri=parent["uri"]) }}"
                   hx-target="#txn-remaining"
                   hx-trigger="keyup changed"
                   autocomplete="off">
            {% if splits | length == 1 %}
                <div class="w-[24px] h-[24px] my-0.5"></div>
            {% else %}
                <button hx-delete="{{ url_for("transactions.split", uri=parent["uri"], index=loop.index) }}"
                        hx-target="#txn-splits">
                    {% with class="w-[24px] h-[24px] my-0.5" %}
                        {% include "svg/trash.svg" %}
                    {% endwith %}
                </button>
            {% endif %}
        </div>
    {% endfor %}
</div>
