{% if txn.uri %}
    {% with headline="Edit transaction", save_url=url_for("transactions.transaction", uri=txn.uri) %}
        {% include "/shared/dialog-headline.jinja" %}
    {% endwith %}
{% else %}
    {% with headline="New transaction", save_url=url_for("transactions.new"), save_method="post" %}
        {% include "/shared/dialog-headline.jinja" %}
    {% endwith %}
{% endif %}
{% set is_split = (txn.splits | length) > 1 %}
{% if is_split %}
    {% set form_class = "full-screen grid-cols-2 md:grid-cols-4 md:w-3xl" %}
    {% set parent_class = "md:col-span-2" %}
    {% set split_class = "" %}
    {% set split_class_2 = "md:col-span-2" %}
{% else %}
    {% set form_class = " grid-cols-1 md:grid-cols-6 md:w-xl" %}
    {% set parent_class = "md:col-span-3" %}
    {% set split_class = "md:col-span-2" %}
    {% set split_class_2 = "md:col-span-4" %}
{% endif %}
<form class="grid gap-x-2 gap-y-1 {{ form_class }}" onsubmit="return false">
    <datalist id="payees">
        {% for item in txn.payees %}<option value="{{ item | e }}">{{ item }}</option>{% endfor %}
    </datalist>
    <datalist id="tags">
        {% for item in txn.tags %}<option value="{{ item | e }}">{{ item }}</option>{% endfor %}
    </datalist>
    {# TODO (WattsUp): Add a manual clear button with confirmation #}
    {% if txn.cleared %}
        <div class="flex items-center gap-1 {{ parent_class }}">
            <icon>account_balance</icon>Account: {{ txn.account }}
        </div>
        <div class="flex items-center gap-1 {{ parent_class }}">
            <icon>attach_money</icon>Amount: {{ txn.amount | money }}
        </div>
        <input name="account" type=hidden value="{{ txn.account_uri }}">
        <input name="amount" type=hidden value="{{ txn.amount }}">
    {% else %}
        <label class="input-outlined input-bg-surface-container-high {{ parent_class }}">
            <select name="account" required autocomplete="off">
                <option value=""
                        disabled
                        hidden
                        {% if not txn.account_uri %}selected{% endif %}></option>
                {% for value, label, disabled in txn.accounts %}
                    <option value="{{ value }}"
                            {% if disabled %}disabled hidden{% endif %}
                            {% if value == txn.account_uri %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
            <icon>account_balance</icon>
            <div>
                <div>Account</div>
            </div>
        </label>
        <label class="input-outlined input-bg-surface-container-high {{ parent_class }}">
            <input name="amount"
                   required
                   enterkeyhint="next"
                   placeholder=""
                   value="{{ "%.2f" % txn.amount if txn.amount }}"
                   hx-target="next error"
                   hx-trigger="input delay:200ms"
                   hx-include="#dialog [name=split-amount], this"
                   hx-get="{{ url_for('transactions.validation', uri=txn.uri) }}"
                   autocomplete="off">
            <icon>attach_money</icon>
            <div>
                <div>Amount</div>
            </div>
            <div>
                <error></error>
                <span>Inflow (+)/Outflow(-)</span>
            </div>
        </label>
    {% endif %}
    <label class="input-outlined input-bg-surface-container-high {{ parent_class }}"
           title="Original statement: {{ txn.statement }}">
        <input name="payee"
               required
               enterkeyhint="next"
               placeholder=""
               value="{{ txn.payee or "" }}"
               hx-target="next error"
               hx-trigger="input delay:200ms"
               hx-include="this"
               hx-get="{{ url_for('transactions.validation', uri=txn.uri) }}"
               list="payees"
               autocomplete="off">
        <icon>store</icon>
        <div>
            <div>Payee/Payor</div>
        </div>
        <div>
            <error></error>
            <span>Statement: {{ txn.statement }}</span>
        </div>
    </label>
    <label class="input-outlined input-bg-surface-container-high {{ parent_class }}">
        <input name="date"
               type="date"
               required
               enterkeyhint="next"
               placeholder=""
               value="{{ txn.date or "" }}"
               autocomplete="off">
        <icon>event</icon>
        <div>
            <div>Date</div>
        </div>
        <div>
            <error></error>
        </div>
    </label>
    {% for split in txn.splits %}
        <hr>
        {% if split.asset_name %}
            <div class="flex items-center gap-1 {{ parent_class }}">
                <icon>box</icon>
                {% if split.asset_quantity > 0 %}
                    Buy
                {% elif split.asset_quantity == 0 %}
                    {% if split.amount > 0 %}
                        Dividend from
                    {% else %}
                        Fee from
                    {% endif %}
                {% else %}
                    Sell
                {% endif %}
                {% if split.asset_ticker %}{{ split.asset_ticker }}:{% endif %}
                {{ split.asset_name }}
            </div>
            <div class="flex items-center gap-1 {{ parent_class }}">
                {% if split.asset_quantity %}
                    <icon>money_bag</icon>
                    {{ split.asset_quantity | abs | qty }} shares
                    @
                    {{ split.asset_price | money }}
                {% endif %}
            </div>
            <div class="flex items-center gap-1 md:mt-1 md:mb-5 {{ split_class }}">
                <icon>category</icon>{{ split.category }}
                <input name="category" type=hidden value="{{ split.category_uri }}">
            </div>
        {% else %}
            <label class="input-outlined input-bg-surface-container-high {{ split_class }}">
                <select name="category" required autocomplete="off">
                    {% for value, label, disabled in txn.categories %}
                        <option value="{{ value }}"
                                {% if disabled %}disabled hidden{% endif %}
                                {% if value == split.category_uri %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <icon>category</icon>
                <div>
                    <div>Category</div>
                </div>
            </label>
        {% endif %}
        <label class="input-outlined input-bg-surface-container-high {{ split_class }}">
            <input name="memo"
                   enterkeyhint="next"
                   placeholder=""
                   value="{{ split.memo or "" }}"
                   hx-target="next error"
                   hx-trigger="input delay:200ms"
                   hx-include="this"
                   hx-get="{{ url_for('transactions.validation', uri=txn.uri) }}"
                   autocomplete="off">
            <icon>notes</icon>
            <div>
                <div>Memo (optional)</div>
            </div>
            <div>
                <error></error>
            </div>
        </label>
        <label class="input-outlined input-bg-surface-container-high {{ split_class }}">
            <input name="tag"
                   enterkeyhint="next"
                   placeholder=""
                   value="{{ split.tag or "" }}"
                   list="tags"
                   hx-target="next error"
                   hx-trigger="input delay:200ms"
                   hx-include="this"
                   hx-get="{{ url_for('transactions.validation', uri=txn.uri) }}"
                   autocomplete="off">
            <icon>label</icon>
            <div>
                <div>Tag (optional)</div>
            </div>
            <div>
                <error></error>
            </div>
        </label>
        {% if is_split %}
            <label class="input-outlined input-bg-surface-container-high {{ split_class }}">
                <input name="split-amount"
                       enterkeyhint="next"
                       placeholder=""
                       value="{{ "%.2f" % split.amount if split.amount }}"
                       hx-target="next error"
                       hx-trigger="input delay:200ms"
                       hx-include="this, #dialog [name=split-amount], #dialog [name=amount]"
                       hx-get="{{ url_for('transactions.validation', uri=txn.uri, split=True) }}"
                       autocomplete="off">
                <icon>attach_money</icon>
                <div>
                    <div>Split Amount</div>
                </div>
                <div>
                    <error></error>
                </div>
            </label>
        {% endif %}
    {% endfor %}
</form>
{% if is_split %}
    <div class="text-center italic text-sm">Simply leave a split amount empty when saving to remove</div>
{% endif %}
<div class="flex justify-around">
    <button class="btn-text"
            hx-target="#dialog"
            hx-include="#dialog form"
            hx-swap="innerHTML show:#dialog:bottom"
            hx-put="{{ url_for('transactions.split', uri=txn.uri) }}">Add Splits</button>
    {% if txn.similar_uri %}
        <button class="btn-text"
                hx-delete="{{ url_for('transactions.split', uri="arst") }}"
                disabled>Copy Similar</button>
    {% endif %}
    {% if txn.uri and not txn.cleared %}
        <button class="btn-text-error"
                onclick="txn.confirmDelete(event)"
                hx-trigger="delete"
                hx-delete="{{ url_for('transactions.transaction', uri=txn.uri) }}">Delete</button>
    {% endif %}
</div>
<div id="dialog-error" class="error"></div>
<script>dialog.onLoad()</script>
