<a class="absolute inset-0 bg-grey-500 opacity-50 z-[-1]" hx-get="/h/none" hx-target="#overlay"></a>
<div class="w-[900px] h-[580px] max-h-[90vh] bg-white opacity-100 m-auto flex flex-col pt-2">
  <a hx-get="/h/none" hx-target="#overlay" class="ml-auto px-6">
    {% with class="w-[32px] h-[32px]" %}
    {% include "svg/x.svg" %}
    {% endwith %}
  </a>
  <h1 class="font-serif text-4xl px-6 text-green-600">Edit transaction</h1>
  <datalist id="payees">
    {% for item in payees %}
      <option value="{{ item }}">{{ item }}</option>
    {% endfor %}
  </datalist>
  <datalist id="tags">
    {% for item in tags %}
      <option value="{{ item }}">{{ item }}</option>
    {% endfor %}
  </datalist>
  <form class="flex flex-col w-full px-6 grow" id="form-txn">
    <table class="w-full">
      <tbody>
        <tr>
          <td>Date</td>
          <td><input class="w-full" name="date" type="date" value="{{ parent['date'] }}"></td>
          <td class="w-8"></td>
          <td>Total Amount</td>
          <td>{{ parent["amount"] | money }}</td>
        </tr>
        <tr>
          <td>Account Name</td>
          <td>{{ parent["account"] }}</td>
          <td class="w-8"></td>
          <td>Transaction Locked</td>
          <td>
            <label class="checkbox">
              <input type="checkbox" name="locked" {{ "checked" if parent["locked"] }}>
              {% with class = "w-6 h-6" %}
              {% include "svg/lock.svg" %}
              {% endwith %}
            </label>
          </td>
        </tr>
      </tbody>
    </table>
    <hr class="w-full border-grey-200">
    <div id="txn-splits" class="grow overflow-y-scroll">
      {% for txn in splits %}
        <div class="split-row">
          <input name="payee" value="{{ txn['payee'] }}" placeholder="Payee" list="payees" class="col col-payee">
          <input name="description" value="{{ txn['description'] }}" placeholder="Description" class="col col-desc">
          <select name="category" class="col col-cat">
            {% for item in categories %}
              <option value="{{ item }}" {{ "selected" if item == txn["category"] }}>{{ item }}</option>
            {% endfor %}
          </select>
          <input name="tag" value="{{ txn['tag'] or '' }}" placeholder="Tag" list="tags" class="col col-tag">
          <input name="amount" value="{{ '%.2f' % txn['amount'] }}" placeholder="Amount" class="col-amount">
          <a>
            {% with class="w-[24px] h-[24px] my-0.5" %}
            {% include "svg/trash.svg" %}
            {% endwith %}
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="split-row">
      <h1 class="font-bold">Amount yet to be assigned</h1>
      <div>{{ parent["amount"] | money }}</div>
    </div>
  </form>
  {% if error %}
    <div class="w-full bg-red px-6 py-2 text-xl">
      {% with class="w-[24px] h-[24px] inline-block align-text-bottom" %}
      {% include "svg/error.svg" %}
      {% endwith %}
      {{ error }}
    </div>
  {% endif %}
  <div class="w-full h-16 bg-grey-100 flex justify-end items-center px-6 text-xl gap-4">
    <a hx-get="/h/transactions/t/{{ parent['uuid'] }}/add-split" hx-target="#txn-splits" hx-include="#form-txn" class="button hover:blue mr-auto">
      {% with class="w-[24px] h-[24px] inline-block align-text-bottom" %}
      {% include "svg/plus.svg" %}
      {% endwith %}
      Add split
    </a>
    <a hx-get="/h/none" hx-target="#overlay" class="button hover:green">Cancel</a>
    <a hx-post="/h/transactions/t/{{ parent['uuid'] }}/edit" hx-target="#overlay" hx-include="#form-txn" class="button bg-green">Save</a>
  </div>
</div>
