<div class="absolute inset-0 bg-grey-500 opacity-50 z-[-1] cursor-pointer max-md:hidden"
     hx-get="{{ url_for('common.empty') }}"
     hx-swap="innerHTML"
     hx-on::before-request="overlayEditor.beforeCancel(event)"></div>
<div class="w-full max-md:min-h-full md:w-[750px] md:h-[580px] md:max-h-[90vh] lg:w-[900px] bg-white opacity-100 m-auto flex flex-col py-2 px-6"
     hx-include="#form-txn">
    <div class="flex items-start mb-2">
        <h1 class="font-serif text-2xl text-green-600 grow">Edit transaction</h1>
        <button hx-get="{{ url_for('common.empty') }}"
                class="shrink-0"
                hx-swap="innerHTML">
            {% with class="w-[32px] h-[32px]" %}
                {% include "svg/x.svg" %}
            {% endwith %}
        </button>
    </div>
    <datalist id="payees">
        {% for item in payees %}<option value="{{ item | e }}">{{ item }}</option>{% endfor %}
    </datalist>
    <datalist id="tags">
        {% for item in tags %}<option value="{{ item | e }}">{{ item }}</option>{% endfor %}
    </datalist>
    <div class="flex flex-col w-full grow min-h-0" id="form-txn">
        <div class="flex w-full max-md:flex-col md:gap-4">
            <div class="flex flex-col grow min-h-7">
                <div class="flex gap-2 flex-wrap max-md:justify-between items-center">
                    <div class="w-20 shrink-1">Date</div>
                    <input name="date"
                           type="date"
                           value="{{ parent["date"] }}"
                           autocomplete="off">
                </div>
                <div class="flex gap-2 min-h-7 max-md:justify-between items-center">
                    <div class="w-20 shrink-1">Account</div>
                    <div>{{ parent["account"] }}</div>
                </div>
                <div class="flex gap-2 min-h-7 max-md:justify-between items-center">
                    <div class="w-20 shrink-1">Statement</div>
                    <div class="italic truncate">{{ parent["statement"] }}</div>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex gap-2 min-h-7 justify-between items-center">
                    <div class="w-28 shrink-1">Total Amount</div>
                    <div>{{ parent["amount"] | money }}</div>
                </div>
                <div class="flex gap-2 min-h-7 justify-between items-center">
                    <div class="w-28 shrink-1">Locked</div>
                    {% if parent["linked"] %}
                        <label class="checkbox">
                            <input type="checkbox"
                                   name="locked"
                                   {% if parent["locked"] %}checked{% endif %}
                                   autocomplete="off">
                            {% with class = "w-6 h-6" %}
                                {% include "svg/lock.svg" %}
                            {% endwith %}
                        </label>
                    {% else %}
                        {% with class = "w-6 h-6 fill-grey-600" %}
                            {% include "svg/lock.svg" %}
                        {% endwith %}
                    {% endif %}
                </div>
                <div class="flex gap-2 min-h-7 justify-between items-center">
                    <div class="w-28 shrink-1">Linked</div>
                    {% if parent["linked"] %}
                        {% with class = "w-6 h-6 fill-green" %}
                            {% include "svg/link.svg" %}
                        {% endwith %}
                    {% else %}
                        {% with class = "w-6 h-6 fill-grey-600" %}
                            {% include "svg/link.svg" %}
                        {% endwith %}
                    {% endif %}
                </div>
            </div>
        </div>
        <hr class="w-full border-grey-200">
        {% include "transactions/edit-splits.jinja" %}
        <div class="w-full flex justify-between mt-1">
            <h1 class="font-bold">Amount yet to be assigned</h1>
            {% include "transactions/edit-remaining.jinja" %}
        </div>
    </div>
    <div id="overlay-error"
         class="w-full bg-red p-1 text-xl empty:hidden my-1"></div>
    <div class="w-full flex justify-between items-center text-xl gap-2 flex-wrap">
        <button hx-post="{{ url_for('transactions.split', uri=parent['uri']) }}"
                hx-target="#txn-splits"
                class="button hover-blue">
            {% with class="w-[24px] h-[24px] inline-block align-text-bottom" %}
                {% include "svg/plus.svg" %}
            {% endwith %}
            Add split
        </button>
        <button hx-delete="{{ url_for('transactions.split', uri=parent['uri']) }}?all"
                hx-target="#txn-splits"
                hx-include="unset"
                class="button hover-red">
            {% with class="w-[24px] h-[24px] inline-block align-text-bottom" %}
                {% include "svg/trash.svg" %}
            {% endwith %}
            Clear splits
        </button>
        {% if similar_uri %}
            <button hx-get="{{ url_for('transactions.split', uri=parent['uri'], similar=similar_uri) }}"
                    hx-target="#txn-splits"
                    hx-include="unset"
                    class="button hover-yellow">
                {% with class="w-[24px] h-[24px] inline-block align-text-bottom" %}
                    {% include "svg/copy.svg" %}
                {% endwith %}
                Copy similar
            </button>
        {% endif %}
        {% if not parent["linked"] %}
            <button hx-delete="{{ url_for('transactions.transaction', uri=parent['uri']) }}"
                    hx-target="#overlay-error"
                    hx-swap="innerHTML"
                    hx-include="unset"
                    hx-confirm="Are you sure you wish to delete this unlinked transaction?"
                    class="button hover-red">
                {% with class="w-[24px] h-[24px] inline-block align-text-bottom" %}
                    {% include "svg/trash.svg" %}
                {% endwith %}
                Delete
            </button>
        {% endif %}
        <div class="grow"></div>
        <button hx-get="{{ url_for('common.empty') }}"
                class="button hover-green"
                hx-swap="innerHTML"
                hx-include="unset"
                hx-on::before-request="overlayEditor.beforeCancel(event)">Cancel</button>
        <button hx-put="{{ url_for('transactions.transaction', uri=parent['uri']) }}"
                hx-target="#overlay-error"
                hx-swap="innerHTML"
                class="button bg-green">Save</button>
    </div>
    <script>overlayEditor.addListeners("form-txn");</script>
</div>
