<div id="txn-splits" class="grow overflow-y-scroll">
  {% for txn in splits %}
    <div class="split-row">
      <input name="payee" value="{{ txn['payee'] or '' }}" placeholder="Payee" list="payees" class="col col-payee">
      <input name="description" value="{{ txn['description'] or '' }}" placeholder="Description" class="col col-desc">
      <select name="category" class="col col-cat">
        {% for item in categories %}
          <option value="{{ item }}" {{ "selected" if item == txn["category"] }}>{{ item }}</option>
        {% endfor %}
      </select>
      <input name="tag" value="{{ txn['tag'] or '' }}" placeholder="Tag" list="tags" class="col col-tag">
      <input name="amount" value="{{ '%.2f' % txn['amount'] if txn['amount'] }}" placeholder="Amount" class="col-amount" hx-post="{{ url_for('transaction.remaining', path_uuid=parent['uuid']) }}" hx-target="#txn-remaining" hx-trigger="keyup changed">
      {% if splits | length == 1 %}
        <div class="w-[24px] h-[24px] my-0.5"></div>
      {% else %}
        <a hx-delete="{{ url_for('transaction.split', path_uuid=parent['uuid']) }}?index={{ loop.index }}" hx-target="#txn-splits">
          {% with class="w-[24px] h-[24px] my-0.5" %}
          {% include "svg/trash.svg" %}
          {% endwith %}
        </a>
      {% endif %}
    </div>
  {% endfor %}
</div>
