{% extends "shared/base.html" %}

{% block content %}
  <section id="body" class="flex flex-col bg-white justify-center items-center max-w-screen-lg m-auto p-2">
    <h1 class="text-3xl align-left w-full font-serif">Transactions</h1>
    <div class="flex justify-end gap-1 w-full font-serif">
      <select>
        <option value="this-month">This Month</option>
        <option value="last-month">Last Month</option>
        <option value="30-days">30 Days</option>
        <option value="90-days">90 Days</option>
        <option value="1-year">1 year</option>
        <option value="5-years">5 years</option>
        <option value="this-year">This Year</option>
        <option value="last-year">Last Year</option>
        <option value="all">All</option>
        <option value="custom" hidden="hidden">Custom</option>
      </select>
      <input type="date">
      to
      <input type="date">
    </div>
    <table class="w-full">
      <thead class="border-b border-b-grey-200">
        <th>Date</th>
        <th>Account</th>
        <th>Payee</th>
        <th>Description</th>
        <th>Category</th>
        <th>Tag</th>
        <th>Amount</th>
      </thead>
      <tbody>
        {% for txn in transactions["page"] %}
          <tr>
            <td>{{ txn["date"] }}</td>
            <td>{{ txn["account"] }}</td>
            <td>{{ txn["payee"] }}</td>
            <td>{{ txn["description"] }}</td>
            <td>{{ txn["category"] }}</td>
            <td>{{ txn["tag"] or "" }}</td>
            <td>{{ txn["amount"] | money }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
    <span>Page Total</span>
    <span></span>
    </div>
  </section>
{% endblock content %}
