<div class="absolute inset-0 bg-grey-500 opacity-50 z-[-1] cursor-pointer max-md:hidden"
     onclick="overlayEditor.close()"></div>
<div class="w-full max-md:min-h-full md:w-[500px] md:h-[400px] md:max-h-[90vh] bg-white opacity-100 m-auto flex flex-col py-2 px-6"
     hx-include="#form-txn">
    <div class="flex items-start mb-2">
        <h1 class="font-serif text-2xl text-green-600 grow">New transaction</h1>
        <button class="shrink-0" onclick="overlayEditor.close()">
            {% with class="w-[32px] h-[32px]" %}
                {% include "svg/x.svg" %}
            {% endwith %}
        </button>
    </div>
    <div class="flex w-full gap-1 min-h-0 flex-col grow" id="form-txn">
        <div class="flex gap-1 flex-wrap min-h-7 items-center">
            <div class="w-28 shrink-1">Date</div>
            <input class="grow"
                   name="date"
                   type="date"
                   value="{{ parent["date"] }}"
                   autocomplete="off">
        </div>
        <div class="flex gap-1 flex-wrap min-h-7 items-center">
            <div class="w-28 shrink-1">Account Name</div>
            <select class="grow" name="account" autocomplete="off">
                {% for item in accounts %}
                    <option value="{{ item | e }}"
                            {% if item == parent["account"] %}selected{% endif %}>{{ item }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="flex gap-1 flex-wrap min-h-7 items-center">
            <div class="w-28 shrink-1">Total Amount</div>
            <input name="amount"
                   inputmode="tel"
                   value="{{ parent["amount"] or "" }}"
                   placeholder="Amount"
                   class="grow"
                   autocomplete="off"
                   autofocus>
        </div>
        <div class="flex gap-1 flex-wrap min-h-7 items-center">
            <div class="w-28 shrink-1">Statement</div>
            <input name="statement"
                   value="{{ (parent["statement"] or "") | e }}"
                   placeholder="Manually added"
                   class="grow"
                   autocomplete="off">
        </div>
    </div>
    <div id="overlay-error"
         class="w-full bg-red p-1 text-xl empty:hidden my-1"></div>
    <div class="w-full flex justify-between items-center text-xl gap-4 flex-wrap">
        <div class="grow"></div>
        <button class="button hover-green" onclick="overlayEditor.close()">Cancel</button>
        <button hx-post="{{ url_for('transactions.new') }}"
                hx-target="#overlay-error"
                hx-swap="innerHTML"
                class="button bg-green">Save</button>
    </div>
    <script>overlayEditor.addListeners("form-txn");</script>
</div>
