<div class="flex justify-between items-center"
     hx-target="#main"
     hx-trigger="update-transaction from:body"
     hx-get="{{ url_for('transactions.page_all') }}">
    <h1 class="text-3xl font-serif text-primary">Transactions</h1>
    <button class="btn-tonal"
            hx-target="#dialog"
            hx-swap="innerHTML show:#dialog:top"
            hx-disabled-elt="this"
            hx-get="{{ url_for('transactions.new') }}">
        <icon>note_stack_add</icon>New
    </button>
</div>
{% include "/transactions/table.jinja" %}
