{% if not only_inner %}
    <form id="txn-filters"
        class="p-2 mb-2 grid gap-2 grid-cols-2 md:grid-cols-3 max-w-2xl mx-auto not-open:hidden rounded-xl bg-surface-container"
        {# innerHTML to preserve open state #}
        hx-swap-oob="{{ 'innerHTML' if oob }}"
        hx-include="#txn-filters,#txn-search"
        hx-target="#txn-table"
        hx-indicator="#txn-table,#txn-indicator"
        hx-get="{{ url_for('transactions.table') }}">
        {% block inner %}
            <label class="input-outlined input-bg-surface-container">
                <select name="period"
                        autocomplete="off"
                        onchange="txn.changePeriod()"
                        hx-target="#txn-filters"
                        hx-indicator="unset"
                        hx-get="{{ url_for('transactions.table_options') }}">
                    {% for label, value in ctx.options_period %}
                        <option value="{{ value }}"
                                {% if value == ctx.selected_period %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <div>
                    <div>Date range</div>
                </div>
            </label>
            <label class="input-outlined input-bg-surface-container">
                <input name="start"
                       type="date"
                       autocomplete="off"
                       value="{{ ctx.start or '' }}"
                       {% if ctx.selected_period != "custom" %}disabled{% endif %}
                       hx-target="#txn-filters"
                       hx-indicator="unset"
                       hx-get="{{ url_for('transactions.table_options') }}">
                <div>
                    <div>Start date</div>
                </div>
            </label>
            <label class="input-outlined input-bg-surface-container">
                <input name="end"
                       type="date"
                       autocomplete="off"
                       value="{{ ctx.end or '' }}"
                       {% if ctx.selected_period != "custom" %}disabled{% endif %}
                       hx-target="#txn-filters"
                       hx-indicator="unset"
                       hx-get="{{ url_for('transactions.table_options') }}">
                <div>
                    <div>End date</div>
                </div>
            </label>
            <label class="input-outlined input-bg-surface-container max-md:row-start-1 col-start-2 md:col-start-1">
                <select name="account"
                        autocomplete="off"
                        {% if ctx.no_matches and not ctx.selected_account %}disabled{% endif %}
                        hx-target="#txn-filters"
                        hx-indicator="unset"
                        hx-get="{{ url_for('transactions.table_options') }}">
                    <option value=""></option>
                    {% for label, value in ctx.options_account %}
                        <option value="{{ value }}"
                                {% if value == ctx.selected_account %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <div>
                    <div>Account</div>
                </div>
            </label>
            <label class="input-outlined input-bg-surface-container col-span-2">
                <select name="category"
                        autocomplete="off"
                        {% if ctx.no_matches and not ctx.selected_category %}disabled{% endif %}
                        hx-target="#txn-filters"
                        hx-indicator="unset"
                        hx-get="{{ url_for('transactions.table_options') }}">
                    <option value=""></option>
                    {% for label, value, _ in ctx.options_category %}
                        <option value="{{ value }}"
                                {% if value == ctx.selected_category %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <div>
                    <div>Category</div>
                </div>
            </label>
            <label class="toggle col-start-1 col-span-full mx-auto gap-4">
                <input name="unlinked"
                       type="checkbox"
                       autocomplete="off"
                       {% if ctx.unlinked %}checked{% endif %}
                       hx-target="#txn-filters"
                       hx-indicator="unset"
                       hx-get="{{ url_for('transactions.table_options') }}">
                <div>Only unlinked</div>
                <switch></switch>
            </label>
            <div class="flex justify-around col-span-full">
                <button class="btn-filled">Apply filter</button>
                <button class="btn-text"
                        type="button"
                        hx-include="unset"
                        hx-get="{{ url_for('transactions.table') }}">Clear all filters</button>
            </div>
        {% endblock inner %}
    </form>
{% else %}
    {{ self.inner() }}
{% endif %}
