<input id="txn-search-{{ name }}"
       class="w-full"
       placeholder="Search..."
       name="search-{{ name }}"
       value="{{ search_str }}"
       hx-get="{{ url_for(endpoint + '_options', field=name, **url_args) }}"
       hx-target="#txn-{{ name }}"
       hx-swap="innerHTML"
       hx-trigger="keyup changed delay:250ms"
       autocomplete="off">
<div class="options overflow-y-scroll overflow-x-hidden h-60 pr-1">
    {% for option in options %}
        <label class="flex w-full checkbox {{ "hidden" if option["hidden"] }}">
            <input type="checkbox"
                   name="{{ name }}"
                   value="{{ option["name"] }}"
                   {% if option["checked"] %}checked{% endif %}
                   hx-get="{{ url_for(endpoint, **url_args) }}"
                   autocomplete="off">
            {% with class = "w-5 h-5" %}
                {% include "svg/check.svg" %}
            {% endwith %}
            <span class="min-w-0 truncate">{{ option["label"] }}</span>
        </label>
    {% endfor %}
</div>
