<div id="txn-config"
     class="w-full flex flex-wrap gap-1 md:gap-8 font-serif"
     hx-swap-oob="{{ oob }}">
    {% if not asset_transactions %}
        <input name="search"
               value="{{ txn_table["search"] | e }}"
               placeholder="Search Transactions"
               class="grow"
               hx-get="{{ url_for(endpoint, **url_args) }}"
               hx-indicator="unset"
               autocomplete="off">
    {% endif %}
    <div class="grow max-md:hidden"></div>
    <div class="flex gap-1 max-md:grow justify-between items-center">
        <select name="period"
                hx-get="{{ url_for(endpoint, **url_args) }}"
                autocomplete="off">
            {% with period = txn_table["period"] %}
                {% include "shared/period-options.jinja" %}
            {% endwith %}
        </select>
        <input id="txn-config-start"
               type="date"
               name="start"
               value="{{ txn_table["start"] }}"
               hx-get="{{ url_for(endpoint, period='custom', **url_args) }}"
               hx-trigger="blur changed,keyup[keyCode==13] changed"
               hx-validate="true"
               hx-on::validation:failed="event.target.classList.add('border-red')"
               autocomplete="off">
        to
        <input id="txn-config-end"
               type="date"
               name="end"
               value="{{ txn_table["end"] }}"
               hx-get="{{ url_for(endpoint, period='custom', **url_args) }}"
               hx-trigger="blur changed,keyup[keyCode==13] changed"
               hx-validate="true"
               hx-on::validation:failed="event.target.classList.add('border-red')"
               autocomplete="off">
    </div>
</div>
