{% if include_oob %}
    {% with oob = True %}
        {% include "/transactions/table-header.jinja" %}
        {% include "/transactions/table-filters.jinja" %}
        {% include "/transactions/table-total.jinja" %}
    {% endwith %}
{% endif %}
{% for date, transactions in ctx.transactions.items() %}
    <div>
        <div class="txn-header">
            <div>{{ date }}</div>
        </div>
        {% for txn in transactions[:-1] %}
            {% include "/transactions/table-row.jinja" %}
            <hr class="mx-4">
        {% endfor %}
    </div>
    {% with txn = transactions[-1] %}
        {% include "/transactions/table-row.jinja" %}
    {% endwith %}
    {% if loop.last %}
        {% if ctx.next_page %}
            <div hx-target="#txn-table"
                 hx-swap="beforeend"
                 hx-trigger="revealed"
                 hx-include="#txn-filters"
                 hx-get="{{ url_for(endpoint, page=ctx.next_page) }}"
                 hx-on::after-request="this.remove()">{% include "/shared/spinner.jinja" %}</div>
        {% else %}
            <div class="text-center italic">no more transactions match query</div>
        {% endif %}
    {% endif %}
{% endfor %}
<div class="text-center italic">
    {% if ctx.no_matches %}no transactions match query{% endif %}
</div>
