{% if include_oob %}
    {% with oob = True %}
        {% include "transactions/table-config.jinja" %}
        {% include "transactions/table-paging.jinja" %}
        {% include "transactions/table-locked.jinja" %}
        {% include "transactions/table-linked.jinja" %}
    {% endwith %}
    {% if asset_transactions %}
        {% set columns = ["account", "asset"] %}
    {% elif no_account_column %}
        {% set columns = ["payee", "category", "tag"] %}
    {% else %}
        {% set columns = ["account", "payee", "category", "tag"] %}
    {% endif %}
    {% for name in columns %}
        <div id="txn-icon-{{ name }}" hx-swap-oob="insideHTML">
            {% with any_filters = txn_table["any-filters-" + name] %}
                {% include "transactions/table-options-icon.jinja" %}
            {% endwith %}
        </div>
        <div id="txn-{{ name }}" hx-swap-oob="insideHTML">
            {% with options = txn_table["options-" + name] %}
                {% include "transactions/table-options.jinja" %}
            {% endwith %}
        </div>
    {% endfor %}
{% endif %}
<div id="txn-table"
    class="w-full flex flex-col grow min-h-[15rem]"
    hx-get="{{ url_for(endpoint, **url_args) }}"
    hx-trigger="update-transaction from:body, update-account from:body"
    {# TODO (WattsUp): Keep current paging on update #}
    hx-indicator="unset">
    {% if txn_table["transactions"] | length == 0 %}
        <div class="text-center">No matching transactions for given query filters</div>
    {% endif %}
    {% for txn in txn_table["transactions"] %}
        {% include "transactions/table-view.jinja" %}
    {% endfor %}
    <div class="grow"></div>
    <div class="w-full flex justify-between font-bold border-t border-t-grey-200">
        <div class="p-1 grow">Page Total</div>
        <div class="p-1">{{ txn_table["page_total"] | money }}</div>
    </div>
    <div class="w-full flex justify-between font-bold">
        <div class="p-1 grow">Query Total</div>
        <div class="p-1">{{ txn_table["query_total"] | money }}</div>
    </div>
</div>
