<input id="txn-search-{{ name }}" placeholder="Search..." name="search-{{ name }}" value="{{ search_str }}" hx-get="/h/transactions/options/{{ name }}" hx-target="#txn-{{ name }}" hx-include="#txn-config,#txn-header" hx-trigger="keyup changed throttle:250ms">
<div class="options">
  {% for option in options %}
    <label style="{{ 'display:none' if option['hidden'] }}">
      <input type="checkbox" name="{{ name }}" value="{{ option['name'] }}" {{ "checked" if option["checked"] }} hx-get="/h/transactions/table?period=custom" hx-target="#txn-table" hx-swap="outerHTML" hx-include="#txn-config,#txn-header">
      {% with class = "w-5 h-5" %}
      {% include "svg/check.svg" %}
      {% endwith %}
      <span>{{ option["name"] }}</span>
    </label>
  {% endfor %}
</div>
