<div id="txn-header"
     hx-swap-oob="{{ oob }}"
     class="flex gap-2 items-start">
    <label class="input-outlined grow">
        <input name="q"
               enterkeyhint="search"
               placeholder=""
               value=""
               hx-target="next error"
               hx-trigger="input delay:200ms"
               hx-include="this"
               disabled
               autocomplete="off">
        <div>
            <div>Search</div>
        </div>
        <div>
            <error></error>
        </div>
        <icon>search</icon>
    </label>
    <button id="txn-filter-btn"
            class="{{ 'btn-filled' if ctx.any_filters else 'btn-tonal' }} mt-1.5"
            onclick="htmx.toggleClass(htmx.find('#txn-filters'), 'open')">
        <icon>tune</icon>
    </button>
</div>
