<div class="txn">
    <label class="checkbox">
        <input type="checkbox" autocomplete="off" disabled>
        <icon>check_box_outline_blank</icon>
        <icon>check_box</icon>
    </label>
    <div>
        <div>
            <div>
                {% if txn.asset_name %}
                    {% if txn.asset_quantity > 0 %}
                        Buy
                    {% elif txn.asset_quantity == 0 %}
                        {% if txn.amount > 0 %}
                            Dividend from
                        {% else %}
                            Fee from
                        {% endif %}
                    {% else %}
                        Sell
                    {% endif %}
                    {% if txn.asset_ticker %}{{ txn.asset_ticker }}:{% endif %}
                    {{ txn.asset_name }}
                {% else %}
                    {{ txn.payee or "Payee needed" }}
                {% endif %}
            </div>
            {% set class_amount = "text-primary" if txn.amount > 0 %}
            <div class="{{ class_amount }}">{{ txn.amount | money }}</div>
            {% set class_linked = "text-primary filled" if txn.linked > 0 %}
            <icon class="{{ class_linked }}">check_circle</icon>
        </div>
        <div>
            <div>
                {% if txn.asset_quantity %}
                    {{ txn.asset_quantity | abs | qty }} shares
                    @
                    {{ txn.asset_price | money }}
                {% else %}
                    {{ txn.category }}
                {% endif %}
            </div>
            <div>{{ txn.account }}</div>
            <icon>
            {% if txn.is_split %}arrow_split{% endif %}
            </icon>
        </div>
    </div>
</div>
{#
{% set row_class = "w-full flex even:bg-grey-50 md:hover:bg-grey-100 min-w-[750px] md:min-w-[650px]" %}
{% if asset_transactions or txn["asset_name"] %}
    <div id="txn-{{ txn["uri"] }}" class="{{ row_class }}">
        {% block row %}
            <div class="w-24 shrink-0 p-1">{{ txn["date"] }}</div>
            {% if not no_account_column %}<div class="w-24 shrink-0 grow p-1 truncate">{{ txn["account"] or "" }}</div>{% endif %}
            {% if asset_transactions %}
                <div class="w-24 shrink-0 grow p-1 truncate">{{ txn["asset_name"] or "" }}</div>
                <div class="w-28 shrink-0 p-1 truncate text-right">{{ txn["asset_price"] | money if txn["asset_price"] }}</div>
                <div class="w-28 shrink-0 p-1 truncate text-right">{{ txn["asset_quantity"] | qty }}</div>
            {% else %}
                <div class="w-20 shrink-0 grow p-1 truncate">{{ txn["payee"] or "" }}</div>
                <div class="w-24 shrink-0 grow p-1 truncate">{{ txn["description"] or "" }}</div>
                <div class="w-24 shrink-0 grow p-1 truncate">{{ txn["category"] or "" }}</div>
                <div class="w-20 shrink-0 grow p-1 truncate max-lg:hidden">{{ txn["tag"] or "" }}</div>
            {% endif %}
            <div class="w-28 shrink-0 p-1 truncate text-right">{{ txn["amount"] | money }}</div>
            {% if not asset_transactions %}
                <div class="w-[24px] shrink-0 p-0 flex items-center">
                    {% if txn["locked"] %}
                        {% include "svg/lock.svg" %}
                    {% endif %}
                </div>
                <div class="w-[24px] shrink-0 p-0 flex items-center">
                    {% if txn["linked"] %}
                        {% include "svg/link.svg" %}
                    {% endif %}
                </div>
            {% endif %}
        {% endblock row %}
    </div>
{% else %}
    <div id="txn-{{ txn["uri"] }}" class="{{ row_class }} cursor-pointer" hx-get="{{ url_for('transactions.transaction', uri=txn['uri']) }}" hx-target="#overlay" hx-swap="innerHTML" hx-include="this">{{ self.row() }}</div>
{% endif %}
#}
