<div id="txn-locked"
     class="w-[24px] shrink-0 p-0 flex items-center"
     hx-swap-oob="{{ oob }}">
    {% with svg_class="transition-colors cursor-pointer m-0 w-[24px] h-[24px]" %}
        {% if txn_table["locked"] is none %}
            <input name="locked" value="" class="hidden" autocomplete="off">
            <div hx-get="{{ url_for(endpoint, locked=True, **url_args) }}">
                {% with class = svg_class + " bg-grey-200 fill-grey-600" %}
                    {% include "svg/lock.svg" %}
                {% endwith %}
            </div>
        {% elif txn_table["locked"] %}
            <input name="locked" value="true" class="hidden" autocomplete="off">
            <div hx-get="{{ url_for(endpoint, locked=False, **url_args) }}">
                {% with class = svg_class + " bg-green fill-white" %}
                    {% include "svg/lock.svg" %}
                {% endwith %}
            </div>
        {% else %}
            <input name="locked" value="false" class="hidden" autocomplete="off">
            <div hx-get="{{ url_for(endpoint, locked='', **url_args) }}">
                {% with class = svg_class + " bg-green fill-transparent" %}
                    {% include "svg/lock.svg" %}
                {% endwith %}
            </div>
        {% endif %}
    {% endwith %}
</div>
