{% include "/transactions/table-header.jinja" %}
{% include "/transactions/table-filters.jinja" %}
{% include "/transactions/table-total.jinja" %}
{# Display query total if filtered #}
<div id="txn-table">{% include "/transactions/table-rows.jinja" %}</div>
