<div id="cash-flow-config"
     class="w-full flex justify-end gap-1 font-serif"
     hx-swap-oob="{{ oob }}"
     hx-include="#cash-flow-config"
     hx-target="#cash-flow-chart-data"
     hx-swap="outerHTML">
    <button class="button {{ "hover:green" if chart["category"] else "bg-green" }}"
            hx-get="{{ url_for("cash_flow.chart", category="") }}">All</button>
    {% for cat in chart["category_type"] %}
        <button class="button {{ "bg-green" if chart["category"] == cat else "hover:green" }}"
                hx-get="{{ url_for("cash_flow.chart", category=cat | enum) }}">{{ cat | enum | title }}</button>
    {% endfor %}
    {% if chart["category"] %}<input name="category" value="{{ chart["category"] | enum }}" hidden>{% endif %}
    <div class="grow"></div>
    <select name="period"
            hx-get="{{ url_for("cash_flow.chart") }}"
            autocomplete="off">
        {% with period = chart["period"] %}
            {% include "shared/period-options.jinja" %}
        {% endwith %}
    </select>
    <input type="date"
           name="start"
           value="{{ chart["start"] }}"
           hx-get="{{ url_for("cash_flow.chart", period="custom") }}"
           hx-trigger="blur changed,keyup[keyCode==13] changed">
    to
    <input type="date"
           name="end"
           value="{{ chart["end"] }}"
           hx-get="{{ url_for("cash_flow.chart", period="custom") }}"
           hx-trigger="blur changed,keyup[keyCode==13] changed">
</div>
