<div class="absolute inset-0 bg-grey-500 opacity-50 z-[-1] cursor-pointer"
     hx-get="{{ url_for("common.empty") }}"
     hx-swap="innerHTML"></div>
<div class="w-[800px] h-[580px] max-h-[90vh] bg-white opacity-100 m-auto flex flex-col pt-2"
     hx-swap="innerHTML">
    <button hx-get="{{ url_for("common.empty") }}" class="ml-auto px-6">
        {% with class="w-[32px] h-[32px]" %}
            {% include "svg/x.svg" %}
        {% endwith %}
    </button>
    <h1 class="font-serif text-4xl px-6 text-green-600">Edit asset</h1>
    <div class="flex w-full gap-4 px-6 grow" id="form-asset">
        <div class="w-5/12 flex flex-col items-center">
            <hr class="w-full border-grey-200">
            <div class="font-serif text-2xl">
                {% if asset["value"] < 0.1 %}
                    {{ asset["value"] | money6 }}
                {% else %}
                    {{ asset["value"] | money }}
                {% endif %}
            </div>
            {% if asset["value_date"] %}
                <div class="italic">as of {{ asset["value_date"] }}</div>
            {% else %}
                <div class="italic">no valuations</div>
            {% endif %}
        </div>
        <div class="w-7/12">
            <h1 class="font-bold">Edit details</h1>
            <hr class="w-full border-grey-200">
            <table class="w-full">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>
                            <input class="w-full"
                                   name="name"
                                   value="{{ asset["name"] }}"
                                   autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td>Ticker</td>
                        <td>
                            <input class="w-full"
                                   name="ticker"
                                   value="{{ asset["ticker"] or "" }}"
                                   autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td>Asset Class</td>
                        <td>
                            <select class="w-full" name="category" autocomplete="off">
                                {% for cat in asset["category_type"] %}
                                    <option value="{{ cat | enum }}"
                                            {% if cat == asset["category"] %}selected{% endif %}>
                                        {{ cat | enum | title }}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="h-[30px]">Description</td>
                        <td rowspan="2">
                            <textarea class="w-full h-64" name="description" autocomplete="off">{{ asset["description"] or "" }}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="overlay-error"
         class="w-full bg-red px-6 py-2 text-xl empty:hidden"></div>
    <div class="w-full h-16 bg-grey-100 flex justify-end items-center px-6 text-xl gap-4">
        <button hx-get="{{ url_for("common.empty") }}" class="button hover:green">Cancel</button>
        <button hx-put="{{ url_for("assets.asset", uri=asset["uri"]) }}"
                hx-target="#overlay-error"
                hx-include="#form-asset"
                class="button bg-green">Save</button>
    </div>
</div>
