<div class="absolute inset-0 bg-grey-500 opacity-50 z-[-1] cursor-pointer max-md:hidden"
     hx-get="{{ url_for('common.empty') }}"
     hx-swap="innerHTML"
     hx-on::before-request="overlayEditor.beforeCancel(event)"></div>
<div class="w-full max-md:min-h-full md:w-[750px] md:h-[580px] md:max-h-[90vh] bg-white opacity-100 m-auto flex flex-col py-2 px-6"
     hx-swap="innerHTML">
    <div class="flex items-start mb-2">
        <h1 class="font-serif text-2xl text-green-600 grow">Edit asset</h1>
        <button hx-get="{{ url_for('common.empty') }}" class="shrink-0">
            {% with class="w-[32px] h-[32px]" %}
                {% include "svg/x.svg" %}
            {% endwith %}
        </button>
    </div>
    <div class="flex w-full gap-4 min-h-0 max-md:flex-col grow"
         id="form-asset">
        <div class="md:w-5/12 flex flex-col items-center">
            <hr class="w-full border-grey-200">
            <div class="font-serif text-2xl">
                {% if asset["value"] < 0.1 %}
                    {{ asset["value"] | money6 }}
                {% else %}
                    {{ asset["value"] | money }}
                {% endif %}
            </div>
            {% if asset["value_date"] %}
                <div class="italic">as of {{ asset["value_date"] }}</div>
            {% else %}
                <div class="italic">no valuations</div>
            {% endif %}
        </div>
        <div class="md:w-7/12">
            <h1 class="font-bold">Edit details</h1>
            <hr class="w-full border-grey-200">
            <div class="flex gap-1 flex-wrap">
                <div class="w-20 shrink-1">Name</div>
                <div class="grow">
                    <input class="w-full"
                           name="name"
                           value="{{ asset["name"] | e }}"
                           autocomplete="off">
                </div>
            </div>
            <div class="flex gap-1 flex-wrap">
                <div class="w-20 shrink-1">Ticker</div>
                <div class="grow">
                    <input class="w-full"
                           name="ticker"
                           value="{{ (asset["ticker"] or "") | e }}"
                           autocomplete="off">
                </div>
            </div>
            <div class="flex gap-1 flex-wrap">
                <div class="w-20 shrink-1">Class</div>
                <div class="grow">
                    <select class="w-full" name="category" autocomplete="off">
                        {% for cat in asset["category_type"] %}
                            <option value="{{ cat | enum }}"
                                    {% if cat == asset["category"] %}selected{% endif %}>
                                {{ cat | enum | title }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div>Description</div>
            <textarea class="w-full min-h-32" name="description" autocomplete="off">{{ asset["description"] or "" }}</textarea>
        </div>
    </div>
    <div id="overlay-error"
         class="w-full bg-red p-1 text-xl empty:hidden my-1"></div>
    <div class="w-full flex justify-end items-center text-xl gap-4 flex-wrap">
        <button hx-get="{{ url_for('common.empty') }}"
                class="button hover-green"
                hx-on::before-request="overlayEditor.beforeCancel(event)">Cancel</button>
        <button hx-put="{{ url_for('assets.asset', uri=asset['uri']) }}"
                hx-target="#overlay-error"
                hx-include="#form-asset"
                class="button bg-green">Save</button>
    </div>
    <script>overlayEditor.addListeners("form-asset");</script>
</div>
