<section class="flex flex-col bg-white max-w-screen-lg m-auto p-2 h-full"
         hx-get="{{ url_for('assets.page', uri=asset['uri']) }}"
         hx-include="#val-config,#val-header"
         hx-trigger="update-asset from:body"
         hx-target="#main"
         hx-swap="innerHTML">
    <div class="w-full flex justify-between">
        <div>
            <h1 class="text-3xl align-left w-full font-serif text-green-600 flex items-center">
                {{ asset["name"] }}
                <div class="w-[20px] group cursor-pointer"
                     hx-get="{{ url_for('assets.asset', uri=asset['uri']) }}"
                     hx-target="#overlay"
                     hx-swap="innerHTML">
                    {% with class="fill-green-600 transition-colors group-hover:fill-black" %}
                        {% include "svg/pencil.svg" %}
                    {% endwith %}
                </div>
            </h1>
            <h2 class="italic">{{ asset["description"] }}</h2>
        </div>
        <div class="ml-12 whitespace-nowrap">
            <h1 class="text-3xl font-serif text-green-600 text-right">{{ asset["value"] | money }}</h1>
            <h2 class="w-full text-center italic">
                {% if asset["value_date"] %}
                    as of {{ asset["value_date"] }}
                {% else %}
                    no valuations
                {% endif %}
            </h2>
        </div>
    </div>
    <div class="w-full h-96 relative">
        <canvas id="asset-chart-canvas"></canvas>
        {% include "shared/spinner.jinja" %}
    </div>
    <p class="w-full italic">Valuations are pruned to only when assets are held.</p>
    {% include "assets/chart-data.jinja" %}
    <div class="w-full flex flex-col grow"
         hx-target="#val-table"
         hx-swap="outerHTML"
         hx-indicator=".spinner">
        <h1 class="text-3xl align-left w-full font-serif text-green-600">Valuations</h1>
        {% include "assets/valuations-config.jinja" %}
        {% include "assets/valuations-paging.jinja" %}
        {% include "assets/valuations-header.jinja" %}
        {% include "assets/valuations.jinja" %}
    </div>
</section>
