{% if not only_inner %}
    <form id="valuation-filters"
        class="p-2 mb-2 grid gap-2 grid-cols-2 md:grid-cols-3 max-w-2xl mx-auto not-open:hidden rounded-xl bg-surface-container {{ 'open' if ctx.any_filters }}"
        {# innerHTML to preserve open state #}
        hx-swap-oob="{{ 'innerHTML' if oob }}"
        hx-include="#valuation-filters"
        hx-target="#valuation-table"
        hx-indicator="#valuation-table,#valuation-indicator"
        hx-get="{{ url_for('assets.table', uri=ctx.uri) }}">
        {% block inner %}
            <label class="input-outlined input-bg-surface-container">
                <select name="period"
                        autocomplete="off"
                        onchange="assets.changeTablePeriod()">
                    {% for label, value in ctx.options_period %}
                        <option value="{{ value }}"
                                {% if value == ctx.selected_period %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <div>
                    <div>Date range</div>
                </div>
            </label>
            <label class="input-outlined input-bg-surface-container">
                <input id="valuation-filter-start"
                       name="start"
                       type="date"
                       autocomplete="off"
                       value="{{ ctx.start or '' }}"
                       {% if ctx.selected_period != "custom" %}disabled{% endif %}>
                <div>
                    <div>Start date</div>
                </div>
            </label>
            <label class="input-outlined input-bg-surface-container">
                <input id="valuation-filter-end"
                       name="end"
                       type="date"
                       autocomplete="off"
                       value="{{ ctx.end or '' }}"
                       {% if ctx.selected_period != "custom" %}disabled{% endif %}>
                <div>
                    <div>End date</div>
                </div>
            </label>
            <div class="flex justify-around col-span-full">
                <button class="btn-filled">Apply filter</button>
                <button class="btn-text"
                        type="button"
                        hx-include="unset"
                        hx-get="{{ url_for('assets.table', uri=ctx.uri) }}">Clear all filters</button>
            </div>
        {% endblock inner %}
    </form>
{% else %}
    {{ self.inner() }}
{% endif %}
