<div class="absolute inset-0 bg-grey-500 opacity-50 z-[-1] cursor-pointer max-md:hidden"
     onclick="overlayEditor.close()"></div>
<div class="w-full max-md:min-h-full md:w-[500px] md:h-[400px] md:max-h-[90vh] bg-white opacity-100 m-auto flex flex-col py-2 px-6"
     hx-swap="innerHTML">
    <div class="flex items-start mb-2">
        <h1 class="font-serif text-2xl text-green-600 grow">Update Assets</h1>
        <button class="shrink-0" onclick="overlayEditor.close()">
            {% with class="w-[32px] h-[32px]" %}
                {% include "svg/x.svg" %}
            {% endwith %}
        </button>
    </div>
    <div class="flex flex-col w-full gap-4 min-h-0 grow">
        {% if failed_tickers %}
            {% for ticker, e in failed_tickers.items() %}<p>{{ ticker }} failed: {{ e }}</p>{% endfor %}
        {% elif successful_tickers %}
            <p>The assets with the following tickers were updated</p>
            <div class="grid grid-cols-5">
                {% for ticker in successful_tickers %}<div>{{ ticker }}</div>{% endfor %}
            </div>
        {% elif n_to_update == 0 %}
            <p>There are no assets to update, set ticker on edit asset page.</p>
        {% else %}
            <p>There are {{ n_to_update }} {{ "asset" if n_to_update == 1 else "assets" }} with ticker to update.</p>
            <button hx-post="{{ url_for('assets.update') }}"
                    hx-target="#overlay"
                    class="button bg-green text-xl mx-auto"
                    hx-on::before-send="this.disabled=true"
                    hx-indicator="next .spinner">Update</button>
            <div class="relative grow">{% include "shared/spinner.jinja" %}</div>
        {% endif %}
    </div>
    {% if error %}
        <div id="overlay-error"
             class="w-full bg-red p-1 text-xl empty:hidden my-1">{{ error }}</div>
    {% endif %}
    <div class="w-full flex justify-between items-center text-xl gap-4 flex-wrap">
        <div class="grow"></div>
        <button class="button hover-green" onclick="overlayEditor.close()">Close</button>
    </div>
    <script>overlayEditor.addListeners("form-asset");</script>
</div>
