{% if include_oob %}
    {% with oob = True %}
        {% include "assets/valuations-config.jinja" %}
        {% include "assets/valuations-paging.jinja" %}
    {% endwith %}
{% endif %}
<div id="val-table"
     class="w-full flex flex-col grow min-h-80"
     hx-get="{{ url_for('assets.valuations', **url_args) }}"
     hx-trigger="update-valuation from:body, update-asset from:body"
     hx-indicator="unset">
    {% if val_table["valuations"] | length == 0 %}
        <div class="text-center">No matching valuations for given query filters</div>
    {% endif %}
    {% for val in val_table["valuations"] %}
        {% include "assets/valuations-view.jinja" %}
    {% endfor %}
</div>
