{% set class = "w-full flex justify-between even:bg-grey-50 md:hover:bg-grey-100" %}
{% if val_table["editable"] %}
    <div id="val-{{ val["uri"] }}"
         class="{{ class }} cursor-pointer"
         hx-get="{{ url_for('assets.valuation', uri=val['uri']) }}"
         hx-target="#overlay"
         hx-swap="innerHTML"
         hx-include="this">
        {% block row %}
            <div class="w-24 shrink-0 p-1">{{ val["date"] }}</div>
            <div class="w-48 shrink-0 p-1 text-right">{{ val["value"] | money6 }}</div>
        {% endblock row %}
    </div>
{% else %}
    <div id="val-{{ val["uri"] }}" class="{{ class }}">{{ self.row() }}</div>
{% endif %}
