<div class="absolute inset-0 bg-grey-500 opacity-50 z-[-1] cursor-pointer max-md:hidden"
     onclick="overlayEditor.close()"></div>
<div class="w-full max-md:min-h-full md:w-[500px] md:h-[400px] md:max-h-[90vh] bg-white opacity-100 m-auto flex flex-col py-2 px-6"
     hx-swap="innerHTML">
    <div class="flex items-start mb-2">
        <h1 class="font-serif text-2xl text-green-600 grow">Edit asset valuation</h1>
        <button class="shrink-0" onclick="overlayEditor.close()">
            {% with class="w-[32px] h-[32px]" %}
                {% include "svg/x.svg" %}
            {% endwith %}
        </button>
    </div>
    <div class="flex flex-col w-full gap-1 grow" id="form-valuation">
        <h1 class="font-bold">Edit details</h1>
        <hr class="w-full border-grey-200">
        <div class="flex flex-wrap gap-1 min-h-7 items-center">
            <div class="w-24">Date</div>
            <input type="date"
                   name="date"
                   value="{{ valuation["date"] or "" }}"
                   class="grow"
                   autocomplete="off">
        </div>
        <div class="flex flex-wrap gap-1 min-h-7 items-center">
            <div class="w-24">Value</div>
            <input name="value"
                   inputmode="none"
                   value="{{ valuation["value"] or "" }}"
                   class="grow"
                   autocomplete="off">
        </div>
    </div>
    <div id="overlay-error"
         class="w-full bg-red p-1 text-xl empty:hidden my-1"></div>
    <div class="w-full flex justify-between items-center text-xl gap-4 flex-wrap">
        {% if valuation["uri"] %}
            <button hx-delete="{{ url_for('assets.valuation', uri=valuation['uri']) }}"
                    hx-confirm="Are you sure you wish to delete this valuation?"
                    class="button hover-red">
                {% with class="w-[24px] h-[24px] inline-block align-text-bottom" %}
                    {% include "svg/trash.svg" %}
                {% endwith %}
                Delete
            </button>
        {% endif %}
        <div class="grow"></div>
        <button class="button hover-green" onclick="overlayEditor.close()">Cancel</button>
        {% if valuation["uri"] %}
            <button hx-put="{{ url_for('assets.valuation', uri=valuation['uri']) }}"
                    hx-target="#overlay-error"
                    hx-include="#form-valuation"
                    class="button bg-green">Save</button>
        {% else %}
            <button hx-post="{{ url_for('assets.new_valuation', **url_args) }}"
                    hx-target="#overlay-error"
                    hx-include="#form-valuation"
                    class="button bg-green">Save</button>
        {% endif %}
    </div>
    <script>
        overlayEditor.addListeners("form-valuation");
        numpad.addListeners("form-valuation");
    </script>
</div>
