<div id="val-header"
     class="w-full flex font-bold border-b border-b-grey-200 sticky top-0 bg-white"
     hx-indicator="unset">
    <div class="w-24 shrink-0 p-1">Date</div>
    <div class="w-48 shrink-0 p-1 text-right">Value</div>
</div>
