<div id="val-config"
     class="w-full flex justify-end gap-1 font-serif items-center"
     hx-swap-oob="{{ oob }}">
    <select name="period"
            hx-get="{{ url_for('assets.valuations', **url_args) }}"
            autocomplete="off">
        {% with period = val_table["period"] %}
            {% include "shared/period-options.jinja" %}
        {% endwith %}
    </select>
    <input type="date"
           name="start"
           value="{{ val_table["start"] }}"
           hx-get="{{ url_for('assets.valuations', period='custom', **url_args) }}"
           hx-trigger="blur changed,keyup[keyCode==13] changed"
           autocomplete="off">
    to
    <input type="date"
           name="end"
           value="{{ val_table["end"] }}"
           hx-get="{{ url_for('assets.valuations', period='custom', **url_args) }}"
           hx-trigger="blur changed,keyup[keyCode==13] changed"
           autocomplete="off">
</div>
