<div id="val-header"
     class="header w-full flex justify-between font-bold border-b border-b-grey-200"
     hx-indicator="unset">
    <div class="w-[6rem] min-w-[6rem] p-1 grow">Date</div>
    <div class="w-[12rem] min-w-[12rem] p-1 text-right">Value</div>
</div>
