/* CSS Buttons */

@theme {
    --btn-px: calc(var(--spacing) * 2);
    --btn-py: 0;
    --btn-radius: var(--spacing);
    --btn-svg-size: calc(var(--spacing) * 6);

    --radioset-p: calc(var(--spacing) * 0.5);
    --radioset-svg-p: var(--spacing);
    --radioset-svg-size: calc(var(--spacing) * 6);
}

@utility btn {
    @apply border transition-colors flex items-center;

    border-radius: var(--btn-radius);

    padding-inline: var(--btn-px);
    padding-block: var(--btn-py);

    border-color: var(--btn-border-color);
    background-color: var(--btn-bg-color);

    &>svg {
        @apply transition-colors fill-current;

        width: var(--btn-svg-size);
        height: var(--btn-svg-size);
    }

    @variant hover {
        border-color: var(--btn-hover-bg-color);
        background-color: var(--btn-hover-bg-color);
        color: var(--btn-hover-color);

        @variant not-disabled {
            &>svg {
                fill: var(--btn-hover-color);
            }
        }
    }

    @variant active {
        border-color: var(--btn-hover-bg-color);
        background-color: var(--btn-hover-bg-color);
        color: var(--btn-hover-color);

        @variant not-disabled {
            &>svg {
                fill: var(--btn-hover-color);
            }
        }
    }

    @variant disabled {
        @apply cursor-auto;

        --btn-bg-color: var(--color-grey-200);
    }
}


@utility btn-hover-* {
    --btn-hover-color: --value(--color-*);
}

@utility btn-hover-bg-* {
    --btn-hover-bg-color: --value(--color-*);
}

@utility btn-bg-* {
    --btn-bg-color: --value(--color-*);
    --btn-border-color: --value(--color-*);
}

@utility btn-size-lg {
    @apply text-2xl;

    --btn-px: calc(var(--spacing) * 2);
    --btn-py: calc(var(--spacing) * 0.5);
    --btn-radius: calc(var(--spacing) * 2);
}

@utility btn-size-xl {
    @apply text-3xl;

    --btn-px: calc(var(--spacing) * 3);
    --btn-py: calc(var(--spacing) * 1.5);
    --btn-radius: calc(var(--spacing) * 3);
    --btn-svg-size: calc(var(--spacing) * 8);
}

@utility btn-green {
    @apply btn btn-bg-green-500 btn-hover-bg-green-900 btn-hover-white;

    @variant dark {
        @apply btn-bg-green-800 btn-hover-bg-green-500 btn-hover-black;
    }
}

@utility btn-blue {
    @apply btn btn-bg-blue-600 btn-hover-bg-blue-600 btn-hover-white;
}

@utility btn-red {
    @apply btn btn-bg-red-400 btn-hover-bg-red-900 btn-hover-white;
}

@utility btn-yellow {
    @apply btn btn-bg-yellow-200 btn-hover-bg-yellow-400;
}

@utility btn-hover-green {
    @apply btn btn-hover-bg-green-900 btn-hover-white;
}

@utility btn-hover-blue {
    @apply btn btn-hover-bg-blue-900 btn-hover-white;
}

@utility btn-hover-red {
    @apply btn btn-hover-bg-red-900 btn-hover-white;
}

@utility btn-hover-yellow {
    @apply btn btn-hover-bg-yellow-400;
}

@utility radioset {
    @apply flex gap-0.5;

    padding: var(--radioset-p);

    border-radius: calc(var(--radioset-svg-size) / 2 + var(--radioset-p) + var(--radioset-svg-p));

    background-color: var(--radioset-bg-color);

    &>input {
        @apply hidden;

        @variant checked {
            &+label {

                background-color: var(--radioset-hover-bg-color);

                &>svg {

                    fill: var(--radioset-hover-color);
                }
            }
        }
    }

    &>label {
        @apply cursor-pointer transition-colors;

        padding: var(--radioset-svg-p);

        border-radius: 50%;

        @variant hover {
            background-color: var(--radioset-hover-bg-color);

            &>svg {
                fill: var(--radioset-hover-color);
            }
        }

        @variant active {
            background-color: var(--radioset-hover-bg-color);

            &>svg {
                fill: var(--radioset-hover-color);
            }
        }

    }

    & svg {
        @apply transition-colors fill-current;

        width: var(--radioset-svg-size);
        height: var(--radioset-svg-size);
    }
}

@utility radioset-hover-* {
    --radioset-hover-color: --value(--color-*);
}

@utility radioset-hover-bg-* {
    --radioset-hover-bg-color: --value(--color-*);
}

@utility radioset-bg-* {
    --radioset-bg-color: --value(--color-*);
    --radioset-border-color: --value(--color-*);
}

@utility radioset-green {
    @apply radioset radioset-bg-green-500 radioset-hover-bg-green-900 radioset-hover-white;

    @variant dark {
        @apply radioset-bg-green-800 radioset-hover-bg-green-500 radioset-hover-black;
    }
}
