/* CSS Buttons */

@theme {
    --btn-px: calc(var(--spacing) * 4);
    --btn-py: calc(var(--spacing) * 0.5);

    --radioset-p: calc(var(--spacing) * 1);
}

@utility btn {
    @apply border transition-colors flex gap-2 items-center;

    border-radius: 50em;

    padding-inline: var(--btn-px);
    padding-block: var(--btn-py);

    border-color: var(--btn-border-color);
    background-color: var(--btn-bg-color);

    @variant disabled {
        @apply cursor-auto text-grey-700;
    }
}

@utility btn-filled {
    --btn-bg-color: var(--btn-base-color);
    --btn-border-color: transparent;

    @variant not-disabled {
        @variant hover {
            --btn-bg-color: color-mix(in oklab, var(--btn-base-color) 92%, transparent);
        }

        @variant active {
            --btn-bg-color: color-mix(in oklab, var(--btn-base-color) 90%, transparent);
        }
    }

    @variant disabled {
        @apply bg-grey-500/20 border-grey-500/20;
    }
}

@utility btn-tonal {
    --btn-bg-color: color-mix(in oklab, var(--btn-base-color) 30%, transparent);
    --btn-border-color: transparent;

    @variant not-disabled {
        @variant hover {
            --btn-bg-color: color-mix(in oklab, var(--btn-base-color) 38%, transparent);
        }

        @variant active {
            --btn-bg-color: color-mix(in oklab, var(--btn-base-color) 40%, transparent);
        }
    }

    @variant disabled {
        @apply bg-grey-500/20 border-grey-500/20;
    }
}

@utility btn-outlined {
    --btn-bg-color: transparent;
    --btn-border-color: var(--color-grey-500);

    @variant not-disabled {
        @variant hover {
            --btn-bg-color: color-mix(in oklab, var(--btn-base-color) 8%, transparent);
        }

        @variant active {
            --btn-bg-color: color-mix(in oklab, var(--btn-base-color) 10%, transparent);
        }
    }

    @variant disabled {
        @apply text-grey-500;
    }
}

@utility btn-text {
    --btn-bg-color: transparent;
    --btn-border-color: transparent;

    @variant not-disabled {
        @variant hover {
            --btn-bg-color: color-mix(in oklab, var(--btn-base-color) 8%, transparent);
            --btn-border-color: var(--btn-bg-color);
        }

        @variant active {
            --btn-bg-color: color-mix(in oklab, var(--btn-base-color) 10%, transparent);
            --btn-border-color: var(--btn-bg-color);
        }
    }

    @variant disabled {
        @apply text-grey-500;
    }
}

@utility btn-base-* {
    --btn-base-color: --value(--color-*);
}

@utility btn-size-lg {
    @apply text-2xl;

    --btn-px: calc(var(--spacing) * 5);
    --btn-py: calc(var(--spacing) * 1);

    & icon {
        font-size: 28px;
    }
}

@utility btn-size-xl {
    @apply text-3xl;

    --btn-px: calc(var(--spacing) * 7);
    --btn-py: calc(var(--spacing) * 1.5);

    & icon {
        font-size: 32px;
    }
}

/* Premade buttons */
@utility btn-filled-green {
    @apply btn btn-filled btn-base-green-600 dark:btn-base-green-400 text-white dark:text-green-900;
}

@utility btn-tonal-green {
    @apply btn btn-tonal btn-base-green-400 text-green-900 dark:btn-base-green-600 dark:text-green-100;
}

@utility btn-outlined-green {
    @apply btn btn-outlined btn-base-green-600 text-green-900 dark:text-green-200;
}

@utility btn-text-green {
    @apply btn btn-text btn-base-green-600 text-green-900 dark:text-green-200;
}

/* radioset is a set of radio buttons like a three way toggle */

@utility radioset {
    @apply flex gap-0.5 border-2;

    padding: var(--radioset-p);

    border-radius: 50em;

    &>input {
        @apply hidden;
    }

    &>label {
        @apply cursor-pointer transition-colors box-content;

        height: 24px;

        padding: var(--radioset-p);

        border-radius: 50%;
    }

    @variant not-disabled {
        &>label {

            @variant hover {
                background-color: color-mix(in oklab, var(--radioset-base-color) 15%, transparent);
            }

            @variant active {
                background-color: color-mix(in oklab, var(--radioset-base-color) 20%, transparent);
            }
        }

        &>input:checked+label {
            color: var(--radioset-checked-text);
            background-color: var(--radioset-base-color);
        }
    }

    @variant disabled {
        @apply bg-grey-500/20;

        &>label {
            @apply cursor-auto;
        }

        &>input:checked+label {
            @apply bg-grey-500/40;
        }
    }
}

@utility radioset-base-* {
    --radioset-base-color: --value(--color-*);
}

@utility radioset-checked-text-* {
    --radioset-checked-text: --value(--color-*);
}

@utility radioset-green {
    @apply radioset radioset-base-green-600 text-green-900 dark:radioset-base-green-400 dark:text-green-200;
    @apply radioset-checked-text-green-100 dark:radioset-checked-text-green-900;
}
