@layer base {

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

}

@theme {
    --btn-px: calc(var(--spacing) * 4);
    --btn-py: calc(var(--spacing) * 0.5);

    --radioset-p: calc(var(--spacing) * 1);
}

@utility btn {
    @apply border transition-colors flex gap-1 items-center whitespace-nowrap;

    /* big radius to get pill shape */
    border-radius: 100em;

    padding-inline: var(--btn-px);
    padding-block: var(--btn-py);

    border-color: var(--btn-border-color);
    background-color: var(--btn-bg-color);

    @variant disabled {
        @apply cursor-auto text-grey-700;
    }
}

@utility btn-stacked {
    @apply mb-6;

    &>div {
        @apply absolute left-1/2 -bottom-6 -translate-x-1/2;
        @apply text-sm text-center;
    }
}

@utility btn-filled {
    --btn-bg-color: var(--btn-base-color);
    --btn-border-color: transparent;

    color: var(--btn-text-color);

    @variant not-disabled {
        @variant hover {
            --btn-bg-color: color-mix(in oklab, var(--btn-base-color) 92%, transparent);

            color: var(--btn-text-color);

            & icon {
                font-variation-settings: 'FILL' 1;
            }
        }

        @variant active {
            --btn-bg-color: color-mix(in oklab, var(--btn-base-color) 90%, transparent);

            color: var(--btn-text-color);

            & icon {
                font-variation-settings: 'FILL' 1;
            }
        }
    }

    @variant disabled {
        @apply bg-grey-500/20;
    }
}

@utility btn-tonal {
    --btn-bg-color: color-mix(in oklab, var(--btn-base-color) 30%, transparent);
    --btn-border-color: transparent;

    color: var(--btn-text-color);

    @variant not-disabled {
        @variant hover {
            --btn-bg-color: color-mix(in oklab, var(--btn-base-color) 38%, transparent);

            color: var(--btn-text-color);

            & icon {
                font-variation-settings: 'FILL' 1;
            }
        }

        @variant active {
            --btn-bg-color: color-mix(in oklab, var(--btn-base-color) 40%, transparent);

            color: var(--btn-text-color);

            & icon {
                font-variation-settings: 'FILL' 1;
            }
        }
    }

    @variant disabled {
        @apply bg-grey-500/10;
    }
}

@utility btn-outlined {
    --btn-bg-color: transparent;
    --btn-border-color: var(--color-grey-500);

    color: var(--btn-text-color);

    @variant not-disabled {
        @variant hover {
            --btn-bg-color: color-mix(in oklab, var(--btn-base-color) 8%, transparent);

            color: var(--btn-text-color);

            & icon {
                font-variation-settings: 'FILL' 1;
            }
        }

        @variant active {
            --btn-bg-color: color-mix(in oklab, var(--btn-base-color) 10%, transparent);

            color: var(--btn-text-color);

            & icon {
                font-variation-settings: 'FILL' 1;
            }
        }
    }

    @variant disabled {
        @apply text-grey-500;
    }
}

@utility btn-text {
    --btn-bg-color: transparent;
    --btn-border-color: transparent;

    color: var(--btn-text-color);

    @variant not-disabled {

        @variant hover {
            --btn-bg-color: color-mix(in oklab, var(--btn-base-color) 8%, transparent);
            --btn-border-color: var(--btn-bg-color);

            color: var(--btn-text-color);

            & icon {
                font-variation-settings: 'FILL' 1;
            }
        }

        @variant active {
            --btn-bg-color: color-mix(in oklab, var(--btn-base-color) 10%, transparent);
            --btn-border-color: var(--btn-bg-color);

            color: var(--btn-text-color);

            & icon {
                font-variation-settings: 'FILL' 1;
            }
        }
    }

    @variant disabled {
        @apply text-grey-500;
    }
}

@utility btn-base-* {
    --btn-base-color: --value(--color-*);
}

@utility btn-text-* {
    --btn-text-color: --value(--color-*);
}

@utility btn-size-lg {
    @apply text-2xl;

    --btn-px: calc(var(--spacing) * 5);
    --btn-py: calc(var(--spacing) * 1);

    & icon {
        font-size: 28px;
    }
}

@utility btn-size-xl {
    @apply text-3xl;

    --btn-px: calc(var(--spacing) * 7);
    --btn-py: calc(var(--spacing) * 1.5);

    & icon {
        font-size: 32px;
    }
}

@utility btn-sq {
    --btn-px: var(--btn-py);
}

/* Premade buttons */
@utility btn-filled-green {
    @apply btn btn-filled btn-base-green-600 dark:btn-base-green-400 btn-text-white dark:btn-text-green-900;
}

@utility btn-tonal-green {
    @apply btn btn-tonal btn-base-green-400 btn-text-green-900 dark:btn-base-green-600 dark:btn-text-green-100;
}

@utility btn-outlined-green {
    @apply btn btn-outlined btn-base-green-600 btn-text-green-900 dark:btn-text-green-200;
}

@utility btn-text-green {
    @apply btn btn-text btn-base-green-600 btn-text-green-900 dark:btn-text-green-200;
}

@utility btn-text-red {
    @apply btn btn-text btn-base-red-600 btn-text-red-900 dark:btn-text-red-200;
}

/* Floating action buttons (FAB) */

@utility fab-green {
    @apply btn-filled-green p-4;

    border-radius: 1em;
}

/* radioset is a set of radio buttons like a three way toggle */

@utility radioset {
    @apply flex gap-0.5 border-2;

    padding: var(--radioset-p);

    /* big radius to get pill shape */
    border-radius: 100em;

    & input {
        @apply hidden;
    }

    & label {
        @apply cursor-pointer contents;
    }

    & icon {
        @apply transition-colors box-content;

        height: 24px;

        padding: var(--radioset-p);

        border-radius: 50%;
    }

    @variant not-disabled {
        &>label {

            @variant hover {
                & icon {
                    background-color: color-mix(in oklab, var(--radioset-base-color) 15%, transparent);
                    font-variation-settings: 'FILL' 1;
                }
            }

            @variant active {
                & icon {
                    background-color: color-mix(in oklab, var(--radioset-base-color) 20%, transparent);
                    font-variation-settings: 'FILL' 1;
                }
            }
        }

        & input:checked+icon {
            color: var(--radioset-checked-text);
            background-color: var(--radioset-base-color);
        }
    }

    @variant disabled {
        @apply bg-grey-500/20 border-grey-500 text-grey-500;

        &>label {
            @apply cursor-auto;
        }

        & input:checked+icon {
            @apply bg-grey-500/40;
        }
    }
}

@utility radioset-base-* {
    --radioset-base-color: --value(--color-*);
}

@utility radioset-checked-text-* {
    --radioset-checked-text: --value(--color-*);
}

@utility radioset-green {
    @apply radioset radioset-base-green-600 text-green-900 dark:radioset-base-green-400 dark:text-green-200;
    @apply radioset-checked-text-green-100 dark:radioset-checked-text-green-900;
}
