@layer base {
    /* TODO (WattsUp): Add clear button */

    input,
    select {
        --input-border-color: var(--color-outline);
        @apply px-2 py-1 rounded-md;
        @apply border;

        border-color: var(--input-border-color);
    }

    input[type=number] {
        appearance: textfield;
    }

    select {
        appearance: menulist-button;
    }
}

@utility input-outlined-translate {

    &~div:first-of-type {
        @apply translate-x-2 delay-75 before:scale-x-100 before:delay-0;

        &>div {
            @apply text-sm -translate-y-1/2 delay-0;
        }
    }
}

@utility input-outlined {
    @apply relative block mt-1;

    --input-bg-color: var(--color-surface);
    --input-label-color: var(--color-on-surface-variant);

    --input-pl: calc(var(--spacing) * 2);

    &:has(icon) {
        --input-pl: calc(var(--spacing) * 8);
    }

    &>icon {
        @apply absolute left-1 top-1 border border-transparent;
        @apply text-on-surface-variant;
    }

    &>div {
        color: var(--input-label-color);
    }

    /* label text */
    &>div:first-of-type {
        @apply absolute left-0 top-0 border border-transparent;
        @apply transition-transform;

        translate: var(--input-pl) 0;

        &::before {
            @apply block w-full h-3 absolute -top-1.5;
            @apply transition-transform scale-x-0 delay-75;

            content: "";
            background-color: var(--input-bg-color);
        }

        &>div {
            @apply py-1 px-1 transition delay-75;

            transition-property: transform, translate, font-size;
        }
    }

    /* Supporting text */
    &>div:not(:first-of-type) {
        @apply block ml-2 h-5;
        @apply text-sm;
    }

    &>input,
    &>select {
        @apply w-full;

        padding-left: var(--input-pl);

        @variant focus-visible {
            @apply outline-2 outline-primary;
        }

        @variant not-disabled {

            @variant hover {
                @apply border-on-surface;
            }

            @variant [:active, :focus-visible, :focus-within] {
                @apply input-outlined-translate;
                --input-label-color: var(--color-on-surface-var);
            }
        }

        @variant disabled {
            @apply border-on-surface/12;
            --input-label-color: color-mix(in oklab, var(--color-on-surface) 38%, transparent);
            color: var(--input-label-color);

            &~div {
                --input-label-color: color-mix(in oklab, var(--color-on-surface) 38%, transparent);
            }

            &~icon {
                color: color-mix(in oklab, var(--color-on-surface) 38%, transparent);
            }
        }

        /* No clicking the label */
        &~div {
            @apply pointer-events-none;
        }
    }

    &>input:not(:placeholder-shown),
    &>select:has(option:checked:not([value])),
    &>select:has(option:checked:not([value=""])) {
        @apply input-outlined-translate;
    }

    &:has(error:not(:empty)) {
        --input-label-color: var(--color-error);
        --input-border-color: var(--color-error);

        &>input,
        &>select {
            @variant focus-visible {
                @apply outline-error;
            }
        }

        &>div:not(:first-of-type)>span {
            @apply hidden;
        }


        @variant hover {
            --input-border-color: var(--color-on-error-container);

            &>div:first-of-type {
                @apply text-on-error-container;
            }
        }
    }
}

@utility input-bg-* {
    --input-bg-color: --value(--color-*);
}

@utility toggle {
    @apply flex items-center;

    --toggle-base-color: var(--color-primary);
    --toggle-state-color: var(--color-on-primary);

    --toggle-track-color: var(--color-surface-container-highest);
    --toggle-border-color: var(--color-outline);
    --toggle-handle-color: var(--color-outline);

    &>input {
        @apply opacity-0 w-0 h-0;

        @variant disabled {
            &~div {
                @apply cursor-auto text-on-surface/38;

                &>span {
                    @apply text-on-surface/38;
                }
            }

            @variant checked {
                &~switch {
                    --toggle-track-color: color-mix(in oklab, var(--color-on-surface) 12%, transparent);
                    --toggle-border-color: transparent;
                    --toggle-handle-color: var(--color-surface);
                }
            }

            @variant not-checked {
                &~switch {
                    --toggle-track-color: color-mix(in oklab, var(--color-surface-container-highest) 12%, transparent);
                    --toggle-border-color: color-mix(in oklab, var(--color-on-surface) 12%, transparent);
                    --toggle-handle-color: color-mix(in oklab, var(--color-on-surface) 32%, transparent);
                }
            }
        }

        @variant not-disabled {

            @variant checked {
                &~switch {
                    --toggle-track-color: var(--toggle-base-color);
                    --toggle-border-color: var(--toggle-base-color);
                    --toggle-handle-color: var(--toggle-state-color);
                }

                @variant hover {
                    &~switch {
                        @apply after:bg-primary-container;
                    }
                }

            }

            @variant not-checked {
                @variant hover {
                    &~switch {
                        --toggle-track-color: color-mix(in oklab, var(--color-surface-container-highest) 92%, var(--color-on-surface));
                        --toggle-handle-color: var(--color-on-surface-variant);
                    }
                }
            }

            @variant focus-visible {
                &~switch {
                    @apply outline-3 outline-secondary;
                }
            }
        }

        @variant checked {
            &~switch::after {
                @apply translate-x-5;
            }
        }

    }

    &>div {
        @apply flex flex-col justify-center grow;

        &>span {
            @variant not-first {
                @apply text-sm text-on-surface-variant;
            }
        }
    }

    &>switch {
        @apply w-13 h-8 relative;
        @apply border-2 transition-colors;

        background-color: var(--toggle-track-color);
        border-color: var(--toggle-border-color);

        /* big radius to get pill shape */
        border-radius: 100em;

        &::after {
            @apply block;
            @apply w-4 h-4 absolute top-1.5 left-1.5;
            @apply transition-transform origin-center;

            transition-property: scale, transform, translate, background-color;
            background-color: var(--toggle-handle-color);
            content: "";
            border-radius: 50%;
        }

    }

    @variant active {
        &>input:not(:disabled) {
            &~switch::after {
                @apply scale-175;
            }
        }
    }

    @variant not-active {
        &>input:checked {
            &~switch::after {
                @apply scale-150;
            }
        }
    }
}

@utility checkbox {
    @apply flex items-center;


    --toggle-base-color: var(--color-primary);
    --toggle-icon-color: var(--color-primary);
    --toggle-state-color: transparent;

    --toggle-bg-color: transparent;

    &>icon {
        @apply ml-2 p-1 transition-colors;
        border-radius: 100em;
        background-color: var(--toggle-bg-color);
        color: var(--toggle-icon-color);

        @variant nth-of-type-2 {
            font-variation-settings: 'FILL' 1;
        }
    }

    &>div {
        @apply rounded-md;
    }

    &>input {
        @apply opacity-0 w-0 h-0;

        @variant disabled {

            &~div,
            &~icon {
                @apply text-on-surface/38;
            }

        }

        @variant not-disabled {
            @variant hover {
                &~icon {
                    --toggle-bg-color: color-mix(in oklab, var(--toggle-base-color) 8%, var(--toggle-state-color));
                    font-variation-settings: 'FILL' 1;
                }
            }

            @variant [:active, :focus-visible] {
                &~icon {
                    --toggle-bg-color: color-mix(in oklab, var(--toggle-base-color) 10%, var(--toggle-state-color));
                    font-variation-settings: 'FILL' 1;
                }
            }

        }

        @variant not-checked {

            &~div>span:nth-of-type(2),
            &~icon:nth-of-type(2) {
                @apply hidden;
            }
        }

        @variant checked {

            &~div>span:nth-of-type(1),
            &~icon:nth-of-type(1) {
                @apply hidden;
            }

        }
    }

    &:has(input:focus-visible)>div {
        @apply outline-3 outline-secondary;
    }

}
