/* static/src/main.css */

@import "tailwindcss";

@import "./fonts.css";
@import "./buttons.css";
@import "./inputs.css";
@import "./prose.css";

@import "./nav.css";
@import "./dialog.css";

/* Apply dark theme if on element or any ancestor */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-*: initial;

    --color-pri: #3F6837;
    --color-on-pri: #FFFFFF;
    --color-pri-cont: #BFF0B1;
    --color-on-pri-cont: #002201;
    --color-pri-fixed: #BFF0B1;
    --color-on-pri-fixed: #002201;
    --color-pri-fixed-dim: #A4D396;
    --color-on-pri-fixed-var: #275021;
    --color-inv-pri: #A4D396;

    --color-sec: #53634E;
    --color-on-sec: #FFFFFF;
    --color-sec-cont: #D7E8CD;
    --color-on-sec-cont: #121F0F;
    --color-sec-fixed: #D7E8CD;
    --color-on-sec-fixed: #121F0F;
    --color-sec-fixed-dim: #BBCBB2;
    --color-on-sec-fixed-var: #3C4B37;

    --color-tert: #386569;
    --color-on-tert: #FFFFFF;
    --color-tert-cont: #BCEBEF;
    --color-on-tert-cont: #002022;
    --color-tert-fixed: #BCEBEF;
    --color-on-tert-fixed: #002022;
    --color-tert-fixed-dim: #A0CFD2;
    --color-on-tert-fixed-var: #1E4D51;

    --color-error: #BA1A1A;
    --color-on-error: #FFFFFF;
    --color-error-cont: #FFDAD6;
    --color-on-error-cont: #410002;

    --color-bg: #F8FBF1;
    --color-on-bg: #191D17;
    --color-surface: #F8FBF1;
    --color-on-surface: #191D17;
    --color-surface-dim: #D8DBD2;
    --color-surface-bright: #F8FBF1;
    --color-surface-var: #DFE4D8;
    --color-on-surface-var: #43493F;

    --color-inv-surface: #2E322B;
    --color-inv-on-surface: #EFF2E8;

    --color-surface-cont-lowest: #FFFFFF;
    --color-surface-cont-low: #F2F5EB;
    --color-surface-cont: #ECEFE5;
    --color-surface-cont-high: #E6E9E0;
    --color-surface-cont-highest: #E1E4DA;

    --color-outline: #73796E;
    --color-outline-var: #C3C8BC;

    --color-shadow: #000000;
    --color-scrim: #000000;

    --color-white: #fff;
    --color-black: #000;

    /* Chart colors */
    --color-c0: #4472c4;
    --color-c2: #966bc2;
    --color-c2: #c16794;
    --color-c3: #c4996e;
    --color-c4: #6bc296;

    --font-serif: 'linux-libertine',
        'serif',
        'noto-color-emoji';
    --font-sans: 'liberation-sans',
        'sans-serif',
        'noto-color-emoji';
    --font-title: 'fogtwo-no5',
        'serif',
        'noto-color-emoji';
    --font-mono: 'code-new-roman',
        'monospace',
        'noto-color-emoji';
}

@layer base {

    icon {
        user-select: none;
        font-family: "material-icons-outlined";
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -moz-font-feature-settings: "liga";
        font-feature-settings: "liga";
        -moz-osx-font-smoothing: grayscale;
    }

    icon.filled {
        font-variation-settings: 'FILL' 1;
    }

    html {
        @apply scroll-smooth overscroll-y-contain;

        @variant dark {
            --color-pri: #A4D396;
            --color-on-pri: #10380C;
            --color-pri-cont: #275021;
            --color-on-pri-cont: #BFF0B1;
            --color-inv-pri: #3F6837;

            --color-sec: #BBCBB2;
            --color-on-sec: #263422;
            --color-sec-cont: #3C4B37;
            --color-on-sec-cont: #D7E8CD;

            --color-tert: #A0CFD2;
            --color-on-tert: #00373A;
            --color-tert-cont: #1E4D51;
            --color-on-tert-cont: #BCEBEF;

            --color-error: #FFB4AB;
            --color-on-error: #690005;
            --color-error-cont: #93000A;
            --color-on-error-cont: #FFDAD6;

            --color-bg: #11140F;
            --color-on-bg: #E1E4DA;
            --color-surface: #11140F;
            --color-on-surface: #E1E4DA;
            --color-surface-dim: #11140F;
            --color-surface-bright: #363A34;
            --color-surface-var: #43493F;
            --color-on-surface-var: #C3C8BC;

            --color-inv-surface: #E1E4DA;
            --color-inv-on-surface: #2E322B;

            --color-surface-cont-lowest: #0B0F0A;
            --color-surface-cont-low: #191D17;
            --color-surface-cont: #1D211B;
            --color-surface-cont-high: #272B25;
            --color-surface-cont-highest: #32362F;

            --color-outline: #8D9387;
            --color-outline-var: #43493F;

            --color-shadow: #000000;
            --color-scrim: #000000;
        }
    }

    body {
        @apply antialiased h-screen w-screen relative overscroll-y-contain;
        @apply bg-surface text-on-surface;
    }

}

@layer components {
    .scrim {
        @apply absolute inset-0 cursor-pointer;
        @apply -translate-x-full;
        @apply bg-scrim/40 opacity-0;

        /* delay translate until opacity finishes */
        transition: opacity 0.3s, translate 0s 0.3s;
    }

    #main-sizer {
        @apply h-screen overflow-y-auto;
        @apply max-md:pt-10 max-md:pb-16.5;
        @apply md:pl-24 lg:pl-52;
    }

    #main {
        @apply p-2 min-h-full;
    }
}

@utility error {
    @apply flex items-center justify-center gap-1 p-1 rounded-md;
    @apply empty:hidden;
    @apply bg-error-cont text-on-error-cont;
}
