/* static/src/main.css */

@import "tailwindcss";

@import "./fonts.css";
@import "./buttons.css";
@import "./inputs.css";
@import "./prose.css";

@import "./nav.css";
@import "./dialog.css";

/* Apply dark theme if on element or any ancestor */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-*: initial;

    /* default 500 */
    /* TODO (WattsUp): fix default color */
    /* TODO (WattsUp): Use color roles */
    --color-green-50: #f2fcf1;
    --color-green-100: #e0f9df;
    --color-green-200: #c2f1c1;
    --color-green-300: #90e590;
    --color-green-400: #58d058;
    --color-green-500: #33ba33;
    --color-green-600: #249524;
    --color-green-700: #1f7620;
    --color-green-800: #1e5d1f;
    --color-green-900: #1a4d1b;
    --color-green-950: #092a0b;

    /* default 600 */
    --color-blue-50: #f2f6fc;
    --color-blue-100: #e2ecf7;
    --color-blue-200: #cbdef2;
    --color-blue-300: #a7c9e9;
    --color-blue-400: #7dacdd;
    --color-blue-500: #5e8fd3;
    --color-blue-600: #4472c4;
    --color-blue-700: #4064b5;
    --color-blue-800: #395294;
    --color-blue-900: #324776;
    --color-blue-950: #222d49;

    /* default 400 */
    --color-red-50: #fdf3f3;
    --color-red-100: #fce4e4;
    --color-red-200: #facfce;
    --color-red-300: #f6acab;
    --color-red-400: #ee7674;
    --color-red-500: #e35250;
    --color-red-600: #d03532;
    --color-red-700: #ae2927;
    --color-red-800: #902624;
    --color-red-900: #782524;
    --color-red-950: #410f0e;

    /* default 300 */
    --color-yellow-50: #fffaeb;
    --color-yellow-100: #fff0c6;
    --color-yellow-200: #ffdf88;
    --color-yellow-300: #ffd166;
    --color-yellow-400: #ffb220;
    --color-yellow-500: #f98f07;
    --color-yellow-600: #dd6802;
    --color-yellow-700: #b74706;
    --color-yellow-800: #94360c;
    --color-yellow-900: #7a2e0d;
    --color-yellow-950: #461502;

    /* default 500 */
    --color-grey-50: #f6f6f6;
    --color-grey-100: #e7e7e7;
    --color-grey-200: #d1d1d1;
    --color-grey-300: #b0b0b0;
    --color-grey-400: #888888;
    --color-grey-500: #6d6d6d;
    --color-grey-600: #5d5d5d;
    --color-grey-700: #4f4f4f;
    --color-grey-800: #454545;
    --color-grey-900: #3d3d3d;
    --color-grey-950: #282828;

    --color-white: #fff;
    --color-black: #000;

    /* Chart colors */
    --color-c0: #4472c4;
    --color-c2: #966bc2;
    --color-c2: #c16794;
    --color-c3: #c4996e;
    --color-c4: #6bc296;

    --font-serif: 'linux-libertine', 'serif', 'noto-color-emoji';
    --font-sans: 'liberation-sans', 'sans-serif', 'noto-color-emoji';
    --font-title: 'fogtwo-no5', 'serif', 'noto-color-emoji';
    --font-mono: 'code-new-roman', 'monospace', 'noto-color-emoji';
}

@layer base {

    icon {
        user-select: none;
        font-family: "material-icons-outlined";
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -moz-font-feature-settings: "liga";
        font-feature-settings: "liga";
        -moz-osx-font-smoothing: grayscale;
    }

    icon.filled {
        font-variation-settings: 'FILL' 1;
    }

    html {
        @apply scroll-smooth overscroll-y-contain;
    }

    body {
        @apply antialiased h-screen w-screen relative overscroll-y-contain;
        @apply bg-grey-50 dark:bg-grey-950 text-black dark:text-white;
    }

}

@layer components {
    .scrim {
        @apply absolute inset-0 z-45 cursor-pointer;
        @apply -translate-x-full;
        @apply bg-grey-500/50 opacity-0;

        /* delay translate until opacity finishes */
        transition: opacity 0.3s, translate 0s 0.3s;
    }

    #main-sizer {
        @apply h-screen overflow-y-auto;
        @apply max-md:pt-10 max-md:pb-16.5;
        @apply md:pl-24 lg:pl-52;
    }

    #main {
        @apply p-2 min-h-full;
    }
}

@utility error {
    @apply flex items-center justify-center gap-1 p-1 rounded-md;
    @apply empty:hidden;
    @apply bg-red-400 dark:bg-red-800;
}

@layer components {

    .checkbox {
        @apply cursor-pointer relative;
    }

    .checkbox input {
        @apply hidden;
    }

    .checkbox svg {
        @apply bg-grey-200 m-0.5 transition-colors fill-grey-600 flex-shrink-0;
    }

    .checkbox:hover input~svg {
        @apply md:bg-grey-400;
    }

    .checkbox input:checked~svg {
        @apply bg-green-500 fill-white;
    }

    .tooltip {
        @apply relative inline-block underline decoration-dotted;
    }

    .tooltip-text {
        @apply invisible w-64 bg-grey-800 text-white text-center rounded p-1 absolute z-10 opacity-0 transition-opacity;
    }

    .tooltip-text::after {
        @apply content-[""] absolute top-1/2 border-4 border-solid border-transparent;
    }

    .tooltip:hover .tooltip-text {
        @apply md:visible md:opacity-100;
    }

    .hover-edit>input {
        @apply hidden;
    }

    .hover-edit:hover>span {
        @apply md:hidden;
    }

    .hover-edit>span,
    .hover-edit:hover>input {
        @apply md:inline;
    }

    .hover-edit>input:focus,
    .hover-edit.hover-active>input {
        @apply inline;
    }

    .hover-edit.hover-active>span,
    .hover-edit>input:focus+span {
        @apply hidden;
    }
}
