<nav class="bg-green-300 pt-12 w-[16rem] font-serif h-full fixed">
  <div class="h-full overflow-y-auto">
    <a class="block m-2" href="/#todo">
      <div class="bg-green-800">
        <h1 class="text-white p-1 text-2xl flex justify-between">
          <span>Net Worth</span>
        </h1>
      </div>
      <div class="bg-white p-1">
        <h1 class="text-3xl ml-auto text-right">$1,000,000,000.00</h1>
        <h2 class="flex justify-between pt-2">
          <span>Assets</span><span>$1,000,000,000.00</span>
        </h2>
        <div class="h-1 bg-grey-400">
          <div class="bg-green h-full" style="width: 56.123%"></div>
        </div>
        <h2 class="flex justify-between">
          <span>Liabilities</span><span>$1,000,000,000.00</span>
        </h2>
        <div class="h-1 bg-grey-400">
          <div class="bg-blue h-full" style="width: 36.123%"></div>
        </div>
      </div>
    </a>
    <div class="m-2">
      <a class="block bg-green-800" href="/#todo">
        <h1 class="text-white p-1 text-xl flex justify-between">
          <span>Cash</span><span>$1,000,000,000.00</span>
        </h1>
      </a>
      <div class="bg-white p-1">
        <a class="block nav-account" href="/#todo">
          <h1>
            <span>Institution</span><span>1,000,000,000.00</span>
          </h1>
          <h2>
            <span>Bank</span><span>updated 10 days ago</span>
          </h2>
        </a>
        <a class="block nav-account" href="/#todo">
          <h1>
            <span>Institution</span><span>1,000,000,000.00</span>
          </h1>
          <h2>
            <span>Bank</span><span>updated 10 days ago</span>
          </h2>
        </a>
      </div>
    </div>
    <div class="m-2">
      <a class="block bg-green-800" href="/#todo">
        <h1 class="text-white p-1 text-xl flex justify-between">
          <span>Cash</span><span>$1,000,000,000.00</span>
        </h1>
      </a>
      <div class="bg-white p-1">
        <a class="block nav-account" href="/#todo">
          <h1>
            <span>Institution</span><span>1,000,000,000.00</span>
          </h1>
          <h2>
            <span>Bank</span><span>updated 10 days ago</span>
          </h2>
        </a>
        <a class="block nav-account" href="/#todo">
          <h1>
            <span>Institution</span><span>1,000,000,000.00</span>
          </h1>
          <h2>
            <span>Bank</span><span>updated 10 days ago</span>
          </h2>
        </a>
      </div>
    </div>
    <div class="m-2">
      <a class="block bg-green-800" href="/#todo">
        <h1 class="text-white p-1 text-xl flex justify-between">
          <span>Cash</span><span>$1,000,000,000.00</span>
        </h1>
      </a>
      <div class="bg-white p-1">
        <a class="block nav-account" href="/#todo">
          <h1>
            <span>Institution</span><span>1,000,000,000.00</span>
          </h1>
          <h2>
            <span>Bank</span><span>updated 10 days ago</span>
          </h2>
        </a>
        <a class="block nav-account" href="/#todo">
          <h1>
            <span>Institution</span><span>1,000,000,000.00</span>
          </h1>
          <h2>
            <span>Bank</span><span>updated 10 days ago</span>
          </h2>
        </a>
      </div>
    </div>
  </div>
</nav>
