<nav class="bg-green-300 pt-12 w-60 xl:w-80 font-serif h-full fixed">
  <div class="m-2">
    <div class="bg-green-800">
      <h1 class="text-white p-1 text-2xl flex justify-between">
        <span>Net Worth</span>
      </h1>
    </div>
    <div class="bg-white p-1">
      <h1 class="text-3xl ml-auto text-right">$1,000,000,000.00</h1>
      <h2 class="flex justify-between pt-2">
        <span>Assets</span><span>$1,000,000,000.00</span>
      </h2>
      <div class="h-1 bg-grey-400">
        <div class="bg-green h-full" style="width: 56.123%"></div>
      </div>
      <h2 class="flex justify-between">
        <span>Liabilities</span><span>$1,000,000,000.00</span>
      </h2>
      <div class="h-1 bg-grey-400">
        <div class="bg-blue h-full" style="width: 36.123%"></div>
      </div>
    </div>
  </div>
</nav>
