<section class="flex flex-col bg-white max-w-screen-lg m-auto p-2 h-full"
         hx-get="{{ url_for('emergency_fund.page') }}"
         hx-trigger="update-account from:body, update-transaction from:body"
         hx-target="#main"
         hx-swap="innerHTML">
    <h1 class="text-3xl align-left w-full font-serif text-green-600">Emergency Fund</h1>
    <div class="w-full flex justify-around text-lg">
        <div class="text-center">
            <h1 class="text-lg font-bold">Emergency fund savings</h1>
            <h1 class="text-2xl font-bold text-blue">{{ e_fund["current"] | money0 }}</h1>
        </div>
        <div class="text-center">
            <h1 class="text-lg font-bold">Recommended emergency fund</h1>
            <h1 class="text-2xl font-bold text-green-600">
                {{ e_fund["target_lower"] | money0 }} - {{ e_fund["target_upper"] | money0 }}
            </h1>
        </div>
    </div>
    <div class="w-full h-96">
        <canvas id="e-fund-chart-canvas"></canvas>
    </div>
    {% include "emergency-fund/chart-data.jinja" %}
    <div>
        <p>
            {% if e_fund["months"] is none %}
                No spending found to estimate emergency budget.
            {% elif e_fund["delta_lower"] > 0 %}
                You have {{ e_fund["current"] | money0 }} in your emergency fund.
                You need {{ e_fund["target_lower"] | money0 }} for emergencies to cover 3 months of budgeted expenses.
                Consider increasing your emergency fund by {{ e_fund["delta_lower"] | money0 }}.
            {% elif e_fund["delta_upper"] > 0 %}
                You have {{ e_fund["current"] | money0 }} in your emergency fund
                which will cover {{ "%0.1f" % e_fund["months"] }} months of budgeted expenses.
                You only need {{ e_fund["target_upper"] | money0 }} to cover 6 months of budgeted expenses.
                Unless you have a planned spending goal this year, the extra {{ e_fund["delta_upper"] | money0 }} could be invested.
            {% else %}
                You have {{ e_fund["current"] | money0 }} in your emergency fund
                which will cover {{ "%0.1f" % e_fund["months"] }} months of budgeted expenses.
                You are in good shape to cover the recommended 3 - 6 months of budgeted expenses.
            {% endif %}
            Edit emergency fund balance on the
            <a class="underline text-blue cursor-pointer"
               href="{{ url_for('budgeting.page') }}"
               hx-get="{{ url_for('budgeting.page') }}"
               hx-target="#main"
               hx-swap="innerHTML"
               hx-push-url="true">budgeting page</a>.
        </p>
    </div>
    <h1 class="text-3xl align-left w-full font-serif text-green-600">Essential Spending</h1>
    <p class="italic text-sm">
        Categories marked essential form the estimated monthly emergency budget.
        Edit transaction categories
        <span class="underline text-blue cursor-pointer"
              hx-get="{{ url_for('transaction_categories.overlay') }}"
              hx-target="#overlay"
              hx-swap="innerHTML"
              hx-push-url="false">here</span>.
        Only transactions from budgeted accounts are included. To change which accounts are included in budgeting, edit account in the sidebar.
    </p>
    <div class="header w-full flex justify-between font-bold border-b border-b-grey-200 sticky top-0 bg-white">
        <div class="w-[15rem] min-w-[15rem] p-1 truncate grow">Category</div>
        <div class="w-[12rem] min-w-[12rem] p-1 truncate text-right">Monthly Spending</div>
        <div class="w-[12rem] min-w-[12rem] p-1 truncate text-right">3-Month Spending</div>
        <div class="w-[12rem] min-w-[12rem] p-1 truncate text-right">6-Month Spending</div>
    </div>
    {% for info in e_fund["categories"] %}
        <div class="w-full flex even:bg-grey-50 hover:bg-grey-100">
            <div class="w-[15rem] min-w-[15rem] p-1 truncate grow">{{ info["emoji_name"] }}</div>
            <div class="w-[12rem] min-w-[12rem] p-1 truncate text-right">{{ info["monthly"] | money }}</div>
            <div class="w-[12rem] min-w-[12rem] p-1 truncate text-right">{{ info["lower"] | money }}</div>
            <div class="w-[12rem] min-w-[12rem] p-1 truncate text-right">{{ info["upper"] | money }}</div>
        </div>
    {% endfor %}
</section>
