<div class="absolute inset-0 bg-grey-500 opacity-50 z-[-1] cursor-pointer max-md:hidden"
     onclick="overlayEditor.close()"></div>
<div class="w-full max-md:min-h-full md:w-[750px] md:h-[580px] md:max-h-[90vh] bg-white opacity-100 m-auto flex flex-col py-2 px-6"
     hx-swap="innerHTML">
    <div class="flex items-start mb-2">
        <h1 class="font-serif text-2xl text-green-600 grow">Edit account</h1>
        <button class="shrink-0" onclick="overlayEditor.close()">
            {% with class="w-[32px] h-[32px]" %}
                {% include "svg/x.svg" %}
            {% endwith %}
        </button>
    </div>
    <div class="flex w-full gap-4 min-h-0 max-md:flex-col grow"
         id="form-account">
        <div class="md:w-5/12 flex flex-col items-center">
            <hr class="w-full border-grey-200">
            <div class="font-serif text-2xl">{{ account["value"] | money }}</div>
            <hr class="w-full border-grey-200">
            <div class="flex gap-4 justify-between w-full">
                <span class="font-bold">Most recent transaction</span>
                <span>{{ account["updated_days_ago"] | days }}
                ago</span>
            </div>
            <div class="flex gap-4 justify-between w-full">
                <span class="font-bold">Oldest transaction</span>
                <span>{{ account["opened_days_ago"] | days }}
                ago</span>
            </div>
            <hr class="w-full border-grey-200">
            <label class="flex gap-4 justify-between w-full checkbox">
                <span class="font-bold">Account closed:</span>
                <input type="checkbox"
                       name="closed"
                       {% if account["closed"] %}checked{% endif %}
                       id="account-closed"
                       autocomplete="off">
                {% with class = "w-5 h-5" %}
                    {% include "svg/check.svg" %}
                {% endwith %}
            </label>
            <label class="flex gap-4 justify-between w-full checkbox">
                <span class="font-bold">Included in budgeting:</span>
                <input type="checkbox"
                       name="budgeted"
                       {% if account["budgeted"] %}checked{% endif %}
                       id="account-budgeted"
                       autocomplete="off">
                {% with class = "w-5 h-5" %}
                    {% include "svg/check.svg" %}
                {% endwith %}
            </label>
        </div>
        <div class="md:w-7/12">
            <h1 class="font-bold">Edit details</h1>
            <hr class="w-full border-grey-200">
            <div class="flex gap-1 min-h-7">
                <div class="w-20 shrink-1">Institution</div>
                <div class="grow">
                    <input class="w-full"
                           name="institution"
                           value="{{ account["institution"] | e }}"
                           autocomplete="off">
                </div>
            </div>
            <div class="flex gap-1 min-h-7">
                <div class="w-20 shrink-1">Number</div>
                <div class="grow">
                    <input class="w-full"
                           name="number"
                           value="{{ account["number"] or "" }}"
                           autocomplete="off">
                </div>
            </div>
            <div class="flex gap-1 min-h-7">
                <div class="w-20 shrink-1">Name</div>
                <div class="grow">
                    <input class="w-full"
                           name="name"
                           value="{{ account["name"] | e }}"
                           autocomplete="off">
                </div>
            </div>
            <div class="flex gap-1 min-h-7">
                <div class="w-20 shrink-1">Category</div>
                <div class="grow">
                    <select class="w-full" name="category" autocomplete="off">
                        {% for cat in account["category_type"] %}
                            <option value="{{ cat | enum }}"
                                    {% if cat == account["category"] %}selected{% endif %}>
                                {{ cat | enum | title }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div id="overlay-error"
         class="w-full bg-red p-1 text-xl empty:hidden my-1"></div>
    <div class="w-full flex justify-between items-center text-xl gap-4 flex-wrap">
        <div class="grow"></div>
        <button class="button hover-green" onclick="overlayEditor.close()">Cancel</button>
        <button hx-put="{{ url_for('accounts.account', uri=account['uri']) }}"
                hx-target="#overlay-error"
                hx-include="#form-account"
                class="button bg-green">Save</button>
    </div>
    <script>overlayEditor.addListeners("form-account");</script>
</div>
