{% if acct.uri %}
    {% with headline="Edit account", save_url=url_for("accounts.account", uri=acct.uri) %}
        {% include "/shared/dialog-headline.jinja" %}
    {% endwith %}
{% else %}
    {% with headline="New account", save_url=url_for("accounts.new"), save_method="post" %}
        {% include "/shared/dialog-headline.jinja" %}
    {% endwith %}
{% endif %}
<form class="grid gap-2 w-88" onsubmit="return false">
    <label class="input-outlined input-bg-surface-container-high col-span-2">
        <input name="name"
               required
               enterkeyhint="next"
               placeholder=""
               value="{{ acct.name or "" }}"
               hx-target="next error"
               hx-trigger="input delay:200ms"
               hx-include="this"
               hx-get="{{ url_for('accounts.validation', uri=acct.uri) }}"
               autocomplete="off">
        <div>
            <div>Name</div>
        </div>
        <div>
            <error></error>
        </div>
    </label>
    <label class="input-outlined input-bg-surface-container-high">
        <input name="institution"
               required
               enterkeyhint="next"
               placeholder=""
               value="{{ acct.institution or "" }}"
               hx-target="next error"
               hx-trigger="input delay:200ms"
               hx-include="this"
               hx-get="{{ url_for('accounts.validation', uri=acct.uri) }}"
               autocomplete="off">
        <div>
            <div>Institution</div>
        </div>
        <div>
            <error></error>
        </div>
    </label>
    <label class="input-outlined input-bg-surface-container-high col-start-2">
        <select name="category" required autocomplete="off">
            <option value="" disabled hidden {% if not acct.group %}selected{% endif %}></option>
            {% for cat in acct.category_type %}
                <option value="{{ cat.name }}"
                        {% if cat == acct.category %}selected{% endif %}
                        {% if cat =="OTHER" %}disabled hidden{% endif %}>{{ cat.pretty }}</option>
            {% endfor %}
        </select>
        <div>
            <div>Category</div>
        </div>
    </label>
    <label class="input-outlined input-bg-surface-container-high col-span-2">
        <input name="number"
               enterkeyhint="next"
               placeholder=""
               value="{{ acct.number or "" }}"
               hx-target="next error"
               hx-trigger="input delay:200ms"
               hx-include="this"
               hx-get="{{ url_for('accounts.validation', uri=acct.uri) }}"
               autocomplete="off">
        <div>
            <div>Number (Optional)</div>
        </div>
        <div>
            <error></error>
            <span>Used during transaction import</span>
        </div>
    </label>
    <label class="toggle col-span-2">
        <input type="checkbox"
               name="budgeted"
               autocomplete="off"
               {% if acct.budgeted %}checked{% endif %}>
        <div>
            <span>Budgeted</span>
            <span>Account will be included in budget</span>
        </div>
        <switch></switch>
    </label>
    <label class="toggle col-span-2">
        <input type="checkbox"
               name="closed"
               autocomplete="off"
               {% if acct.closed %}checked{% endif %}
               {% if acct.value != 0 %}disabled{% endif %}>
        <div>
            <span>Closed</span>
            <span>
                {% if acct.value != 0 %}
                    Cannot close account with non-zero value
                {% else %}
                    Account will be hidden
                {% endif %}
            </span>
        </div>
        <switch></switch>
    </label>
</form>
<div id="dialog-error" class="error"></div>
<script>dialog.onLoad()</script>
