<section class="bg-white max-w-screen-lg m-auto p-2 min-h-full"
         hx-get="{{ url_for('accounts.page', uri=acct['uri']) }}"
         hx-include="#txn-config,#txn-header"
         hx-trigger="update-account from:body, update-asset from:body"
         hx-target="#main"
         hx-swap="innerHTML">
    <div class="w-full flex flex-col">
        <div class="w-full flex justify-between text-2xl md:text-3xl font-serif text-green-600 items-center">
            <h1>{{ acct["name"] }}</h1>
            <div class="group cursor-pointer"
                 hx-get="{{ url_for('accounts.account', uri=acct['uri']) }}"
                 hx-target="#overlay"
                 hx-swap="innerHTML">
                {% with class="fill-green-600 transition-colors md:group-hover:fill-black w-[20px] h-[20px]" %}
                    {% include "svg/pencil.svg" %}
                {% endwith %}
            </div>
            <div class="grow"></div>
            <h1>{{ acct["value"] | money }}</h1>
        </div>
        <div class="w-full flex justify-between italic">
            <h2>{{ acct["institution"] }}</h2>
            <div class="grow"></div>
            <h2>last transaction {{ acct["updated_on"] }}</h2>
        </div>
    </div>
    <div class="w-full h-60 md:h-96 relative">
        <canvas id="account-chart-canvas"></canvas>
        {% include "shared/spinner.jinja" %}
    </div>
    {% if assets %}
        <h1 class="text-2xl md:text-3xl align-left w-full font-serif text-green-600">Assets</h1>
        {% include "accounts/assets.jinja" %}
    {% endif %}
    <h1 class="text-2xl md:text-3xl align-left w-full font-serif text-green-600">Profit & Loss</h1>
    <p class="w-full italic max-md:text-center">
        Profit includes change in asset value and any transaction categories marked to include.
        Edit transaction categories
        <span class="underline text-blue cursor-pointer"
              hx-get="{{ url_for('transaction_categories.overlay') }}"
              hx-target="#overlay"
              hx-swap="innerHTML"
              hx-push-url="false">here</span>.
    </p>
    <div class="w-full h-60 md:h-96 relative">
        <canvas id="profit-chart-canvas"></canvas>
        {% include "shared/spinner.jinja" %}
    </div>
    {% include "accounts/chart-data.jinja" %}
    <div class="w-full"
         hx-target="#txn-table"
         hx-swap="outerHTML"
         hx-indicator=".spinner">
        <h1 class="text-3xl align-left w-full font-serif text-green-600">Transactions</h1>
        {% include "transactions/table-config.jinja" %}
        {% include "transactions/table-paging.jinja" %}
        <div class="w-full max-h-[70vh] overflow-y-scroll">
            {% include "transactions/table-header.jinja" %}
            {% include "transactions/table.jinja" %}
        </div>
    </div>
</section>
