{% extends "shared/base.jinja" %}
{% block content %}
    <section id="body"
             class="flex flex-col bg-white justify-center items-center max-w-screen-lg m-auto p-2">
        <h1 class="text-3xl align-left w-full font-serif">{{ account["institution"] }}</h1>
    </section>
{% endblock content %}
