<section class="flex flex-col bg-white max-w-screen-lg m-auto p-2 h-full"
         hx-get="{{ url_for('accounts.page', uri=acct['uri']) }}"
         hx-include="#txn-config,#txn-header"
         hx-trigger="update-account from:body, update-asset from:body"
         hx-target="#main"
         hx-swap="innerHTML">
    <div class="w-full flex justify-between">
        <div>
            <h1 class="text-3xl align-left w-full font-serif text-green-600 flex items-center">
                {{ acct["name"] }}
                <div class="w-[20px] group cursor-pointer"
                     hx-get="{{ url_for('accounts.account', uri=acct['uri']) }}"
                     hx-target="#overlay"
                     hx-swap="innerHTML">
                    {% with class="fill-green-600 transition-colors group-hover:fill-black" %}
                        {% include "svg/pencil.svg" %}
                    {% endwith %}
                </div>
            </h1>
            <h2 class="italic">{{ acct["institution"] }}</h2>
        </div>
        <div class="ml-12 whitespace-nowrap">
            <h1 class="text-3xl font-serif text-green-600 text-right">{{ acct["value"] | money }}</h1>
            <h2 class="w-full text-center italic">last transaction {{ acct["updated_on"] }}</h2>
        </div>
    </div>
    <div class="w-full h-96 relative">
        <canvas id="account-chart-canvas"></canvas>
        {% include "shared/spinner.jinja" %}
    </div>
    {% if assets %}
        <div class="w-full">
            <h1 class="text-3xl align-left w-full font-serif text-green-600">Assets</h1>
            {% include "accounts/assets.jinja" %}
        </div>
    {% endif %}
    <h1 class="text-3xl align-left w-full font-serif text-green-600">Profit & Loss</h1>
    <p class="w-full italic">
        Profit includes change in asset value and any transaction categories marked to include, see Edit Categories.
    </p>
    <div class="w-full h-96 relative">
        <canvas id="profit-chart-canvas"></canvas>
        {% include "shared/spinner.jinja" %}
    </div>
    {% include "accounts/chart-data.jinja" %}
    <div class="w-full flex flex-col grow"
         hx-target="#txn-table"
         hx-swap="outerHTML"
         hx-indicator=".spinner">
        <h1 class="text-3xl align-left w-full font-serif text-green-600">Transactions</h1>
        {% include "transactions/table-config.jinja" %}
        {% include "transactions/table-paging.jinja" %}
        {% include "transactions/table-header.jinja" %}
        {% include "transactions/table.jinja" %}
    </div>
</section>
