<div class="flex justify-between items-center"
     hx-target="#main"
     hx-trigger="update-account from:body"
     hx-get="{{ url_for('accounts.page', uri=acct.uri) }}">
    <h1 class="text-3xl font-serif text-primary">{{ acct.name }}</h1>
    <button class="btn-tonal"
            hx-target="#dialog"
            hx-swap="innerHTML show:#dialog:top"
            hx-disabled-elt="this"
            hx-get="{{ url_for('accounts.account', uri=acct.uri) }}">
        <icon>edit</icon>Edit
    </button>
</div>
<h2 class="text-sm text-on-surface-variant flex flex-wrap items-center gap-2">
    <span>@{{ acct.institution }}</span>
    {% if acct.number %}
        <label class="checkbox">
            <input type="checkbox" autocomplete="off">
            <div>
                <span>#xxxxxxx{{ acct.number[-4:] }}</span>
                <span>#{{ acct.number }}</span>
            </div>
            <icon>visibility</icon>
            <icon>visibility_off</icon>
        </label>
    {% endif %}
    <span class="ml-auto">
        {% if acct.closed %}
            <span class="not-disabled:text-error">Account was closed {{ acct.updated_days_ago | days }} ago</span>
        {% elif acct.updated_days_ago == 0 %}
            <span>{{ acct.n_today }} transaction{{ 's' if acct.n_today != 1 }} today</span>
            <span>{{ acct.change_today | money }}</span>
        {% else %}
            Updated {{ acct.updated_days_ago | days }} ago
        {% endif %}
    </span>
</h2>
{% if acct.performance %}
    {% with perf = acct.performance %}
        <div class="grid grid-cols-[repeat(auto-fit,minmax(180px,1fr))] gap-x-2 text-center font-bold">
            <div class="col-span-2">
                <h2 class="text-2xl">Balance</h2>
                <h1 class="text-6xl text-tertiary font-serif">{{ acct.value | money }}</h1>
            </div>
            <div class="max-lg:col-start-1">
                <h2 class="text-2xl">Year Return</h2>
                <h1 class="text-4xl text-tertiary font-serif">{{ perf.pnl_past_year | money }}</h1>
            </div>
            <div>
                <h2 class="text-2xl">Total Return</h2>
                <h1 class="text-4xl text-tertiary font-serif">{{ perf.pnl_total | money }}</h1>
            </div>
        </div>
    {% endwith %}
    <div id="account-performance" class="mb-2">{% include "accounts/performance.jinja" %}</div>
{% else %}
    <div class="text-center font-bold">
        <h2 class="text-2xl">Balance</h2>
        <h1 class="text-6xl text-tertiary font-serif">{{ acct.value | money }}</h1>
    </div>
{% endif %}
{# TODO (WattsUp): Add asset table #}
<div class="flex justify-between items-center">
    <h1 class="text-2xl font-serif text-primary">Transactions</h1>
    <button class="btn-tonal"
            hx-target="#dialog"
            hx-swap="innerHTML show:#dialog:top"
            hx-disabled-elt="this"
            hx-get="{{ url_for('transactions.new', account=acct.uri) }}">
        <icon>note_stack_add</icon>New
    </button>
</div>
{% with ctx = txn_table %}
    {% include "/transactions/table.jinja" %}
{% endwith %}
