<div class="flex justify-between items-center"
     hx-target="#main"
     hx-trigger="account from:body, valuation from:body"
     hx-get="{{ url_for('accounts.page_all') }}">
    <h1 class="text-3xl font-serif text-primary">Accounts</h1>
    <button class="btn-tonal"
            hx-target="#dialog"
            hx-swap="innerHTML show:#dialog:top"
            hx-disabled-elt="this"
            hx-get="{{ url_for('accounts.new') }}"
            disabled>
        <icon>add</icon>New
    </button>
</div>
<div class="grid grid-cols-[repeat(auto-fit,minmax(180px,1fr))] gap-x-2 text-center font-bold mb-2">
    <div class="col-span-2">
        <h2 class="text-xl">Net Worth</h2>
        <h1 class="text-6xl text-tertiary font-serif">{{ ctx.net_worth | money0 }}</h1>
    </div>
    <div class="max-lg:col-start-1">
        <h2 class="text-xl">Assets</h2>
        <h1 class="text-4xl text-tertiary font-serif">{{ ctx.assets | money0 }}</h1>
        <div class="h-2 rounded-xl w-full border border-primary">
            <div class="bg-primary h-full rounded-xl"
                 style="width: {{ ctx.assets_w }}%"></div>
        </div>
    </div>
    <div>
        <h2 class="text-xl">Liabilites</h2>
        <h1 class="text-4xl text-tertiary font-serif">{{ ctx.liabilities | money0 }}</h1>
        <div class="h-2 rounded-xl w-full border border-primary">
            <div class="bg-primary h-full rounded-xl"
                 style="width: {{ ctx.liabilities_w }}%"></div>
        </div>
    </div>
</div>
<details class="max-w-2xl mx-auto mb-2 bg-surface-container-high rounded-md">
    <summary class="p-2 flex gap-2 items-center rounded-md bg-tertiary-container">
        <icon>help</icon>
        <span class="mr-auto">About account classification</span>
        <icon class="details-icon-open">keyboard_arrow_up</icon>
        <icon class="details-icon-closed">keyboard_arrow_down</icon>
    </summary>
    <div class="prose px-2 mx-auto">
        <p>
            Assets are accounts with a positive valuation.
            This is commonly cash, stocks, and other investments.
            Liabilites are accounts with a negative valuation.
            This is commonly lines of credit, mortgages, and other loans.
            Net worth is the sum of all account valuations.
        </p>
    </div>
</details>
<div class="grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-x-4"
     hx-push-url="true"
     hx-swap="innerHTML show:window:top">
    {% for category, (total, accounts) in ctx.categories.items() %}
        <div class="mb-4">
            <div class="w-full">
                <div class="sticky top-10 md:top-0 flex justify-between text-2xl font-serif text-primary bg-surface z-10">
                    <span>{{ category.pretty }}</span>
                    <span>{{ total | money }}</span>
                </div>
                {% for acct in accounts %}
                    {% include "accounts/account-row.jinja" %}
                    {% if not loop.last %}<hr class="mx-4 my-1">{% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
<label class="toggle max-w-60">
    <input type="checkbox"
           autocomplete="off"
           {% if ctx.include_closed %}checked{% endif %}
           hx-push-url="true"
           hx-get="{{ url_for('accounts.page_all', include_closed=not ctx.include_closed) }}">
    <div>
        {% if ctx.include_closed %}
            Hide closed accounts
        {% else %}
            Show closed accounts
        {% endif %}
    </div>
    <switch></switch>
</label>
