<div class="w-full h-60 md:h-96 relative">
    <canvas id="account-chart-canvas" hx-preserve></canvas>
    <div id="account-indicator" class="spinner-overlay">{% include "/shared/spinner.jinja" %}</div>
</div>
{% with perf = acct.performance %}
    <script>accounts.update(JSON.parse('{{ perf | tojson }}'))</script>
    <div class="flex gap-2 justify-around"
         hx-target="#account-performance"
         hx-indicator="#account-indicator">
        {% for value, label in perf.period_options.items() %}
            {% set btn_class = "btn-tonal" if value == perf.period else "btn-text" %}
            <button class="{{ btn_class }}"
                    hx-get="{{ url_for('accounts.performance', uri=acct.uri, chart_period=value) }}">
                {{ label }}
            </button>
        {% endfor %}
    </div>
{% endwith %}
