<div id="txn-locked"
     class="w-[1.5rem] min-w-[1.5rem] p-0 flex items-center"
     hx-swap-oob="{{ oob }}">
    {% with svg_class="transition-colors cursor-pointer m-0 w-[24px] h-[24px]" %}
        {% if txn_table["locked"] is none %}
            <input name="locked" value="" class="hidden">
            <div hx-get="{{ url_for("accounts.table", uri=txn_table["uri"], locked=True) }}">
                {% with class = svg_class + " bg-grey-200 fill-grey-600" %}
                    {% include "svg/lock.svg" %}
                {% endwith %}
            </div>
        {% elif txn_table["locked"] %}
            <input name="locked" value="true" class="hidden">
            <div hx-get="{{ url_for("accounts.table", uri=txn_table["uri"], locked=False) }}">
                {% with class = svg_class + " bg-green fill-white" %}
                    {% include "svg/lock.svg" %}
                {% endwith %}
            </div>
        {% else %}
            <input name="locked" value="false" class="hidden">
            <div hx-get="{{ url_for("accounts.table", uri=txn_table["uri"], locked="") }}">
                {% with class = svg_class + " bg-green fill-transparent" %}
                    {% include "svg/lock.svg" %}
                {% endwith %}
            </div>
        {% endif %}
    {% endwith %}
</div>
