{% if include_oob %}
    {% with oob = True %}
        {% include "accounts/table-config.jinja" %}
        {% include "accounts/table-locked.jinja" %}
    {% endwith %}
    {% for name in ["payee", "category", "tag"] %}
        <div id="txn-icon-{{ name }}" hx-swap-oob="insideHTML">
            {% with any_filters = txn_table["any-filters-" + name] %}
                {% include "transactions/table-options-icon.jinja" %}
            {% endwith %}
        </div>
        <div id="txn-{{ name }}" hx-swap-oob="insideHTML">
            {% with options = txn_table["options-" + name] %}
                {% include "accounts/table-options.jinja" %}
            {% endwith %}
        </div>
    {% endfor %}
{% endif %}
{% if include_chart_oob %}
    {% with oob = True %}
        {% include "accounts/chart-data.jinja" %}
        {% include "accounts/assets.jinja" %}
    {% endwith %}
{% endif %}
<div id="txn-table"
     class="w-full flex flex-col grow"
     hx-get="{{ url_for("accounts.table", uri=txn_table["uri"]) }}"
     hx-trigger="update-transaction from:body">
    {% if txn_table["transactions"] | length == 0 %}
        <div class="text-center">No matching transactions for given query filters</div>
    {% endif %}
    {% for txn in txn_table["transactions"] %}
        {% include "accounts/table-view.jinja" %}
    {% endfor %}
    <div class="grow"></div>
    <div class="w-full flex justify-between font-bold border-t border-t-grey-200">
        <div class="p-1 grow">Page Total</div>
        <div class="p-1">{{ txn_table["page_total"] | money }}</div>
    </div>
    <div class="w-full flex justify-between font-bold">
        <div class="p-1 grow">Query Total</div>
        <div class="p-1">{{ txn_table["query_total"] | money }}</div>
    </div>
</div>
