<div class="flex justify-between items-center"
     hx-target="#main"
     hx-trigger="update-category from:body"
     hx-get="{{ url_for('transaction_categories.page') }}">
    <h1 class="text-3xl font-serif text-primary">Transaction categories</h1>
    <button class="btn-tonal"
            hx-target="#dialog"
            hx-swap="innerHTML show:#dialog:top"
            hx-disabled-elt="this"
            hx-get="{{ url_for('transaction_categories.new') }}">
        <icon>add</icon>New
    </button>
</div>
<div class="prose mx-auto">
    <p>
        Categorize transactions to help understand how your money is moving in, out, or around.
        The income group is for categories when you make money, and the expense group is when you spend it.
        Transfer categories are for when money moves between accounts like paying a credit card or loan.
    </p>
    <p>
        The expense and transfer categories are used in budgeting to create targets so feel free to many
        them as specific as you want.
    </p>
</div>
<div class="grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] gap-x-2"
     hx-target="#dialog"
     hx-swap="innerHTML show:#dialog:top">
    {% for group, items in ctx.groups.items() %}
        {# Set row span such that on md screen the third category will fit in dense #}
        <div class="mb-4" style="grid-row: span {{ items | count + 1 }}">
            <h1 class="sticky top-10 md:top-0 p-1 text-2xl font-serif text-primary bg-surface">{{ group.pretty }}</h1>
            {% for cat in items %}
                {% include "/transaction-categories/category-row.jinja" %}
                {% if not loop.last %}<hr class="mx-2">{% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
