<div class="absolute inset-0 bg-grey-500 opacity-50 z-[-1] cursor-pointer max-md:hidden"
     onclick="overlayEditor.close()"></div>
<div class="w-full max-md:min-h-full md:w-[500px] md:h-[400px] md:max-h-[90vh] bg-white opacity-100 m-auto flex flex-col py-2 px-6"
     hx-swap="innerHTML">
    <div class="flex items-start mb-2">
        <h1 class="font-serif text-2xl text-green-600 grow">Edit transaction category</h1>
        <button class="shrink-0" onclick="overlayEditor.close()">
            {% with class="w-[32px] h-[32px]" %}
                {% include "svg/x.svg" %}
            {% endwith %}
        </button>
    </div>
    <div class="flex flex-col w-full gap-1 grow" id="form-category">
        <h1 class="font-bold">Edit details</h1>
        <hr class="w-full border-grey-200">
        <div class="flex flex-wrap gap-1 min-h-7 items-center">
            <div class="w-44">Category Name</div>
            <div class="grow">
                <input name="name"
                       value="{{ category["name"] | e }}"
                       class="w-full"
                       autocomplete="off">
            </div>
        </div>
        <div class="flex gap-1 min-h-7 items-center">
            <div class="w-44 shrink-1">Group</div>
            <div class="grow">
                {% if category["locked"] %}
                    {{ category["group"].pretty }}
                {% else %}
                    <select name="group" autocomplete="off" class="w-full">
                        {% for group in category["group_type"] %}
                            <option value="{{ group.name }}"
                                    {% if group == category["group"] %}selected{% endif %}>{{ group.pretty }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
        </div>
        <div class="flex gap-1 min-h-7 items-center">
            <div class="w-44 shrink-1">Include in profit &amp; loss</div>
            <div class="grow">
                {% if category["locked"] %}
                    {% if category["is_profit_loss"] %}
                        {% with class = "w-5 h-5 fill-green" %}
                            {% include "svg/check.svg" %}
                        {% endwith %}
                    {% else %}
                        {% with class = "w-5 h-5 fill-grey-600" %}
                            {% include "svg/check.svg" %}
                        {% endwith %}
                    {% endif %}
                {% else %}
                    <label class="flex gap-4 justify-between w-full checkbox">
                        <input type="checkbox"
                               name="is-pnl"
                               {% if category["is_profit_loss"] %}checked{% endif %}
                               autocomplete="off">
                        {% with class = "w-5 h-5" %}
                            {% include "svg/check.svg" %}
                        {% endwith %}
                    </label>
                {% endif %}
            </div>
        </div>
        <div class="flex gap-1 min-h-7 items-center">
            <div class="w-44 shrink-1">Essential transaction</div>
            <label class="flex gap-4 justify-between grow checkbox">
                <input type="checkbox"
                       name="essential"
                       {% if category["essential"] %}checked{% endif %}
                       autocomplete="off">
                {% with class = "w-5 h-5" %}
                    {% include "svg/check.svg" %}
                {% endwith %}
            </label>
        </div>
    </div>
    <div id="overlay-error"
         class="w-full bg-red p-1 text-xl empty:hidden my-1"></div>
    <div class="w-full flex justify-between items-center text-xl gap-4 flex-wrap">
        {% if category["uri"] and not category["locked"] %}
            <button hx-delete="{{ url_for('transaction_categories.category', uri=category['uri']) }}"
                    hx-confirm="Are you sure you wish to delete this transaction category? Any transactions assigned to this category will revert to Uncategorized"
                    hx-target="#overlay-error"
                    class="button hover-red">
                {% with class="w-[24px] h-[24px] inline-block align-text-bottom" %}
                    {% include "svg/trash.svg" %}
                {% endwith %}
                Delete
            </button>
        {% endif %}
        <div class="grow"></div>
        <button class="button hover-green" onclick="overlayEditor.close()">Cancel</button>
        {% if category["uri"] %}
            <button hx-put="{{ url_for('transaction_categories.category', uri=category['uri']) }}"
                    hx-target="#overlay-error"
                    hx-include="#form-category"
                    class="button bg-green">Save</button>
        {% else %}
            <button hx-post="{{ url_for('transaction_categories.new') }}"
                    hx-target="#overlay-error"
                    hx-include="#form-category"
                    class="button bg-green">Save</button>
        {% endif %}
    </div>
    <script>overlayEditor.addListeners("form-category");</script>
</div>
