{% if category["uri"] %}
    {% with headline="Edit category", save_url=url_for("transaction_categories.category", uri=category["uri"]) %}
        {% include "/shared/dialog-headline.jinja" %}
    {% endwith %}
{% else %}
    {% with headline="New category", save_url=url_for("transaction_categories.new"), save_method="post" %}
        {% include "/shared/dialog-headline.jinja" %}
    {% endwith %}
{% endif %}
<form class="grid gap-2" onsubmit="return false">
    <label class="input-outlined input-bg-grey-50 dark:input-bg-grey-950">
        <input name="name"
               required
               enterkeyhint="next"
               placeholder=""
               value="{{ category["name"] or "" }}"
               hx-target="next error"
               hx-trigger="input delay:200ms"
               hx-include="this"
               hx-get="{{ url_for('transaction_categories.validation', uri=category['uri']) }}"
               autocomplete="off"
               autofocus
               onFocus="event.currentTarget.setSelectionRange(event.currentTarget.value.length, event.currentTarget.value.length)">
        <div>
            <div>Name</div>
        </div>
        {# djlint: off #}
        <error></error>
        {# djlint: on #}
    </label>
    <label class="input-outlined input-bg-grey-50 dark:input-bg-grey-950 col-start-2">
        <select name="group"
                required
                autocomplete="off"
                onchange="txnCat.updateEssential()">
            <option value=""
                    disabled
                    hidden
                    {% if not category["group"] %}selected{% endif %}></option>
            {% for group in category["group_type"] %}
                <option value="{{ group.name }}"
                        {% if group == category["group"] %}selected{% endif %}>{{ group.pretty }}</option>
            {% endfor %}
        </select>
        <div>
            <div>Group</div>
        </div>
    </label>
    <label class="toggle-green col-span-2">
        <input type="checkbox"
               name="is-pnl"
               autocomplete="off"
               {% if category["is_profit_loss"] %}checked{% endif %}>
        <div>
            <span>Include in profit &amp; loss</span>
            <span>Such as dividends &amp; fees</span>
        </div>
        {# djlint: off #}
        <switch></switch>
        {# djlint: on #}
    </label>
    <label class="toggle-green col-span-2">
        <input type="checkbox"
               name="essential"
               autocomplete="off"
               {% if category["essential"] %}checked{% endif %}
               {% if category["group"] == "INCOME" %}disabled{% endif %}>
        <div>
            <span>Essential spending</span>
            <span>For emergency fund estimation</span>
        </div>
        {# djlint: off #}
        <switch></switch>
        {# djlint: on #}
    </label>
</form>
{% if category["uri"] %}
    <button class="btn-text-red mx-auto"
            onclick="txnCat.confirmDelete(event)"
            hx-trigger="delete"
            hx-delete="{{ url_for('transaction_categories.category', uri=category['uri']) }}">Delete</button>
{% endif %}
<div id="dialog-error" class="error"></div>
<script>dialog.addListeners()</script>
