<div class="flex justify-between items-center"
     hx-target="#main"
     hx-trigger="update-category from:body"
     hx-get="{{ url_for('transaction_categories.page') }}">
    <h1 class="text-3xl font-serif text-green-600 dark:text-green-400">Transaction categories</h1>
    <button class="btn-tonal-green"
            hx-target="#dialog"
            hx-get="{{ url_for('transaction_categories.new') }}">
        <icon>add</icon>New
    </button>
</div>
<div class="prose mx-auto">
    <p>
        Categorize transactions to help understand how your money is moving in, out, or around.
        The income group is for categories when you make money, and the expense group is when you spend it.
        Transfer categories are for when money moves between accounts like paying a credit card or loan.
    </p>
    <p>
        The expense and transfer categories are used in budgeting to create targets so feel free to many
        them as specific as you want.
    </p>
</div>
<div class="grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] gap-x-2"
     hx-target="#dialog">
    {% for group, items in categories["groups"].items() %}
        {# Set row span such that on md screen the third category will fit in dense #}
        {% set row_class = "py-0.5 flex justify-between items-center cursor-pointer" %}
        <div class="mb-4" style="grid-row: span {{ items | count + 1 }}">
            {# Split items so sticky label stops above last item #}
            <div class="w-full">
                <h1 class="sticky top-0 bottom-8 p-1 text-2xl font-serif text-green-600 dark:text-green-400 bg-grey-50 dark:bg-grey-950">
                    {{ group.pretty }}
                </h1>
                {% for cat in items[:-1] %}
                    <label class="{{ row_class }} border-b border-grey-500/50">
                        <div>{{ cat.name }}</div>
                        <button class="btn-text-green btn-sq"
                                hx-get="{{ url_for('transaction_categories.category', uri=cat.uri) }}">
                            <icon>edit</icon>
                        </button>
                    </label>
                {% endfor %}
            </div>
            {% if items %}
                {% with cat = items[-1] %}
                    <label class="{{ row_class }}">
                        <div>{{ cat.name }}</div>
                        <button class="btn-text-green btn-sq"
                                hx-get="{{ url_for('transaction_categories.category', uri=cat.uri) }}">
                            <icon>edit</icon>
                        </button>
                    </label>
                {% endwith %}
            {% endif %}
        </div>
    {% endfor %}
</div>
