<a class="absolute inset-0 bg-grey-500 opacity-50 z-[-1]"
   hx-get="{{ url_for("common.empty") }}"
   hx-swap="innerHTML"></a>
<div class="w-[800px] h-[580px] max-h-[90vh] bg-white opacity-100 m-auto flex flex-col pt-2"
     hx-swap="innerHTML">
    <a hx-get="{{ url_for("common.empty") }}" class="ml-auto px-6">
        {% with class="w-[32px] h-[32px]" %}
            {% include "svg/x.svg" %}
        {% endwith %}
    </a>
    <h1 class="font-serif text-4xl px-6 text-green-600">Edit transaction categories</h1>
    <a hx-get="{{ url_for("transaction_category.new") }}"
       class="button bg-green ml-auto mx-6">Create category</a>
    <div class="flex w-full gap-4 px-6 grow min-h-0 pb-4">
        <div class="w-1/3 flex flex-col h-full">
            <h1 class="font-bold border-b border-grey-200">Income</h1>
            <div class="flex flex-col overflow-y-scroll grow">
                {% for item in categories["income"] %}
                    {% if item["locked"] %}
                        <a class="txn-category pl-[24px]">{{ item["name"] }}</a>
                    {% else %}
                        <a hx-get="{{ url_for('transaction_category.edit', uri=item['uri']) }}"
                           class="txn-category">
                            {% with class="w-[24px] h-[24px]" %}
                                {% include "svg/pencil.svg" %}
                            {% endwith %}
                            {{ item["name"] }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="w-1/3 flex flex-col h-full">
            <h1 class="font-bold border-b border-grey-200">Expense</h1>
            <div class="flex flex-col overflow-y-scroll grow">
                {% for item in categories["expense"] %}
                    {% if item["locked"] %}
                        <a class="txn-category pl-[24px]">{{ item["name"] }}</a>
                    {% else %}
                        <a hx-get="{{ url_for('transaction_category.edit', uri=item['uri']) }}"
                           class="txn-category">
                            {% with class="w-[24px] h-[24px]" %}
                                {% include "svg/pencil.svg" %}
                            {% endwith %}
                            {{ item["name"] }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="w-1/3 flex flex-col h-full">
            <h1 class="font-bold border-b border-grey-200">Other</h1>
            <div class="flex flex-col overflow-y-scroll grow">
                {% for item in categories["other"] %}
                    {% if item["locked"] %}
                        <a class="txn-category pl-[24px]">{{ item["name"] }}</a>
                    {% else %}
                        <a hx-get="{{ url_for('transaction_category.edit', uri=item['uri']) }}"
                           class="txn-category">
                            {% with class="w-[24px] h-[24px]" %}
                                {% include "svg/pencil.svg" %}
                            {% endwith %}
                            {{ item["name"] }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
