<div class="budget-bar">
    {% for bar_w, bg_fill_w, fg_fill_w in category.bars %}
        {% if bar_w == 0 %}
            {% set bg = "bg-black" %}
            {% set fg = "pattern-bg-primary pattern-on-primary" %}
        {% elif category.available < 0 %}
            {% set bg = "bg-error dark:bg-error-container" %}
            {% set fg = "pattern-bg-tertiary-fixed-dim pattern-on-tertiary-fixed-variant" %}
        {% else %}
            {% set bg = ('bg-tertiary-fixed-dim' if category.target and category.target.to_go > 0 else 'bg-primary-fixed-dim') %}
            {% set fg = "pattern-bg-primary-fixed-dim pattern-on-primary-fixed-variant" %}
        {% endif %}
        <div style="width: {{ bar_w | percent }}">
            <div class="{{ bg }}" style="width: {{ bg_fill_w | percent }}"></div>
            <div class="{{ fg }}" style="width: {{ fg_fill_w | percent }}"></div>
        </div>
    {% endfor %}
</div>
