<div id="category-{{ category.uri }}"
     class="budget-category"
     onclick="budgeting.onClickCategory(this, event)">
    <div class="flex items-center mb-1">
        <h1 class="grow">{{ category.name }}</h1>
        <div class="{{ 'text-on-surface-variant' if category.assigned == 0 }} max-md:hidden group">
            <input name="amount"
                   placeholder="0.00"
                   value="{{ category.assigned | input_value }}"
                   hx-target="#group-{{ group.uri or 'ungrouped' }}"
                   hx-put="{{ url_for('budgeting.assign', uri=category.uri, month=ctx.month) }}"
                   autocomplete="off">
            <span>{{ category.assigned | money }}</span>
        </div>
        <div class="{{ 'text-on-surface-variant' if category.activity == 0 }} max-md:hidden">
            {{ category.activity | money }}
        </div>
        <div>
            {% if category.available < 0 %}
                <button class="btn-tonal-error ml-auto px-2"
                        hx-get="{{ url_for('budgeting.overspending', uri=category.uri, month=ctx.month) }}"
                        hx-disabled-elt="this">{{ category.available | money }}</button>
            {% else %}
                {% set btn_class = ('btn-tonal-tertiary' if category.target and category.target.to_go > 0 else 'btn-tonal') %}
                <button class="{{ btn_class }} ml-auto px-2"
                        {% if category.available == 0 %}disabled{% endif %}
                        hx-get="{{ url_for('budgeting.move', uri=category.uri, month=ctx.month) }}"
                        hx-disabled-elt="this">{{ category.available | money }}</button>
            {% endif %}
        </div>
    </div>
    {% include "budgeting/category-bar.jinja" %}
</div>
