{% with headline="Cover overspending", save_url=url_for("budgeting.overspending", uri=category.uri, month=category.month) %}
  {% include "shared/dialog-headline.jinja" %}
{% endwith %}
<form class="w-88 grid gap-2" onsubmit="return false">
  <div>
    {% if category.name is none %}
      More money is assigned than held by {{ -category.available | money }}
    {% else %}
      {{ category.name }}
      is overspent by {{ -category.available | money }}
    {% endif %}
  </div>
  <label class="input-outlined input-bg-surface-container-high">
    <select name="source" required autocomplete="off">
      <option value="" disabled hidden selected></option>
      {% for uri, name, available, group in category.options %}
        {% if not loop.previtem or loop.previtem[3] != group %}
          <option disabled>{{ group.pretty }}</option>
        {% endif %}
        <option value="{{ uri }}">{{ name }} {{ available | money }}</option>
      {% endfor %}
    </select>
    <div>
      <div>Cover with</div>
    </div>
  </label>
</form>
<div id="dialog-error" class="status-error"></div>
<script>
  dialog.onLoad();
</script>
