{% for group in ctx.groups %}
    <div id="group-{{ group.uri or 'ungrouped' }}"
         class="budget-group {{ 'open' if group.is_open }}">
        <label>
            <input name="open"
                   type="checkbox"
                   {% if group.is_open %}checked{% endif %}
                   hx-target="#no-target"
                   hx-include="this"
                   hx-put="{{ url_for('budgeting.group', uri=group.uri or "ungrouped") }}"
                   onclick="budgeting.openGroup(this, '{{ group.uri or "ungrouped" }}')">
            <icon class="not-open:hidden">keyboard_arrow_up</icon>
            <icon class="open:hidden">keyboard_arrow_down</icon>
            <h1>{{ group.name or "Ungrouped" }}</h1>
            <div class="max-md:open:hidden">
                <div class="text-sm text-on-surface-variant">Assigned</div>
                <div>{{ group.assigned | money }}</div>
            </div>
            <div class="max-md:hidden">
                <div class="text-sm text-on-surface-variant">Activity</div>
                <div>{{ group.activity | money }}</div>
            </div>
            <div class="max-md:open:hidden md:pr-2">
                <div class="text-sm text-on-surface-variant">Available</div>
                <div>{{ group.available | money }}</div>
            </div>
            <div class="not-open:hidden md:hidden text-sm text-on-surface-variant">
                <div>Available</div>
                <div>to spend</div>
            </div>
        </label>
        <div>
            {% for category in group.categories %}
                {% include "budgeting/category.jinja" %}
                {% if not loop.last %}<hr class="mx-4">{% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}
