{% set class = "p-2 flex gap-4 items-center rounded-md" %}
{% if ctx.assignable == 0 %}
    <div class="{{ class }} bg-surface-container-high">
        <div class="grow">
            All money assigned
            {% block future %}
                {% if ctx.future_assigned != 0 %}
                    <div class="italic text-sm">{{ ctx.future_assigned | money }} assigned in the future.</div>
                {% endif %}
            {% endblock future %}
        </div>
    </div>
{% elif ctx.assignable > 0 %}
    <div class="{{ class }} bg-primary-container text-on-primary-container">
        <div class="grow">
            <div>{{ ctx.assignable | money }}</div>
            <div class="text-sm">Ready to assign</div>
            {{ self.future() }}
        </div>
        <button class="btn-filled"
                hx-get="{{ url_for('budgeting.move', uri='income', month=ctx.month) }}"
                hx-target="#dialog"
                hx-swap="innerHTML show:#dialog:top"
                hx-disabled-elt="this">Assign</button>
    </div>
{% else %}
    <div class="{{ class }} bg-error-container text-on-error-container">
        <div class="grow">
            <div>{{ ctx.assignable | money }}</div>
            <div class="text-sm">You assigned more than you have</div>
            {{ self.future() }}
        </div>
        <button class="btn-filled-error"
                hx-get="{{ url_for('budgeting.overspending', uri='income', month=ctx.month) }}"
                hx-target="#dialog"
                hx-swap="innerHTML show:#dialog:top"
                hx-disabled-elt="this">Fix</button>
    </div>
{% endif %}
{% if ctx.n_overspent > 0 %}
    <div class="{{ class }} mt-1 bg-error-container text-on-error-container">
        <div class="grow">
            {{ ctx.n_overspent }} {{ 'category is' if ctx.n_overspent == 1 else 'categories are' }} overspent
        </div>
    </div>
{% endif %}
