{% set class = "p-2 flex gap-4 items-center rounded-md" %}
{% if ctx.assignable == 0 %}
    <div class="{{ class }} bg-surface-container-high">
        <div class="grow">
            All money assigned
            {% if ctx.future_assigned != 0 %}
                <div class="italic text-sm">{{ ctx.future_assigned | money }} assigned in the future.</div>
            {% endif %}
        </div>
    </div>
{% elif ctx.assignable > 0 %}
    <div class="{{ class }} bg-primary-container text-on-primary-container">
        <div class="grow">
            <div>{{ ctx.assignable | money }}</div>
            <div class="text-sm">Ready to assign</div>
            {% if ctx.future_assigned != 0 %}
                <div class="italic text-sm">{{ ctx.future_assigned | money }} assigned in the future.</div>
            {% endif %}
        </div>
        <button class="btn-filled"
                hx-get="{{ url_for('budgeting.move', uri='income', month=ctx.month) }}"
                disabled>Assign</button>
    </div>
{% else %}
    <div class="{{ class }} bg-error-container text-on-error-container">
        <div class="grow">
            <div>{{ ctx.assignable | money }}</div>
            <div class="text-sm">You assigned more than you have</div>
            {% if ctx.future_assigned != 0 %}
                <div class="italic text-sm">{{ ctx.future_assigned | money }} assigned in the future.</div>
            {% endif %}
        </div>
        <button class="btn-filled-error"
                hx-get="{{ url_for('budgeting.overspending', uri='income', month=ctx.month) }}"
                disabled>Fix</button>
    </div>
{% endif %}
