<div id="budget-group-{{ group["uri"] or "" }}"
     class="w-full pl-4 relative will-change-transform budget-group"
     hx-target="#sidebar-error"
     hx-swap="innerHTML"
     hx-trigger="trash-group"
     {% if group["uri"] %}hx-delete="{{ url_for('budgeting.group', uri=group["uri"]) }}"{% endif %}>
    {% if group["uri"] %}
        <input class="budget-group-toggle hidden"
               id="toggle-{{ group["uri"] }}"
               type="checkbox"
               {% if group["is_closed"] %}checked{% endif %}
               name="closed"
               hx-put="{{ url_for('budgeting.group', uri=group["uri"]) }}"
               hx-include="#name-{{ group["uri"] }},#budgeting-month"
               hx-target="#sidebar-error"
               autocomplete="off">
        <label class="budget-group-toggle-label" for="toggle-{{ group["uri"] }}"></label>
    {% else %}
        <input class="budget-group-toggle hidden"
               id="toggle-ungrouped"
               type="checkbox"
               {% if group["is_closed"] %}checked{% endif %}
               name="closed"
               hx-put="{{ url_for('budgeting.group', uri="ungrouped") }}"
               hx-include="#budgeting-month"
               hx-target="#sidebar-error"
               autocomplete="off">
        <label class="budget-group-toggle-label" for="toggle-ungrouped"></label>
    {% endif %}
    <div class="w-full flex gap-1 py-1 bg-grey-100 items-center h-8 budget-group-header">
        <div class="w-24 shrink-0 grow pl-1 hover-edit">
            {% if group["uri"] %}
                <input class="w-full"
                       id="name-{{ group["uri"] }}"
                       placeholder="Group name"
                       value="{{ group["name"] }}"
                       name="name"
                       hx-put="{{ url_for('budgeting.group', uri=group["uri"]) }}"
                       hx-include="#toggle-{{ group["uri"] }},#budgeting-month,#budgeting-sidebar"
                       hx-target="#sidebar-error"
                       autocomplete="off">
                <span id="{{ group["uri"] }}-name" class="w-full">{{ group["name"] }}</span>
            {% else %}
                Ungrouped
            {% endif %}
        </div>
        <div class="w-24 shrink-0 text-right max-md:hidden">{{ group["assigned"] | money }}</div>
        <div class="w-24 shrink-0 text-right max-md:hidden">{{ group["activity"] | money }}</div>
        <div class="w-24 shrink-0 text-right px-1">{{ group["available"] | money }}</div>
        <div class="w-6 shrink-0 cursor-grab budget-group-handle max-md:hidden">
            {% if group["uri"] %}
                <input name="group_uri" value="{{ group["uri"] }}" hidden>
                {% with class = "w-[24px] h-[24px]" %}
                    {% include "svg/drag.svg" %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
    <div class="w-full pb-1 budget-group-fold">
        {% for category in group["categories"] %}
            <div id="category-{{ category["uri"] }}"
                 class="w-full flex gap-1 pt-1 items-center relative will-change-transform budget-row"
                 hx-include="#budgeting-sidebar">
                <input name="row_uri" value="{{ category["uri"] }}" hidden>
                <div class="w-24 shrink-0 grow cursor-pointer max-lg:hidden"
                     hx-target="#budgeting-sidebar"
                     hx-swap="outerHTML"
                     hx-include="unset"
                     hx-get="{{ url_for('budgeting.sidebar', uri=category['uri'], month= table["month"]) }}">
                    {% include "budgeting/table-row-title.jinja" %}
                </div>
                <div class="w-24 shrink-0 grow cursor-pointer lg:hidden"
                     hx-target="#overlay"
                     hx-swap="innerHTML"
                     hx-include="unset"
                     hx-get="{{ url_for('budgeting.target', uri=category['uri']) }}">
                    {% include "budgeting/table-row-title.jinja" %}
                </div>
                <div class="w-24 shrink-0 text-right max-md:hidden hover-edit">
                    <input class="w-full text-right"
                           type="number"
                           placeholder="0.00"
                           value="{{ "%.2f" % category["assigned"] if category["assigned"] }}"
                           name="amount"
                           hx-target="#budget-table"
                           hx-swap="outerHTML"
                           hx-put="{{ url_for('budgeting.assign', uri=category['uri'], month=table['month']) }}"
                           autocomplete="off">
                    <span class="w-full text-right">{{ category["assigned"] | money }}</span>
                </div>
                <div class="w-24 shrink-0 text-right max-md:hidden">{{ category["activity"] | money }}</div>
                <div class="w-24 shrink-0 text-right" hx-target="#overlay">
                    {% if category["available"] == 0 %}
                        <span class="p-1 rounded bg-grey-50 text-grey-600">{{ category["available"] | money }}</span>
                    {% elif category["available"] > 0 %}
                        <span class="p-1 rounded bg-green-200 transition-colors hover:bg-green-900 hover:text-white cursor-pointer"
                              hx-get="{{ url_for('budgeting.move', uri=category['uri'], month=table['month']) }}">{{ category["available"] | money }}</span>
                    {% else %}
                        <span class="p-1 rounded bg-red-200 transition-colors hover:bg-red-900 hover:text-white cursor-pointer"
                              hx-get="{{ url_for('budgeting.overspending', uri=category['uri'], month=table['month']) }}">{{ category["available"] | money }}</span>
                    {% endif %}
                </div>
                <div class="w-6 shrink-0 cursor-grab budget-row-handle max-md:hidden">
                    {% with class = "w-[24px] h-[24px]" %}
                        {% include "svg/drag.svg" %}
                    {% endwith %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
