<div id="sidebar-error"
     class="w-full bg-red p-1 text-xl empty:hidden my-1"></div>
{% set class = "w-full text-xl flex justify-between p-2 items-center gap-2" %}
{% if table["assignable"] == 0 %}
    <div class="{{ class }} bg-grey-200">
        <div>
            <div>{{ table["assignable"] | money }}</div>
            <div class="text-base">All money assigned</div>
            {% if table["future_assigned"] != 0 %}
                <div class="italic text-sm">{{ table["future_assigned"] | money }} assigned in the future.</div>
            {% endif %}
        </div>
        {% with class = "w-12 h-12 fill-black" %}
            {% include "svg/check.svg" %}
        {% endwith %}
    </div>
{% elif table["assignable"] > 0 %}
    <div class="{{ class }} bg-green-200">
        <div>
            <div>{{ table["assignable"] | money }}</div>
            <div class="text-base">Ready to assign</div>
            {% if table["future_assigned"] != 0 %}
                <div class="italic text-sm">{{ table["future_assigned"] | money }} assigned in the future.</div>
            {% endif %}
        </div>
        <button class="button bg-green"
                hx-get="{{ url_for('budgeting.move', uri='income', month=table['month']) }}">Assign</button>
    </div>
{% else %}
    <div class="{{ class }} bg-red-200">
        <div>
            <div>{{ table["assignable"] | money }}</div>
            <div class="text-base">More money assigned than held</div>
            {% if table["future_assigned"] != 0 %}
                <div class="italic text-sm">{{ table["future_assigned"] | money }} assigned in the future.</div>
            {% endif %}
        </div>
        <button class="button bg-red"
                hx-get="{{ url_for('budgeting.overspending', uri='income', month=table['month']) }}">Fix</button>
    </div>
{% endif %}
{% if table["n_overspent"] > 0 %}
    <div class="bg-red-200 text-center p-2">
        {{ table["n_overspent"] }}
        {% if table["n_overspent"] == 1 %}
            category is
        {% else %}
            categories are
        {% endif %}
        overspent.
    </div>
{% endif %}
