<div class="w-full pl-4 relative">
    <input class="budget-group-toggle hidden"
           type="checkbox"
           id="toggle-{{ name }}">
    <label class="budget-group-toggle-label" for="toggle-{{ name }}"></label>
    <div class="w-full bg-grey-100 flex p-1 items-center">
        <div class="grow">{{ name }}</div>
        <div class="w-28 text-right">{{ group["assigned"] | money }}</div>
        <div class="w-28 text-right">{{ group["activity"] | money }}</div>
        <div class="w-28 text-right pr-1">{{ group["available"] | money }}</div>
    </div>
    {# TODO (WattsUp): Drag to reorder #}
    <div class="budget-group w-full">
        {% for category in group["categories"] %}
            <div id="category-{{ category["uri"] }}"
                 class="w-full flex p-1 items-center"
                 hx-include="#table-month,this">
                <div class="w-2"></div>
                <div class="grow">
                    <div>{{ category["emoji_name"] }}</div>
                    <div class="h-1 bg-grey-400 mr-1">
                        <div class="bg-yellow h-full" style="width: {{ 50 }}%"></div>
                    </div>
                    {# TODO (WattsUp): Add progress bar #}
                </div>
                <div class="w-28 text-right hover-edit">
                    <input class="w-full text-right"
                           placeholder="0.00"
                           value="{{ "%.2f" % category["assigned"] if category["assigned"] }}"
                           name="amount"
                           hx-put="{{ url_for("budgeting.assign", uri=category["uri"]) }}">
                    <span class="w-full text-right">{{ category["assigned"] | money }}</span>
                </div>
                <div class="w-28 text-right">{{ category["activity"] | money }}</div>
                <div class="w-28 text-right"
                     hx-target="#overlay"
                     hx-swap="innerHTML"
                     hx-include="#table-month">
                    {% if category["available"] == 0 %}
                        <span class="p-1 rounded bg-grey-50 text-grey-600">{{ category["available"] | money }}</span>
                    {% elif category["available"] > 0 %}
                        <span class="p-1 rounded bg-green-200 transition-colors hover:bg-green-900 hover:text-white cursor-pointer"
                              hx-get="{{ url_for("budgeting.move", uri=category["uri"]) }}">{{ category["available"] | money }}</span>
                    {% else %}
                        <span class="p-1 rounded bg-red-200 transition-colors hover:bg-red-900 hover:text-white cursor-pointer"
                              hx-get="{{ url_for("budgeting.overspending", uri=category["uri"]) }}">{{ category["available"] | money }}</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
