<div id="budget-table"
     class="w-full flex gap-2 max-lg:flex-col-reverse max-lg:items-center"
     hx-target="#budget-table"
     hx-swap="outerHTML"
     hx-trigger="reorder-rows"
     hx-put="{{ url_for('budgeting.reorder') }}"
     hx-include="this"
     hx-swap-oob="{{ oob }}">
    <input id="budgeting-month" name="month" value="{{ table["month"] }}" hidden>
    <div id="budget-table-root"
         class="grow max-lg:w-full"
         hx-include="#budgeting-month,#budgeting-sidebar">
        <div class="w-full flex gap-1 p-1 h-8 items-center justify-end">
            <div class="w-24 shrink-0 grow pl-1 hover-edit flex items-center max-md:hidden">
                {% with class = "w-[24px] h-[24px]" %}
                    {% include "svg/plus.svg" %}
                {% endwith %}
                <input class="w-full"
                       placeholder="Group name"
                       name="name"
                       hx-post="{{ url_for('budgeting.new_group') }}"
                       hx-target="#sidebar-error"
                       hx-swap="innerHTML">
                <span class="w-full">New Group</span>
            </div>
            <div class="w-24 shrink-0 text-right max-md:hidden">Assigned</div>
            <div class="w-24 shrink-0 text-right max-md:hidden">Activity</div>
            <div class="w-24 shrink-0 text-right">Available</div>
            <div class="w-6 shrink-0 max-md:hidden"></div>
        </div>
        {% for group in table["groups"] %}
            {% include "budgeting/table-group.jinja" %}
        {% endfor %}
        <div id="budget-temp-group" class="w-full"></div>
        <div id="budget-temp-row" class="pl-4 w-full"></div>
        <div id="budget-trash" class="flex justify-center hidden">
            {% with class = "w-1/4" %}
                {% include "svg/trash.svg" %}
            {% endwith %}
        </div>
    </div>
    <div class="w-full max-w-72 max-lg:hidden"
         hx-target="#overlay"
         hx-swap="innerHTML">
        {% include "budgeting/table-status.jinja" %}
        {% include "budgeting/sidebar.jinja" %}
    </div>
    <script>budgeting.setup()</script>
</div>
