<div class="w-full pl-4 relative">
    <input class="budget-group-toggle hidden"
           type="checkbox"
           id="toggle-{{ name }}">
    <label class="budget-group-toggle-label" for="toggle-{{ name }}"></label>
    <div class="w-full flex gap-1 py-1 bg-grey-100">
        <div class="w-28 shrink-0 grow pl-1">{{ name }}</div>
        <div class="w-28 shrink-0 text-right max-md:hidden">{{ group["assigned"] | money }}</div>
        <div class="w-28 shrink-0 text-right max-md:hidden">{{ group["activity"] | money }}</div>
        <div class="w-28 shrink-0 text-right px-1">{{ group["available"] | money }}</div>
    </div>
    <div class="budget-group w-full pb-1">
        {% for category in group["categories"] %}
            <div id="category-{{ category["uri"] }}"
                 class="w-full flex gap-1 pt-1 items-center">
                <div class="w-28 shrink-0 grow">
                    <div>{{ category["emoji_name"] }}</div>
                    {% if category["bar_mode"] == "grey" %}
                        <div class="h-1 mr-1 bg-grey-400"></div>
                    {% elif category["bar_mode"] == "funded" %}
                        <div class="h-1 mr-1 bg-green">
                            <div class="h-full bg-blue-500" style="width: {{ category["bar_w"] }}%"></div>
                        </div>
                    {% elif category["bar_mode"] == "underfunded" %}
                        <div class="h-1 mr-1 bg-red">
                            <div class="h-full bg-blue-500" style="width: {{ category["bar_w"] }}%"></div>
                        </div>
                    {% endif %}
                </div>
                <div class="w-28 shrink-0 text-right max-md:hidden hover-edit">
                    <input class="w-full text-right"
                           placeholder="0.00"
                           value="{{ "%.2f" % category["assigned"] if category["assigned"] }}"
                           name="amount"
                           hx-put="{{ url_for('budgeting.assign', uri=category['uri'], month=table['month']) }}">
                    <span class="w-full text-right">{{ category["assigned"] | money }}</span>
                </div>
                <div class="w-28 shrink-0 text-right max-md:hidden">{{ category["activity"] | money }}</div>
                <div class="w-28 shrink-0 text-right"
                     hx-target="#overlay"
                     hx-swap="innerHTML">
                    {% if category["available"] == 0 %}
                        <span class="p-1 rounded bg-grey-50 text-grey-600">{{ category["available"] | money }}</span>
                    {% elif category["available"] > 0 %}
                        <span class="p-1 rounded bg-green-200 transition-colors hover:bg-green-900 hover:text-white cursor-pointer"
                              hx-get="{{ url_for('budgeting.move', uri=category['uri'], month=table['month']) }}">{{ category["available"] | money }}</span>
                    {% else %}
                        <span class="p-1 rounded bg-red-200 transition-colors hover:bg-red-900 hover:text-white cursor-pointer"
                              hx-get="{{ url_for('budgeting.overspending', uri=category['uri'], month=table['month']) }}">{{ category["available"] | money }}</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
