/* static/src/main.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
  .nav-header {
    @apply hover:bg-green-800 transition-colors p-2 mx-1 cursor-default text-3xl relative font-title h-full;
  }

  .nav-header>ul {
    @apply invisible absolute bg-green-300 text-black font-serif left-0 top-12 min-w-full transition-transform scale-y-0 origin-top;
  }

  .nav-header:hover>ul {
    @apply visible scale-y-100;
  }

  .nav-header>ul>li {
    @apply text-xl whitespace-nowrap;
  }

  .nav-header>ul>li:hover {
    @apply bg-green-800 text-white;
  }

  .nav-header>ul>li>a {
    @apply inset-0  p-2;
  }
}

@font-face {
  font-family: "code-new-roman";
  src: url("/static/fonts/code-new-roman/bold.woff2") format("woff2"), url("/static/fonts/code-new-roman/bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "code-new-roman";
  src: url("/static/fonts/code-new-roman/regular.woff2") format("woff2"), url("/static/fonts/code-new-roman/regular.woff") format("woff");
}

@font-face {
  font-family: "fogtwo-no5";
  src: url("/static/fonts/fogtwo-no5/regular.woff2") format("woff2"), url("/static/fonts/fogtwo-no5/regular.woff") format("woff");
}

@font-face {
  font-family: "linux-libertine";
  src: url("/static/fonts/linux-libertine/regular.woff2") format("woff2"), url("/static/fonts/linux-libertine/regular.woff") format("woff");
}

@font-face {
  font-family: "linux-libertine";
  src: url("/static/fonts/linux-libertine/italic.woff2") format("woff2"), url("/static/fonts/linux-libertine/italic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "linux-libertine";
  src: url("/static/fonts/linux-libertine/oblique.woff2") format("woff2"), url("/static/fonts/linux-libertine/oblique.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "linux-libertine";
  src: url("/static/fonts/linux-libertine/bold.woff2") format("woff2"), url("/static/fonts/linux-libertine/bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "linux-libertine";
  src: url("/static/fonts/linux-libertine/bold-italic.woff2") format("woff2"), url("/static/fonts/linux-libertine/bold-italic.woff") format("woff");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "linux-libertine";
  src: url("/static/fonts/linux-libertine/bold-oblique.woff2") format("woff2"), url("/static/fonts/linux-libertine/bold-oblique.woff") format("woff");
  font-style: oblique;
  font-weight: bold;
}

@font-face {
  font-family: "linux-libertine";
  src: url("/static/fonts/linux-libertine/medium.woff2") format("woff2"), url("/static/fonts/linux-libertine/medium.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "linux-libertine";
  src: url("/static/fonts/linux-libertine/medium-italic.woff2") format("woff2"), url("/static/fonts/linux-libertine/medium-italic.woff") format("woff");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "linux-libertine";
  src: url("/static/fonts/linux-libertine/medium-oblique.woff2") format("woff2"), url("/static/fonts/linux-libertine/medium-oblique.woff") format("woff");
  font-style: oblique;
  font-weight: 600;
}

@font-face {
  font-family: "linux-libertine-capitals";
  src: url("/static/fonts/linux-libertine/capitals.woff2") format("woff2"), url("/static/fonts/linux-libertine/capitals.woff") format("woff");
}

@font-face {
  font-family: "linux-libertine-capitals";
  src: url("/static/fonts/linux-libertine/capitals-italic.woff2") format("woff2"), url("/static/fonts/linux-libertine/capitals-italic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "linux-libertine-capitals";
  src: url("/static/fonts/linux-libertine/capitals-bold.woff2") format("woff2"), url("/static/fonts/linux-libertine/capitals-bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "linux-libertine-capitals";
  src: url("/static/fonts/linux-libertine/capitals-medium-italic.woff2") format("woff2"), url("/static/fonts/linux-libertine/capitals-medium-italic.woff") format("woff");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "linux-libertine-display";
  src: url("/static/fonts/linux-libertine/display.woff2") format("woff2"), url("/static/fonts/linux-libertine/display.woff") format("woff");
}
