/* static/src/main.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {

    input,
    select,
    textarea {
        @apply h-[1.75rem] border px-1 bg-transparent resize-none;
    }

    svg {
        @apply fill-black;
    }

    body {
        --color-green: theme("colors.green.DEFAULT");
        --color-green-600: theme("colors.green.600");
        --color-blue: theme("colors.blue.DEFAULT");
        --color-red: theme("colors.red.DEFAULT");
        --color-red-600: theme("colors.red.600");
        --color-yellow: theme("colors.yellow.DEFAULT");
        --color-grey-500: theme("colors.grey.500");
        --color-white: theme("colors.white.DEFAULT");
        --color-black: theme("colors.black.DEFAULT");
    }

    .nav-folder>.nav-dropdown {
        @apply scale-y-0 transition-transform origin-top duration-300;
    }

    .nav-folder.open>.nav-dropdown {
        @apply scale-y-100;
    }

    .nav-folder.open>.nav-button {
        @apply bg-green-800;
    }

    .nav-button>.nav-hamburger {
        @apply -translate-x-1/2 w-[24px] md:w-[32px] border-t-[3px] md:border-t-4 border-white absolute left-1/2 top-[15px] md:top-[20px] transition-transform;
    }

    .nav-button>.nav-hamburger:nth-child(1) {
        @apply translate-y-[-8px] md:translate-y-[-10px];
    }

    .nav-button>.nav-hamburger:nth-child(3) {
        @apply translate-y-[8px] md:translate-y-[10px];
    }

    .nav-folder.open>.nav-button>.nav-hamburger:nth-child(1) {
        @apply translate-y-0 rotate-45;
    }

    .nav-folder.open>.nav-button>.nav-hamburger:nth-child(2) {
        @apply scale-x-0;
    }

    .nav-folder.open>.nav-button>.nav-hamburger:nth-child(3) {
        @apply translate-y-0 -rotate-45;
    }

    .txn-filter>.txn-filter-dropdown {
        @apply absolute left-0 top-8 bg-white border border-white drop-shadow-md font-normal w-64 hidden;
    }

    .txn-filter.open>.txn-filter-dropdown {
        @apply block;
    }

    .sidebar {
        @apply h-full w-[18rem] shrink-0;
    }

    .sidebar.unpinned {
        @apply fixed transition-transform -translate-x-full duration-300 z-10 top-0 pt-8 md:pt-12;
    }

    .sidebar.unpinned.open {
        @apply translate-x-0;
    }

    .sidebar+.sidebar-spacer {
        @apply w-10 bg-green-300 hidden shrink-0;
    }

    .sidebar.unpinned+.sidebar-spacer {
        @apply md:block;
    }

    .button {
        @apply px-2 rounded border transition-colors;
    }

    .button svg {
        @apply transition-colors;
    }

    .button:hover svg {
        @apply md:fill-white;
    }

    .button.bg-green {
        @apply text-white border-green md:hover:border-green-900 md:hover:bg-green-900;
    }

    .button.hover-green {
        @apply md:hover:border-green-900 md:hover:bg-green-900 md:hover:text-white;
    }

    .button.bg-red {
        @apply text-black border-red md:hover:border-red-900 md:hover:bg-red-900 md:hover:text-white;
    }

    .button.hover-red {
        @apply md:hover:border-red-900 md:hover:bg-red-900 md:hover:text-white;
    }

    .button.bg-blue {
        @apply text-black border-blue md:hover:border-blue-900 md:hover:bg-blue-900 md:hover:text-white;
    }

    .button.hover-blue {
        @apply md:hover:border-blue-900 md:hover:bg-blue-900 md:hover:text-white;
    }

    .button.bg-white {
        @apply text-black border-white md:hover:text-white md:hover:border-green-900 md:hover:bg-green-900;
    }

    .button.bg-yellow {
        @apply text-black border-yellow md:hover:border-yellow-400 md:hover:bg-yellow-400;
    }

    .button.hover-yellow {
        @apply md:hover:border-yellow-400 md:hover:bg-yellow-400;
    }

    .button.bg-yellow:hover svg,
    .button.hover-yellow:hover svg {
        @apply md:fill-black;
    }

    .button:disabled {
        @apply cursor-auto bg-grey-200 text-black border-black md:hover:bg-grey-200 md:hover:text-black md:hover:border-black;
    }

    .checkbox {
        @apply cursor-pointer relative;
    }

    .checkbox input {
        @apply hidden;
    }

    .checkbox svg {
        @apply bg-grey-200 m-0.5 transition-colors fill-grey-600 flex-shrink-0;
    }

    .checkbox:hover input~svg {
        @apply md:bg-grey-400;
    }

    .checkbox input:checked~svg {
        @apply bg-green fill-white;
    }

    .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }

    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
    }

    .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin: -4px 0 0 -4px;
        @apply bg-green;
    }

    .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
    }

    .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
    }

    .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
    }

    .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
    }

    .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
    }

    .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
    }

    .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
    }

    .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
    }

    .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
    }

    .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
    }

    .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
    }

    .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
    }

    .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
    }

    .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
    }

    .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
    }

    .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
    }

    @keyframes lds-roller {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .spinner {
        @apply hidden inset-0 absolute bg-white bg-opacity-50;
    }

    .htmx-request .spinner {
        @apply flex;
    }

    .htmx-request.spinner {
        @apply flex;
    }

    .tooltip {
        @apply relative inline-block underline decoration-dotted;
    }

    .tooltip-text {
        @apply invisible w-64 bg-grey-800 text-white text-center rounded p-1 absolute z-10 opacity-0 transition-opacity;
    }

    .tooltip-text::after {
        @apply content-[""] absolute top-1/2 border-4 border-solid border-transparent;
    }

    .tooltip:hover .tooltip-text {
        @apply md:visible md:opacity-100;
    }

    .budget-group-toggle-label {
        @apply absolute;
    }

    .budget-group-toggle-label::after {
        @apply content-["▼"] absolute -left-4 cursor-pointer text-grey-500 md:hover:text-green;
    }

    .dragging {
        @apply z-50;
    }

    .dragging::before {
        @apply content-[""] absolute -inset-1 bg-white border-2 border-grey-500 shadow-xl z-[-1];
    }

    input[type=checkbox].budget-group-toggle:checked~.budget-group-fold {
        @apply hidden;
    }

    input[type=checkbox].budget-group-toggle:checked~.budget-group-toggle-label::after {
        @apply content-["►"];
    }


    .hover-edit>input,
    .hover-edit:hover>span {
        @apply hidden;
    }

    .hover-edit>span,
    .hover-edit:hover>input,
    .hover-edit>input:focus {
        @apply inline;
    }

    .hover-edit>input:focus+span {
        @apply hidden;
    }
}

@font-face {
    font-family: "code-new-roman";
    src: url("/static/fonts/code-new-roman/bold.woff2") format("woff2"),
        url("/static/fonts/code-new-roman/bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "code-new-roman";
    src: url("/static/fonts/code-new-roman/regular.woff2") format("woff2"),
        url("/static/fonts/code-new-roman/regular.woff") format("woff");
}

@font-face {
    font-family: "fogtwo-no5";
    src: url("/static/fonts/fogtwo-no5/regular.woff2") format("woff2"),
        url("/static/fonts/fogtwo-no5/regular.woff") format("woff");
}

@font-face {
    font-family: "linux-libertine";
    src: url("/static/fonts/linux-libertine/regular.woff2") format("woff2"),
        url("/static/fonts/linux-libertine/regular.woff") format("woff");
}

@font-face {
    font-family: "linux-libertine";
    src: url("/static/fonts/linux-libertine/italic.woff2") format("woff2"),
        url("/static/fonts/linux-libertine/italic.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: "linux-libertine";
    src: url("/static/fonts/linux-libertine/oblique.woff2") format("woff2"),
        url("/static/fonts/linux-libertine/oblique.woff") format("woff");
    font-style: oblique;
}

@font-face {
    font-family: "linux-libertine";
    src: url("/static/fonts/linux-libertine/bold.woff2") format("woff2"),
        url("/static/fonts/linux-libertine/bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "linux-libertine";
    src: url("/static/fonts/linux-libertine/bold-italic.woff2") format("woff2"),
        url("/static/fonts/linux-libertine/bold-italic.woff") format("woff");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "linux-libertine";
    src: url("/static/fonts/linux-libertine/bold-oblique.woff2") format("woff2"),
        url("/static/fonts/linux-libertine/bold-oblique.woff") format("woff");
    font-style: oblique;
    font-weight: bold;
}

@font-face {
    font-family: "linux-libertine";
    src: url("/static/fonts/linux-libertine/medium.woff2") format("woff2"),
        url("/static/fonts/linux-libertine/medium.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "linux-libertine";
    src: url("/static/fonts/linux-libertine/medium-italic.woff2") format("woff2"),
        url("/static/fonts/linux-libertine/medium-italic.woff") format("woff");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "linux-libertine";
    src: url("/static/fonts/linux-libertine/medium-oblique.woff2") format("woff2"),
        url("/static/fonts/linux-libertine/medium-oblique.woff") format("woff");
    font-style: oblique;
    font-weight: 600;
}

@font-face {
    font-family: "linux-libertine-capitals";
    src: url("/static/fonts/linux-libertine/capitals.woff2") format("woff2"),
        url("/static/fonts/linux-libertine/capitals.woff") format("woff");
}

@font-face {
    font-family: "linux-libertine-capitals";
    src: url("/static/fonts/linux-libertine/capitals-italic.woff2") format("woff2"),
        url("/static/fonts/linux-libertine/capitals-italic.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: "linux-libertine-capitals";
    src: url("/static/fonts/linux-libertine/capitals-bold.woff2") format("woff2"),
        url("/static/fonts/linux-libertine/capitals-bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "linux-libertine-capitals";
    src: url("/static/fonts/linux-libertine/capitals-medium-italic.woff2") format("woff2"),
        url("/static/fonts/linux-libertine/capitals-medium-italic.woff") format("woff");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "linux-libertine-display";
    src: url("/static/fonts/linux-libertine/display.woff2") format("woff2"),
        url("/static/fonts/linux-libertine/display.woff") format("woff");
}

@font-face {
    font-family: "liberation-sans";
    src: url("/static/fonts/liberation-sans/regular.woff2") format("woff2"),
        url("/static/fonts/liberation-sans/regular.woff") format("woff");
}

@font-face {
    font-family: "liberation-sans";
    src: url("/static/fonts/liberation-sans/italic.woff2") format("woff2"),
        url("/static/fonts/liberation-sans/italic.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: "liberation-sans";
    src: url("/static/fonts/liberation-sans/bold.woff2") format("woff2"),
        url("/static/fonts/liberation-sans/bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "liberation-sans";
    src: url("/static/fonts/liberation-sans/bold-italic.woff2") format("woff2"),
        url("/static/fonts/liberation-sans/bold-italic.woff") format("woff");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "noto-color-emoji";
    src: local("Noto Color Emoji"),
        url("/static/fonts/noto-color-emoji/regular.ttf") format("truetype");
}
