/* static/src/main.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
  input,
  select {
    @apply h-[1.75rem] border px-1;
  }

  svg {
    @apply fill-black;
  }

  a[hx-get],
  a[hx-post],
  a[hx-delete],
  a[hx-put] {
    @apply cursor-pointer;
  }

  .button {
    @apply px-2 rounded border transition-colors;
  }

  .button svg {
    @apply transition-colors;
  }

  .button:hover svg {
    @apply fill-white;
  }

  .button.bg-green {
    @apply text-white border-green hover:border-green-900 hover:bg-green-900;
  }

  .button.hover\:green {
    @apply hover:border-green-900 hover:bg-green-900 hover:text-white;
  }

  .button.bg-red {
    @apply text-black border-red hover:border-red-900 hover:bg-red-900 hover:text-white;
  }

  .button.hover\:red {
    @apply hover:border-red-900 hover:bg-red-900 hover:text-white;
  }

  .button.bg-blue {
    @apply text-black border-blue hover:border-blue-900 hover:bg-blue-900 hover:text-white;
  }

  .button.hover\:blue {
    @apply hover:border-blue-900 hover:bg-blue-900 hover:text-white;
  }

  .button.bg-white {
    @apply text-black border-white hover:text-white hover:border-green-900 hover:bg-green-900;
  }

  .empty-hidden:empty {
    @apply hidden;
  }

  .txn-category {
    @apply flex;
  }

  .txn-category:hover > svg {
    @apply fill-black;
  }

  .txn-category > svg {
    @apply block fill-white transition-colors p-1;
  }

  .checkbox {
    @apply cursor-pointer relative;
  }

  .checkbox input {
    @apply absolute opacity-0 cursor-pointer h-0 w-0;
  }

  .checkbox svg {
    @apply bg-grey-200 m-0.5 transition-colors fill-grey-600 flex-shrink-0;
  }

  .checkbox:hover input ~ svg {
    @apply bg-grey-400;
  }

  .checkbox input:checked ~ svg {
    @apply bg-green fill-white;
  }

  .sidebar {
    /* Default styling */
    @apply h-full overflow-y-auto bg-green-300 w-full font-serif;
  }

  .sidebar-container {
    /* Default styling */
    @apply h-full w-[18rem] z-10 pt-12 top-0;
    /* Collapable */
    @apply fixed left-[-18rem] hover:left-0 transition-[left] hover:after:content-["🡄"];
    /* Not collapsible */
    @apply xl:relative xl:left-0 xl:transition-none;
  }

  .sidebar-container::after {
    /* Hover tab */
    @apply block absolute bg-blue-500 w-[32px] h-24 right-[-32px] top-16 rounded-r-lg;
    /* Arrow */
    @apply content-["🡆"] text-white text-center text-2xl;
    /* Not collapsible */
    @apply xl:hidden;
  }

  .transactions-table .row:nth-child(even) {
    @apply bg-grey-50;
  }

  .transactions-table .row,
  .transactions-table.header {
    @apply w-full flex justify-between;
  }

  .transactions-table .row.hoverable {
    @apply hover:bg-grey-100;
  }

  .transactions-table .col {
    @apply p-1 whitespace-nowrap overflow-hidden text-ellipsis;
  }

  .transactions-table .col-date {
    @apply w-[6rem] min-w-[6rem];
  }

  .transactions-table .col-account {
    @apply w-[8rem] min-w-[8rem];
  }

  .transactions-table .col-payee {
    @apply w-[8rem] min-w-[8rem];
  }

  .transactions-table .col-desc {
    @apply w-[8rem] min-w-[8rem] grow;
  }

  .transactions-table .col-cat {
    @apply w-[8rem] min-w-[8rem];
  }

  .transactions-table .col-tag {
    @apply w-[6rem] min-w-[6rem];
  }

  .transactions-table .col-amount {
    @apply w-[7rem] min-w-[7rem] text-right;
  }

  .transactions-table .col-locked {
    @apply w-[1.5rem] min-w-[1.5rem] p-0 flex items-center;
  }

  .transactions-table .col-locked svg {
    @apply m-0 w-[24px] h-[24px];
  }

  .transactions-table.header .col-locked svg {
    @apply bg-grey-200 transition-colors fill-grey-600 cursor-pointer hover:bg-green-400 hover:fill-white;
  }

  .transactions-table.header .col-locked svg.checked {
    @apply bg-green fill-white;
  }

  .transactions-table.header .col-locked svg.unchecked {
    @apply bg-green fill-transparent;
  }

  .transactions-table.header .col {
    @apply flex items-center relative overflow-visible;
  }

  .transactions-table.header .col:hover > svg {
    @apply fill-green;
  }

  .transactions-table.header .col:hover .filter-dropdown {
    @apply block;
  }

  .filter-dropdown {
    @apply absolute left-0 top-8 bg-white border border-white drop-shadow-md font-normal w-64 hidden;
  }

  .filter-dropdown > input {
    @apply w-full;
  }

  .filter-dropdown .options {
    @apply overflow-y-scroll overflow-x-hidden h-60 pr-1;
  }

  .filter-dropdown .options label {
    @apply flex w-full checkbox;
  }

  .filter-dropdown .options label span {
    @apply min-w-0 overflow-hidden overflow-ellipsis;
  }

  .split-row {
    @apply w-full flex justify-between mt-1;
  }

  .split-row .col {
    @apply p-1 whitespace-nowrap overflow-hidden text-ellipsis;
  }

  .split-row .col-payee {
    @apply w-[12rem] min-w-[12rem];
  }

  .split-row .col-desc {
    @apply w-[10rem] min-w-[10rem];
  }

  .split-row .col-cat {
    @apply w-[9rem] min-w-[9rem];
  }

  .split-row .col-tag {
    @apply w-[11rem] min-w-[11rem];
  }

  .split-row .col-amount {
    @apply w-[7rem] min-w-[7rem] text-right;
  }
}

@font-face {
  font-family: "code-new-roman";
  src: url("/static/fonts/code-new-roman/bold.woff2") format("woff2"),
    url("/static/fonts/code-new-roman/bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "code-new-roman";
  src: url("/static/fonts/code-new-roman/regular.woff2") format("woff2"),
    url("/static/fonts/code-new-roman/regular.woff") format("woff");
}

@font-face {
  font-family: "fogtwo-no5";
  src: url("/static/fonts/fogtwo-no5/regular.woff2") format("woff2"),
    url("/static/fonts/fogtwo-no5/regular.woff") format("woff");
}

@font-face {
  font-family: "linux-libertine";
  src: url("/static/fonts/linux-libertine/regular.woff2") format("woff2"),
    url("/static/fonts/linux-libertine/regular.woff") format("woff");
}

@font-face {
  font-family: "linux-libertine";
  src: url("/static/fonts/linux-libertine/italic.woff2") format("woff2"),
    url("/static/fonts/linux-libertine/italic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "linux-libertine";
  src: url("/static/fonts/linux-libertine/oblique.woff2") format("woff2"),
    url("/static/fonts/linux-libertine/oblique.woff") format("woff");
  font-style: oblique;
}

@font-face {
  font-family: "linux-libertine";
  src: url("/static/fonts/linux-libertine/bold.woff2") format("woff2"),
    url("/static/fonts/linux-libertine/bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "linux-libertine";
  src: url("/static/fonts/linux-libertine/bold-italic.woff2") format("woff2"),
    url("/static/fonts/linux-libertine/bold-italic.woff") format("woff");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "linux-libertine";
  src: url("/static/fonts/linux-libertine/bold-oblique.woff2") format("woff2"),
    url("/static/fonts/linux-libertine/bold-oblique.woff") format("woff");
  font-style: oblique;
  font-weight: bold;
}

@font-face {
  font-family: "linux-libertine";
  src: url("/static/fonts/linux-libertine/medium.woff2") format("woff2"),
    url("/static/fonts/linux-libertine/medium.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "linux-libertine";
  src: url("/static/fonts/linux-libertine/medium-italic.woff2") format("woff2"),
    url("/static/fonts/linux-libertine/medium-italic.woff") format("woff");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "linux-libertine";
  src: url("/static/fonts/linux-libertine/medium-oblique.woff2") format("woff2"),
    url("/static/fonts/linux-libertine/medium-oblique.woff") format("woff");
  font-style: oblique;
  font-weight: 600;
}

@font-face {
  font-family: "linux-libertine-capitals";
  src: url("/static/fonts/linux-libertine/capitals.woff2") format("woff2"),
    url("/static/fonts/linux-libertine/capitals.woff") format("woff");
}

@font-face {
  font-family: "linux-libertine-capitals";
  src: url("/static/fonts/linux-libertine/capitals-italic.woff2")
      format("woff2"),
    url("/static/fonts/linux-libertine/capitals-italic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "linux-libertine-capitals";
  src: url("/static/fonts/linux-libertine/capitals-bold.woff2") format("woff2"),
    url("/static/fonts/linux-libertine/capitals-bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "linux-libertine-capitals";
  src: url("/static/fonts/linux-libertine/capitals-medium-italic.woff2")
      format("woff2"),
    url("/static/fonts/linux-libertine/capitals-medium-italic.woff")
      format("woff");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "linux-libertine-display";
  src: url("/static/fonts/linux-libertine/display.woff2") format("woff2"),
    url("/static/fonts/linux-libertine/display.woff") format("woff");
}

@font-face {
  font-family: "liberation-sans";
  src: url("/static/fonts/liberation-sans/regular.woff2") format("woff2"),
    url("/static/fonts/liberation-sans/regular.woff") format("woff");
}

@font-face {
  font-family: "liberation-sans";
  src: url("/static/fonts/liberation-sans/italic.woff2") format("woff2"),
    url("/static/fonts/liberation-sans/italic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "liberation-sans";
  src: url("/static/fonts/liberation-sans/bold.woff2") format("woff2"),
    url("/static/fonts/liberation-sans/bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "liberation-sans";
  src: url("/static/fonts/liberation-sans/bold-italic.woff2") format("woff2"),
    url("/static/fonts/liberation-sans/bold-italic.woff") format("woff");
  font-style: italic;
  font-weight: bold;
}
