<div class="flex justify-between items-center">
    <h1 class="text-3xl font-serif text-primary">Health Checks</h1>
    <button class="btn-tonal"
            hx-target="#health-checks"
            hx-disabled-elt="this"
            hx-post="{{ url_for('health.refresh') }}"
            hx-indicator="#health-indicator">
        <icon>refresh</icon>Refresh
    </button>
</div>
{% include "health/timestamp.jinja" %}
<div class="prose mx-auto">
    These inspect the portfolio for issues, checking for anything that looks out of place.
    If there's a false positive, then click the hide button to ignore.
</div>
<div id="health-checks" class="w-full max-w-3xl mx-auto">{% include "health/checks.jinja" %}</div>
