<!DOCTYPE html>
{# djlint: off #}
{# ignore missing <head> #}
<html lang="en-US">
{# djlint: on #}
{% with title="Login | nummus", resizes="visual" %}
    {% include "shared/head.jinja" %}
{% endwith %}
<body class="bg-primary-container"
      hx-on::send-error="nummusSendError(event)"
      hx-on::response-error="nummusResponseError(event)">
    {% include "shared/hx-error.jinja" %}
    <div id="main-sizer" class="p-0 pb-28">
        <main id="main" class="flex flex-col justify-center items-center">
            <form id="form-login"
                  class="w-full max-w-96 grow max-h-96 bg-surface p-2 flex flex-col items-center rounded-2xl mx-2 my-8"
                  hx-post="{{ url_for('auth.login') }}"
                  hx-target="#login-error"
                  hx-include="this"
                  hx-disable-etl="button">
                <h1 class="font-title text-7xl">nummus</h1>
                <p class="text-center grow">
                    A personal financial information aggregator and planning tool.
                    Collects and categorizes transactions, manages budgets, tracks investments,
                    calculates net worth, and predicts future performance.
                </p>
                <div id="login-error" class="error"></div>
                {% if next_url %}<input type="hidden" name="next" value="{{ next_url }}">{% endif %}
                <label class="input-outlined w-full my-2">
                    <input class="scroll-mb-20"
                           type="password"
                           name="password"
                           enterkeyhint="go"
                           placeholder=""
                           autofocus>
                    <div>
                        <div>Password</div>
                    </div>
                </label>
                <button class="btn-filled font-serif btn-size-lg">
                    Login
                    <icon>login</icon>
                </button>
            </form>
        </main>
    </div>
    {% block footer %}
        {% include "shared/footer.jinja" %}
    {% endblock footer %}
</body>
</html>
