<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Login | nummus</title>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <meta name="description"
              content="A personal financial information aggregator and planning tool." />
        <meta name="keywords" content="">
        <link rel="icon"
              type="image/x-icon"
              href="{{ url_for('static', filename='img/favicon.ico') }}">
        {% assets "css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
        {% assets "js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
            {# DELETE is supposed to use request parameters but form is way better #}
            {# htmx 2.x followed the spec properly, revert #}
            <script>htmx.config.methodsThatUseUrlParams = ["get"]</script>
        {% endassets %}
    </head>
    <body class="antialiased bg-green-300 h-screen w-screen relative text-black flex flex-col">
        <main class="overflow-y-scroll grow max-w-[100vw] flex justify-center items-center"
              id="main">
            {# Dummy sidebar element so the JS listener doesn't complain #}
            <div id="sidebar" hidden></div>
            <div id="form-login"
                 class="w-full max-w-96 h-full max-h-96 bg-grey-100 p-2 flex flex-col">
                <h1 class="font-title text-4xl md:text-5xl lg:text-6xl">nummus</h1>
                <p class="text-center grow">
                    A personal financial information aggregator and planning tool.
                    Collects and categorizes transactions, manages budgets, tracks investments,
                    calculates net worth, and predicts future performance.
                </p>
                <div id="login-error" class="w-full bg-red p-1 text-xl empty:hidden my-1"></div>
                {% if next_url %}<input type="hidden" name="next" value="{{ next_url }}">{% endif %}
                <input class="my-2" type="password" placeholder="Password" name="password">
                <button class="button bg-green mx-auto text-3xl font-serif px-3 py-1.5"
                        hx-post="{{ url_for('auth.login') }}"
                        hx-target="#login-error"
                        hx-include="#form-login">Login</button>
            </div>
        </main>
        {% block footer %}
            {% include "/shared/footer.jinja" %}
        {% endblock footer %}
    </body>
</html>
